head
  meta(charset="UTF-8")
  
  meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  title stek
  link(rel='stylesheet', href='css/plugins/bootstrap.css')
  link(rel='stylesheet', href='css/plugins/jquery.formstyler.css')
  link(rel='stylesheet', href='css/plugins/jquery.formstyler.theme.css')
  link(rel='stylesheet', href='css/plugins/slick.css')
  link(rel='stylesheet', href='css/plugins/slick-theme.css')
  link(rel='stylesheet', href='css/plugins/nanoscroller.css')
  link(rel='stylesheet', href='css/plugins/magnific-popup.css')
  link(rel='stylesheet', href='css/plugins/dropzone.min.css')

  link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")





  link(rel='stylesheet', href='css/style.css?v=1')
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
  meta(name="format-detection", content="telephone=no")


