
script(src="js/plugins/jquery-3.4.1.min.js")
script(src="js/plugins/bootstrap.js")
script(src="js/plugins/jquery.formstyler.min.js")
script(src="js/plugins/jquery.maskedinput.js")
script(src="js/plugins/jquery.nanoscroller.min.js")
script(src="js/plugins/slick.js")
script(src="js/plugins/readmore.js")
script(src="js/plugins/jquery.magnific-popup.js")
script(src="js/plugins/flexmenu.js")
script(src="js/plugins/modernizr.custom.js")
script(src="http://cdn.jsdelivr.net/momentjs/latest/moment.min.js")
script(src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")
script(src="js/plugins/dropzone.min.js")
script(src="js/plugins/dropzone-amd-module.min.js")

script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=103ba73d-586f-49f7-9662-c26f48f3fcee"  type="text/javascript")
script(src="js/map.js" type="text/javascript")


script(src="./js/index.js")
