doctype html
html(lang='ru')
  include ../_components/mixins
  include ../templates/head
  

  body(itemscope="itemscope" itemtype="http://schema.org/WebPage")
    include ../_components/sidebar
    include ../_components/header-top
    //include ../_components/menu-mob
    //include ../_components/modals
    .header-slider__wrap.slider__wrap
      include ../_components/header
      .header-slider__wrap
        .header-slider__bg(style="background-image:url('../img/bg-header-img.jpg');")
          .container
            .header-slider__item-inner
              .row
                .col-6
                  .header-slider__title Бизнес
                    .span-br как система
                  .header-slider__desc
                    | Линейка наших услуг сформирована исходя из потребностей 
                    | современной компании в ИТ-сервисах, приведенных к единым 
                    | стандартам обслуживания.
                .col-4.offset-lg-1
                  .header-slider
                    .header-slider__item
                      img(src='../img/calc.png' alt='', title='').header-slider__right-img
                      .header-slider__text
                        | Контролируйте затраты на ИТ
                        | экономя до 70% бюджета
                    .header-slider__item
                      img(src='../img/calc.png' alt='', title='').header-slider__right-img
                      .header-slider__text
                        | Контролируйте затраты на ИТ
                        | экономя до 70% бюджета

      .container.container-dotted
        .dotted-wrap
          .header-slider__pagin
            .dotted-header-slider__block-desc

    .header-fade
    .wrapper
      block content
      include ../_components/footer
        
      
      
      
      
      
      
      
      
      
    include ../templates/scripts.pug
      
