@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('../fonts/gilroy-semibold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/gilroy-semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/gilroy-semibold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/gilroy-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/gilroy-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/gilroy-semibold.svg#gilroy-semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../fonts/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/gilroy-regular.svg#gilroy-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}


@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}


@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}


@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../fonts/gilroy-extrabold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/gilroy-extrabold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/gilroy-extrabold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/gilroy-extrabold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/gilroy-extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/gilroy-extrabold.svg#gilroy-extrabold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url('../fonts/gilroy-heavy.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/gilroy-heavy.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/gilroy-heavy.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/gilroy-heavy.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/gilroy-heavy.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/gilroy-heavy.svg#gilroy-heavy') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('../fonts/gilroy-light.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/gilroy-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/gilroy-light.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/gilroy-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/gilroy-light.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/gilroy-light.svg#gilroy-light') format('svg'); /* Chrome < 4, Legacy iOS */
}



@font-face {
  font-family: 'gilroylight';
  src: url('../fonts/gilroylight.eot');
  src: url('../fonts/gilroylight.eot') format('embedded-opentype'),
  url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff'),
  url('../fonts/gilroylight.ttf') format('truetype'),
  url('../fonts/gilroylight.svg#gilroylight') format('svg');
}


@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light1.eot');
  src: local('Gilroy Light1'), local('Gilroy-Light'),
  url('../fonts/Gilroy-Light1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Light1.woff2') format('woff2'),
  url('../fonts/Gilroy-Light1.woff') format('woff'),
  url('../fonts/Gilroy-Light1.ttf') format('truetype'),
  url('../fonts/Gilroy-Light1.svg#Gilroy-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}




@font-face {
  font-family: 'PFBeauSansPro-Light';
  src: url('../fonts/PFBeauSansPro-Light.eot');
  src: url('../fonts/PFBeauSansPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBeauSansPro-Light.woff2') format('woff2'),
  url('../fonts/PFBeauSansPro-Light.woff') format('woff'),
  url('../fonts/PFBeauSansPro-Light.ttf') format('truetype'),
  url('../fonts/PFBeauSansPro-Light.svg#PFBeauSansPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro-LightItalic';
  src: url('../fonts/PFBeauSansPro-LightItalic.eot');
  src: url('../fonts/PFBeauSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBeauSansPro-LightItalic.woff2') format('woff2'),
  url('../fonts/PFBeauSansPro-LightItalic.woff') format('woff'),
  url('../fonts/PFBeauSansPro-LightItalic.ttf') format('truetype'),
  url('../fonts/PFBeauSansPro-LightItalic.svg#PFBeauSansPro-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'PFBeauSansPro-XThin';
  src: url('../fonts/PFBeauSansPro-XThin.eot');
  src: url('../fonts/PFBeauSansPro-XThin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBeauSansPro-XThin.woff2') format('woff2'),
  url('../fonts/PFBeauSansPro-XThin.woff') format('woff'),
  url('../fonts/PFBeauSansPro-XThin.ttf') format('truetype'),
  url('../fonts/PFBeauSansPro-XThin.svg#PFBeauSansPro-XThin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro-Black';
  src: url('../fonts/PFBeauSansPro-Black.eot');
  src: url('../fonts/PFBeauSansPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBeauSansPro-Black.woff2') format('woff2'),
  url('../fonts/PFBeauSansPro-Black.woff') format('woff'),
  url('../fonts/PFBeauSansPro-Black.ttf') format('truetype'),
  url('../fonts/PFBeauSansPro-Black.svg#PFBeauSansPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro-SemiBoldItalic';
  src: url('../fonts/PFBeauSansPro-SemiBoldItalic.eot');
  src: url('../fonts/PFBeauSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBeauSansPro-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/PFBeauSansPro-SemiBoldItalic.woff') format('woff'),
  url('../fonts/PFBeauSansPro-SemiBoldItalic.ttf') format('truetype'),
  url('../fonts/PFBeauSansPro-SemiBoldItalic.svg#PFBeauSansPro-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'PFBeauSansPro-Bold';
  src: url('../fonts/PFBeauSansPro-Bold.eot');
  src: url('../fonts/PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBeauSansPro-Bold.woff2') format('woff2'),
  url('../fonts/PFBeauSansPro-Bold.woff') format('woff'),
  url('../fonts/PFBeauSansPro-Bold.ttf') format('truetype'),
  url('../fonts/PFBeauSansPro-Bold.svg#PFBeauSansPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro-ThinItalic';
  src: url('../fonts/PFBeauSansPro-ThinItalic.eot');
  src: url('../fonts/PFBeauSansPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBeauSansPro-ThinItalic.woff2') format('woff2'),
  url('../fonts/PFBeauSansPro-ThinItalic.woff') format('woff'),
  url('../fonts/PFBeauSansPro-ThinItalic.ttf') format('truetype'),
  url('../fonts/PFBeauSansPro-ThinItalic.svg#PFBeauSansPro-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'PFBeauSansPro-Thin';
  src: url('../fonts/PFBeauSansPro-Thin.eot');
  src: url('../fonts/PFBeauSansPro-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBeauSansPro-Thin.woff2') format('woff2'),
  url('../fonts/PFBeauSansPro-Thin.woff') format('woff'),
  url('../fonts/PFBeauSansPro-Thin.ttf') format('truetype'),
  url('../fonts/PFBeauSansPro-Thin.svg#PFBeauSansPro-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro-BoldItalic';
  src: url('../fonts/PFBeauSansPro-BoldItalic.eot');
  src: url('../fonts/PFBeauSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBeauSansPro-BoldItalic.woff2') format('woff2'),
  url('../fonts/PFBeauSansPro-BoldItalic.woff') format('woff'),
  url('../fonts/PFBeauSansPro-BoldItalic.ttf') format('truetype'),
  url('../fonts/PFBeauSansPro-BoldItalic.svg#PFBeauSansPro-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PFBeauSansPro-SemiBold';
  src: url('../fonts/PFBeauSansPro-SemiBold.eot');
  src: url('../fonts/PFBeauSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBeauSansPro-SemiBold.woff2') format('woff2'),
  url('../fonts/PFBeauSansPro-SemiBold.woff') format('woff'),
  url('../fonts/PFBeauSansPro-SemiBold.ttf') format('truetype'),
  url('../fonts/PFBeauSansPro-SemiBold.svg#PFBeauSansPro-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro-Regular';
  src: url('../fonts/PFBeauSansPro-Regular.eot');
  src: url('../fonts/PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBeauSansPro-Regular.woff2') format('woff2'),
  url('../fonts/PFBeauSansPro-Regular.woff') format('woff'),
  url('../fonts/PFBeauSansPro-Regular.ttf') format('truetype'),
  url('../fonts/PFBeauSansPro-Regular.svg#PFBeauSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro-BlackItalic';
  src: url('../fonts/PFBeauSansPro-BlackItalic.eot');
  src: url('../fonts/PFBeauSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBeauSansPro-BlackItalic.woff2') format('woff2'),
  url('../fonts/PFBeauSansPro-BlackItalic.woff') format('woff'),
  url('../fonts/PFBeauSansPro-BlackItalic.ttf') format('truetype'),
  url('../fonts/PFBeauSansPro-BlackItalic.svg#PFBeauSansPro-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'PFBeauSansPro-Italic';
  src: url('../fonts/PFBeauSansPro-Italic.eot');
  src: url('../fonts/PFBeauSansPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBeauSansPro-Italic.woff2') format('woff2'),
  url('../fonts/PFBeauSansPro-Italic.woff') format('woff'),
  url('../fonts/PFBeauSansPro-Italic.ttf') format('truetype'),
  url('../fonts/PFBeauSansPro-Italic.svg#PFBeauSansPro-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PFBeauSansPro-XThinItalic';
  src: url('../fonts/PFBeauSansPro-XThinItalic.eot');
  src: url('../fonts/PFBeauSansPro-XThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBeauSansPro-XThinItalic.woff2') format('woff2'),
  url('../fonts/PFBeauSansPro-XThinItalic.woff') format('woff'),
  url('../fonts/PFBeauSansPro-XThinItalic.ttf') format('truetype'),
  url('../fonts/PFBeauSansPro-XThinItalic.svg#PFBeauSansPro-XThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}


