@import '_misc/adjustment';

/* Стили bootstrap*/

@media (min-width: 1200px) {
  .container {
    max-width: 1500px;
    //padding-right: 10px;
    //padding-left: 10px;

  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
  .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
  .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
  .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
  .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
  .col-xl-auto {
    //padding-right: 10px;
    //padding-left: 10px;
  }

  .row {
    //margin-right: -10px;
    //margin-left: -10px;
  }

}

/**/

/* прибитие футера к низу*/

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 10.94rem);
}

.header-container__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  margin-top: 53px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

}


.header-top,
.sidebar-menu{
  .button{
    font-size: 14px;
    padding: 12px 24px;
  }
}

.header-menu__item {
  margin-right: 40px;
  @include last-mr-0
}

.header-menu__link {
  color: #000000;
  font-family: $GilroySemiBold;
  font-size: 18px;
  @include hover-link(#749362)
}

.header-menu__item.active {
  color: #749362;
}

.header-menu_list {
  display: flex;
  align-items: center;
}


/* search header */
p {
  margin-bottom: 30px;
  @include last-mb-0
  line-height: 1.56;
}

.desc {
  //margin-bottom: 95px;
}

.price{
  white-space: nowrap;
}

.span-br {
  display: block;
}

.header__control-box {
  padding: 0 34px;
  height: 52px;
}

.header__search {
  float: right;
  height: 50px;
  width: 40px;
  //position: absolute;
  overflow: hidden;
  top: 0;
  right: 15px;
  display: flex;
  background: #ffffff;
  transition: width 0.3s ease;
  border: 1px solid transparent;
}

.header__search-open {
  background: url("../img/icon-search.png") center no-repeat;
  background-size: 13px 13px;
  width: 60px;
  fill: #0093c9;
  padding: 15px 10px;
  flex: 1 1 40px;
  height: 100%;
  cursor: pointer;

  &:hover {
    background: url("../img/icon-search.png") center no-repeat;

  }
}

.header__search-input {
  flex: 1 1 calc(100% - 240px);
  padding: 5px 0 8px 0;
  font-size: 15px;
}

.header__search-input input {
  width: 100%;
  padding: 9px 0;
  border: none;

}

.header__search.open {
  width: 100%;
  max-width: 1170px;
  border: 1px solid $vtk-green;

  .header__search-open {
    cursor: default;
  }

  .header__search-cancell {
    border-left: 1px solid $vtk-green;

  }

}

.header__search-find {
  flex: 1 1 85px;
  text-transform: uppercase;
  color: $vtk-green;
  text-decoration: none;
  background: transparent;
  border: none;
  font-size: 13px;

  &:hover {
    color: $vtk-dark-green;
  }
}

.header__search-cancell {
  border-left: 1px solid transparent;
  text-transform: uppercase;
  cursor: pointer;
  flex: 1 1 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: $vtk-green;

  &:after {
    content: '+';
    color: $vtk-green;
    font-size: 25px;
    transform: rotate(45deg);
    font-weight: normal;
    margin-left: 7px;
    line-height: 10px;
  }

  &:hover {
    color: $vtk-dark-green;

    &:after {
      color: $vtk-dark-green;

    }
  }

}


/**/


.header-tel {
  font-size: 18px;
  color: #000000;
  font-family: $GilroyExtraBold;
  margin-right: 40px;
}

.header-call {
  color: #000000;
  font-family: $GilroySemiBold;
  margin-right: 33px;
}

.button {
  display: inline-flex;
  border-radius: 3px;
  font-size: 18px;
  
  font-family: $GilroyBold;

}

.button-white {
  background: #ffffff;
  color: #a12c4c;
  @include hover-link(#a12c4c)
  padding: 19px 32px;
}

.button-white-black{
  font-family: $GilroyBold;
  font-size: 16px;
  background: #ffffff;
  color: #000000;
  @include hover-link(#000000)
  padding: 21px 40px;
}

.button-red {
  background: #a12c4c;
  color: #ffffff;
  padding: 17px 44px;
}

.button-red__banner{
  background: #a12c4c;
  color: #ffffff;
  font-size: 24px;
  padding: 23px 45px 28px 45px;
}

.button-tr{
  border: 2px solid #ceebff;
  font-family: $GilroySemiBold;
  font-size: 14px;
  color: #ceebff;
  padding: 10px 23px;
  @include hover-link(#ceebff)

}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 140px;
  padding-top: 55px;
  background: #31314f;
  box-shadow: 0px 10px 50px 0 rgba(0, 0, 0, 0.25);
  z-index: 10000;
}

.humb {
  @include background-contain('icon-humb.png')
  width: 32px;
  height: 26px;
  margin: 0 auto;

}

.sidebar-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
  }
}

.sidebar-title {
  transform: rotate(-90deg);

  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 45px;

}

.sidebar-copy--img {
  @include width-flex(30px)
  height: 30px;
  transform: rotate(90deg);

}

.sidebar-copy {
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  margin-bottom: 80px;
  height: 200px;

}

.sidebar-copy__text {
  font-size: 14px;
  font-family: $GilroySemiBold;
  white-space: nowrap;
  margin-left: 19px;
  color: #456993;

}

.sidebar-menu__level-1 {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 25%;
  background: #ffffff;
  z-index: 3000;
  transition: all ease-in-out 0.9s;
  box-shadow: 0px 10px 50px 0 rgba(0, 0, 0, 0.25);
  //transition: opacity 0.25s linear;
  //will-change: opacity;
  animation-delay: 0.5s;

  .nano-pane {
    display: none !important;
  }
}

.sidebar-menu__level-2 {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 75%;
  background: #ffffff;
  z-index: 2000;
  transition: all ease-in-out 0.5s;
  //transition: opacity 0.25s linear;
  //will-change: opacity;
  animation-delay: 0.5s;
}

.sidebar-menu__inner--right {
  padding: 88px 105px 20px 105px;

}

.submenu {
  position: fixed;
  padding-top: 254px;
  top: 0;
  left: -476px;
  //left: 25%;

  bottom: 0;
  width: 20%;
  z-index: 2500;
  transition: all ease-in-out 0.5s;
  background: #31314f;

}

.submenu.active {
  left: 25%;
  transition: all ease-in-out 0.5s;
}

.submenu__item {
  margin-bottom: 15px;
}

.submenu--link {
  color: #ffffff;

  &:hover {
    color: #ffffff;

  }

}

.noneShadow {
  box-shadow: none;
}


.sidebar-block {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body.active {
  .sidebar {
    box-shadow: none;
  }

  .sidebar-menu__level-1 {
    left: 0px;
    transition: all ease-in-out 0.5s;
    animation-delay: 0.5s;
    //transition: opacity 0.25s linear;
    //will-change: opacity;
  }

  .sidebar-menu__level-2 {
    left: 25%;
    transition: all ease-in-out 0.9s;
    animation-delay: 0.5s;
    //transition: opacity 0.25s linear;
    //will-change: opacity;
  }

  .humb {
    background-image: url('../img/icon-close-sider.png');
  }
}

.sidebar-menu {
  .header-logo {
    margin-bottom: 111px;
  }
}

.sidebar-menu__inner-nano {
  @include width-flex(100%)

}

.sidebar-menu__inner--left {
  padding: 88px 90px 50px 190px;
  background: #31314f;
  height: 100vh;
}

.sidebar-menu__inner--right {
  height: 100vh;
  display: flex;
}

.sidebar-menu__link {
  font-size: 24px;
  font-family: $GilroySemiBold;
  color: #ceebff;
  @include hover-link(#ceebff)
}

.sidebar-menu__list {
  margin-bottom: 103px;
}

.nano > .nano-pane {
  background: transparent;
  right: 3px;
  width: 5px;
}

.nano > .nano-pane > .nano-slider {
  background: #4d4d83;
}

.sidebar-menu__item {
  margin-bottom: 15px;
  @include last-mb-0
}

.sidebar-search__wrap {
  display: flex;
  align-items: center;
  margin-bottom: 112px;

}

.sidebar-search--icon {
  @include background-contain('search_icon.png')
  @include width-flex(19px)
  height: 19px;
}

.sidebar-search {
  @include width-flex(100px)
  font-size: 24px;
  font-family: $GilroySemiBold;
  border: none;
  color: #000000;
}

.sidebar-contact__block {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 82px;
}

.sidebar-tel {
  color: #ffffff;
  @include hover-link(#ffffff)
  font-family: $GilroyExtraBold;
  font-size: 24px;
  margin-bottom: 15px;
}

.call-link {
  font-family: $GilroySemiBold;
  color: #ffffff;
  @include hover-link(#ffffff)
  margin-bottom: 36px;
}

.conf {
  display: block;
  font-family: $GilroySemiBold;
  font-size: 14px;
  color: #cccccc;
  @include hover-link(#cccccc)
}

.sidebar-nav--title {
  font-family: $GilroyExtraBold;
  margin-bottom: 26px;
  font-size: 24px;
  color: #a12c4c;
}

.sidebar-nav__block--wrap {
  margin-right: 68px;
}

.sidebar-nav--link {
  font-family: $GilroySemiBold;
  color: #000000;
  @include hover-link(#000000)
}

.sidebar-nav__item {
  margin-bottom: 10px;
  @include last-mb-0
}

.sidebar-nav__block {
  margin-bottom: 33px;
}

/* header-slider */

.header-slider {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

.dotted-wrap {
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 0;
  bottom: 0;

}

.header-slider__pagin {
  position: relative;
  //padding-top: rem(260px);
  padding-left: rem(82px);
  z-index: 10;
}

.slider-images__count-number {
  font-size: rem(36px);
  margin-bottom: rem(33px);
  color: $color-white;
}

.dotted-header-slider__block-desc,
.dotted-header-slider__block-mob {
  .slick-dots {
    position: static;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 0;
  }

  .slick-dots li button:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
    opacity: 1;
  }

  .slick-dots li.slick-active button:before {
    background: #5e9fca;
    margin-left: -3px;
    margin-top: -3px;
    content: "";
    width: 6px;
    height: 6px;
  }

  .slick-dots li {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .slick-dots li.slick-active button {
    border-radius: 50%;
    border: 2px solid #5e9fca;
  }
}

.header-wrap {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1023;
}

.header-slider {
  .slick-list {
    height: 100%;
  }

}

.header-banner {
  overflow: hidden;
}


.header-slider__wrap {
  position: relative;
  margin-bottom: 102px;
}

.header-banner__wrap {
  position: relative;
  margin-bottom: 97px;
  overflow: hidden;
}

//.header-banner__wrap,
//.header-banner,
.header-banner__item,
.header-slider__wrap,
.header-slider,
.header-slider__bg {
  height: 700px;
}

.header-banner__item,
.header-slider__item {
  background-repeat: no-repeat;
  background-size: cover;
  //height: 100%;
  width: 100%;
}

.header-banner__item-inner,
.header-slider__item-inner {
  padding-top: 180px;
  padding-bottom: 150px;
}

.header-slider__subtitle {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}

.header-slider__title {
  font-family: $PFBeauSansPro-Bold;
  font-size: 80px;
  letter-spacing: -2px;
  color: $color-white;
  line-height: 1; 
  margin-bottom: 40px;
  padding-left: 50px;
}

.header-slider__desc {
  color: #ffffff;
  font-family: $GilroyMedium;
  font-size: 20px;
  line-height: 1.5;
  padding-left: 54px;
  .desc-banner__pr{
    padding-right: 220px;
  }
}



.header-slider__right-img {
  margin-bottom: 33px;
}

.header-slider__text {
  font-size: 20px;
  color: #ffffff;
  font-family: $GilroyMedium;
  line-height: 1.5;

  padding-left: 70px;
  padding-right: 70px;
}


/**/


/* header-search */

//
//.header__control-box {
//  margin-left: rem(30px);
//}
//
//.header__search,
//.header__search_page {
//  float: right;
//  height: rem(48px);
//  width: rem(40px);
//  overflow: hidden;
//  display: flex;
//  background: transparent;
//  border: 1px solid transparent;
//
//}
//
//.header__search {
//  position: absolute;
//  top: rem(-10px);
//  right: 0px;
//  transition: width 0.3s ease;
//
//}
//
//.header__search_page {
//
//}
//
//.header__search-open {
//  background: url("../assets/img/icons/search-icon.svg");
//  background-position: center;
//  background-repeat: no-repeat;
//  //width: 60px;
//  width: rem(12px);
//  //fill: #0093c9;
//  padding: rem(15px) rem(30px);
//  flex: 1 1 rem(40px);
//  height: 100%;
//  cursor: pointer;
//}
//
//.header {
//  .header__search-open {
//    background-position: rem(4px) rem(7px);
//  }
//  .header__search {
//    top: 0;
//  }
//}
//
//.header__search-input,
//.header__search-input_page {
//  flex: 1 1 calc(100% - 240px);
//  padding: rem(5px) 0 rem(8px) 0;
//  font-size: rem(15px);
//}
//
//.header__search-input input,
//.header__search-input_page input {
//  width: 100%;
//  padding: rem(7px) 0;
//  border: none;
//
//}
//
//.header__search.open,
//.header__search_page {
//
//  border: 1px solid $color-white;
//  background: $color-white;
//  border-radius: rem(28px);
//
//  .header__search-open {
//    cursor: default;
//    background: url("../assets/img/icons/search-icon-active.svg") center no-repeat;
//
//  }
//  .header__search-cancell {
//    border-left: 1px solid $color-white;
//
//  }
//
//  .header__search-find,
//  .header__search-cancell {
//    display: flex;
//    align-items: center;
//
//  }
//
//}
//
//.header__search.open {
//  width: 105%;
//  width: calc(100% + 20px);
//}
//
//.header__search_page {
//  width: 100%;
//  .header__search-find {
//    justify-content: flex-end;
//    padding-right: rem(27px);
//  }
//  .header__search-open {
//    padding-left: rem(10px);
//    padding-right: rem(10px);
//    flex: 1 1 rem(18px);
//  }
//}
//
//.header__search-find {
//  display: none;
//  flex: 1 1 rem(85px);
//  text-transform: uppercase;
//  color: #5e9fca;
//  text-decoration: none;
//  background: transparent;
//  border: none;
//  font-size: rem(13px);
//  &:hover {
//    color: #5e9fca;
//  }
//}
//
//.header__search-cancell {
//  display: none;
//  border-left: 1px solid transparent;
//  text-transform: uppercase;
//  cursor: pointer;
//  flex: 1 1 rem(115px);
//  align-items: center;
//  justify-content: center;
//  font-size: rem(13px);
//  color: #5e9fca;
//  &:after {
//    content: '+';
//    color: #5e9fca;
//    font-size: rem(25px);
//    transform: rotate(45deg);
//    font-weight: normal;
//    margin-left: rem(7px);
//    line-height: rem(9px);
//  }
//  &:hover {
//    color: #5e9fca;
//    &:after {
//      color: #5e9fca;
//
//    }
//  }
//
//}

///

/**/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: block;
  @include background-contain('logo-header.png')
  @include width-flex(167px)
  height: 54px;
}


.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.container-dotted {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 50%;
}

.menu__item-link {
  font-family: $GilroyExtraBold;
  color: #ffffff;
  font-size: 24px;
  @include hover-link(#ffffff)
}

.menu__item {
  margin-right: 35px;
  @include last-mr-0
  padding: 40px 0 35px;
  border-bottom: 6px solid transparent;
}

.header-wrap--inner.active {

  .menu__item.active {
    border-bottom: 6px solid #3e77b7;

  }
}

.header-wrap--inner {
  position: relative;

  .menu__item.active {
    border-bottom: 6px solid transparent;

  }
}


.header-wrap--inner {
  width: 100%;
  position: relative;
}

.header-wrap--inner.active {
  background: #ffffff;

  .site-menu__close {
    display: block;
  }

  .header-logo {
    display: none;
  }

  .menu__item-link {
    color: #a12c4c;
  }
}

.menu__item.active {
  .menu__item-link {
    color: #3e77b7;
  }

}

.footer-logo {
  @include background-contain('logo-footer.png')
  width: 167px;
  height: 53px;

}

.header-container {
  position: relative;
}

.site-menu__close {
  display: none;
  @include background-contain('close.png')
  width: 32px;
  height: 32px;
  position: absolute;
  left: 15px;
  top: 51px;
  z-index: 100;

  &:hover {
    cursor: pointer;
  }


}

.site-menu__container {
  position: relative;
}

.site-menu {
  background: #ffffff;
  position: absolute;
  top: 0px;
  padding-top: 107px;
  left: 0;
  right: 0;
  display: none;
  //display: block;
  overflow: hidden;

}

.site-menu__inner--wrap {
  position: relative;

}

.logo-menu {
  position: absolute;
  bottom: 0;
  left: 110px;
  @include background-contain('logo-menu.png')
  width: 816px;
  height: 565px;

}

.site-menu__inner {
  padding-top: 70px;
  padding-bottom: 127px;
}

.site-menu__nav-link {
  font-size: 18px;
  font-family: $GilroyBold;
  color: #3e77b7;
}

.site-menu__nav-item {
  margin-bottom: 15px;
}

.tabs__block {
  display: none;
}

.tabs__block.active {
  display: block;
}

.text-transform__block{
  position: relative;
  height: 100%;
}



.text-transform {
  display: block;
  text-transform: uppercase;
  font-size: 30px;
  transform: translate(0px,0) rotate(-90deg);
  position: absolute;
  transform-origin: 0 0;
  left: 0 !important;
  top: 0 !important;
  color: #a12c4c;
  font-family: $PFBeauSansPro-Black;
  margin-top: 190px;
  padding-top: 10px;
}

.text-ultragreen{
  color: #b3c4a9;
}

/* feedback */
.text-transform_feedback{
  margin-top: 170px;
}

/* экспресс-аудит */
.text-transform_express{
  margin-top: 287px;
}

/* тарифы */
.text-transform_tarif{
  margin-top: 147px;
}

/* helpdesk */
.text-transform_helpdesk {
  margin-top: 168px;
}

/* проекты */
.text-transform_project{
  margin-top: 152px;
}

/* все проекты */
.text-transform_project-all{
  margin-top: 220px;
}

/* ит-сервисы */
.text-transform_service{
  margin-top: 205px;
  color: #b3c4a9;
}

/* клиенты */
.text-transform_clients{
  margin-top: 193px;
}

/* методология */
.text-transform_metod {
  margin-top: 265px;
}

/* приложение */
.text-transform_app{
  margin-top: 233px;
}

/* соглашение */
.text-transform_agreement{
  margin-top: 225px;
}

/* аудитория */
.text-transform_auditorium{
  margin-top: 200px;
}

/* решения */
.text-transform_decision{
  margin-top: 170px;
}

/* диспозиция */
.text-transform_disposition{
  margin-top: 226px;
}

/* документы */
.text-transform_docs{
  margin-top: 209px;
}

/* наш подход */
.text-transform_approach{
  margin-top: 226px;
}

/* ход проекта */
.text-transform_progress{
  margin-top: 226px;
}

/* ваша выгода */
.text-transform_benefit{
  margin-top: 226px;
}

/* преимущества */
.text-transform_bonus{
  margin-top: 267px;
}

/* услуги б24 */
.text-transform_service24{
  margin-top: 202px;
}

/* стоимость */
.text-transform_cost{
  margin-top: 194px;
}

/* информация */
.text-transform_info{
  margin-top: 239px;
}

/* варианты */
.text-transform_variants{
  margin-top: 187px;
}

/* результат */
.text-transform_result{
  margin-top: 185px;
}

/* гарантии */
.text-transform_guarant{
  margin-top: 175px;
}

/* работы */
.text-transform_job{
  margin-top: 138px;
}


.text-transform__wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.container-relative {
  position: relative;
}


.metod-img__wrap{
  display: flex;
  align-items: flex-end;
  margin-bottom: 57px;
  min-height: 137px;
  
}

.metod-img{
  width: 116px;
  
}

.metod-img__num{
  font-size: 24px;
  font-family: $PFBeauSansPro-SemiBold;
  color: #668853;
  letter-spacing: -0.6px;
  margin-left: 44px;
  line-height: 22px;
  
}

.slider-advant-wrap {
  margin-bottom: 110px;

  .dotted-header-slider__block-desc .slick-dots {
    flex-direction: row;
  }

  .dotted-header-slider__block-desc .slick-dots li button:before {
    background: #5e9fca;
  }
}


.advant-num {
  font-size: 150px;
  font-family: $PFBeauSansPro-Black;
  display: flex;
  line-height: 0.75;
  letter-spacing: -11.25px;
  margin-bottom: 43px;
  color: #3e77b7;
  .span {
    font-size: 133px;
    padding-top: 17px;
    margin-left: 15px;
  }
}

.advant-desc {
  font-family: $GilroyMedium;
  font-size: 18px;
  padding-right: 50px;
  line-height: 28px;
  color: #000000;
}


.map {
  width: 100%;
  height: 577px;
  margin-top: -102px;
}

.helpdesk-block{
  padding-left: 80px;
}

.helpdesk-title {
  font-family: $GilroyBold;
  font-size: 24px;
  margin-bottom: 64px;
  color: #010101;
}

.helpdesk-desc {
  font-family: $GilroyMedium;
  font-size: 16px;
  margin-bottom: 63px;
  color: #000000;
  line-height: 1.5;
  
}

.helpdesk-company {
  font-family: $GilroyBold;
  font-size: 16px;
  color: #666666;
}

.social {
  margin-bottom: 15px;
}

.social-item {
  margin-bottom: 10px;
  @include last-mb-0
}

.social-link {
  display: block;
  @include width-flex(34px)
  height: 34px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-link_vk {
  background-image: url('../img/icon-vk.png');

}

.social-link_in {
  background-image: url('../img/icon-insta.png');

}


.site-menu--title {
  font-family: $PFBeauSansPro-SemiBold;
  font-size: 32px;
  margin-bottom: 56px;
  color: #a12c4c;
  line-height: 1.31;
}

.site-menu-links--link {
  font-family: $GilroyExtraBold;
  font-size: 14px;
  text-transform: uppercase;
  color: #a12c4c;
  margin-top: 2px;
}

.site-menu-links__item {
  margin-bottom: 33px;
  @include last-mb-0
  display: flex;
  align-items: center;
}

.site-menu-links__icon {
  @include width-flex(16px)
  height: auto;
  margin-right: 19px;
}

.row-helpdesk {
  margin-bottom: 148px;
}

.head-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.head-wrap_small {
  margin-bottom: 58px;
}

.subtitle {
  position: relative;
  z-index: 100;
  font-size: 30px;
  font-family: $GilroyBold;
  color: #a12c4c;
  line-height: 1.33;

  a {
    color: #3e77b7;
  }

}

.subtitle_mb {
  margin-bottom: 56px;
}


.num-bg {
  font-family: $PFBeauSansPro-Black;
  font-size: 500px;
  position: absolute;
  left: -9px;
  top: -136px;
  line-height: 327px;
  letter-spacing: -60px;
  color: #f0f3f8;
}
.product-item{
  display: block;
}
.row-projects{
  margin-bottom: -75px;
}



.section{
  margin-bottom: 135px;
}

.section-middle{
  margin-bottom: 90px;
}

.section-projects{
  margin-bottom: 110px;
}

.section-services{
  margin-bottom: 106px;
}

.section-clients{
  margin-bottom: 167px;
}

.section-quote{
  margin-bottom: 60px;
}

.section-app{
  margin-bottom: 121px;
}

.section-metod{
  margin-bottom: 116px;
}

.section-corpmail{
  margin-bottom: 96px;
}

.section-express{
  //margin-bottom: 100px;
  background: #668853;
  //padding-top: 104px;
  //padding-bottom: 116px;
  color: #ffffff;
}

.section-disposition{
  margin-bottom: 90px;
}

.product-item__img-wrap {
  width: 345px;
  height: 206px;
  margin-bottom: 47px;
  border-radius: 5px;
  overflow: hidden;
}

.product-item__img {
  width: 100%;
  height: 100%;
}

.product-item__desc {
  font-family: $GilroyBold;
  font-size: 22px;
  line-height: 1.45;
  margin-bottom: 35px;
  color: #000000;
}

.product-item__data {
  font-family: $GilroyMedium;
  color: #999999;
  font-size: 18px;
}

.row-wrap {
  margin-bottom: 90px;
}


.slider__wrap-bg {
  @include background-cover('bg-slider.jpg')
  padding: 100px 0px 131px 0;
  width: 100%;
  height: 100%;
}

.title {
  font-family: $PFBeauSansPro-Bold;
  font-size: 60px;
  color: #ffffff;
  line-height: 0.97;
  letter-spacing: -2.5px;
  .span {
    color: #000000;
  }
}

.head-desc {
  font-family: $GilroyMedium;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
  padding-left: 39px;
  padding-top: 15px;
  
}

.slider-resolve__wrap{
  margin-right: -131px;
}
.container-arrows{
  padding-top: 15px;
  padding-left: 21px;
}

.slider-top{
  margin-bottom: 73px;
}

.slider-resolve{
  
}

.slider-resolve__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 206px;
  height: 177px;
  margin-bottom: 44px;
}




.slider-resolve__item {
  padding-right: 90px;
}


.slider-resolve__desc {
  font-family: $GilroyBold;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.5;
}

.prev-button,
.next-button {
  background-image: url('../img/arrow-slider-right.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  @include width-flex(74px)
  height: 74px;
}


.prev-button {
  transform: rotate(180deg);
  margin-right: 30px;
}

.prev-button.slick-disabled,
.next-button.slick-disabled {
  opacity: 0.5;
}

.slider-clients__item {
  padding-right: 50px;
}

.slider-clients__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.slider-clients__img-wrap {
  width: 350px;
  height: 138px;
  margin-bottom: 38px;
}

.slider-clients__desc {
  font-family: $GilroyMedium;
  font-size: 18px;
  margin-bottom: 36px;
  line-height: 1.56;
}

.slider-clients__info {
  font-family: $GilroyBold;
  font-size: 18px;
  color: #000000;
}

.iphone-img__wrap{
  margin-top: -52px;
  margin-left: -32px;
}

.iphone-img{
  @include width-flex(444px)
  height: 516px;
}

.iphone-block--title {
  font-family: $GilroyBold;
  font-size: 30px;
  color: #666666;
  margin-bottom: 54px;
}

.iphone-block--desc {
  font-family: $GilroyMedium;
  font-size: 22px;
  margin-bottom: 74px;
  line-height: 1.45;
}

.iphone-block {
  .button-wrap {
    .button {
      &:first-child {
        margin-right: 20px;

      }
    }
  }

  .subtitle {
    margin-bottom: 43px;
  }
}

.app-store,
.google-play {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.app-store {
  background-image: url('../img/appstore.png');
  @include width-flex(150px)
  height: 50px;
}

.google-play {
  background-image: url('../img/googlePlay.png');
  @include width-flex(167px)
  height: 50px;
}

.button-wrap {
  display: flex;
  align-items: center;
}

.button-result__wrap{
  margin-top: 45px;
}

.app-store {
  margin-right: 30px;
}

.footer-wrap {
  padding-top: 90px;
  padding-bottom: 137px;
  background-color: #273647;
  background-image: url('../img/footer-bg-img.png');
  background-position: left center;
  background-repeat: no-repeat;

}

.footer-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.footer-menu--title{
  font-family: $GilroyExtraBold;
  color: #ffffff;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.footer-link {
  font-family: $GilroyMedium;
  color: #ceebff;
  font-size: 18px;
  @include hover-link(#ffffff)
}

.footer-item {
  margin-bottom: 15px;
  @include last-mb-0
}

.politics {
  color: #999999;
  line-height: 1.33;
}

.footer-right {
  //display: inline-flex;
  //flex-direction: column;
}

.tel-contact {
  display: block;
  font-family: $GilroyExtraBold;
  font-size: 30px;
  color: #ffffff;
  @include hover-link(#fff)
  margin-bottom: 24px;
  margin-top: -5px;
}

.tel-profit {
  display: block;
  font-family: $GilroyExtraBold;
  font-size: 36px;
  color: #ffffff;
  @include hover-link(#fff)
  margin-bottom: 24px;
  //margin-top: -5px;
}


.desc-contact {
  font-family: $GilroySemiBold;
  color: #ffffff;
  font-size: 18px;
  margin-top: 46px;
}

.mail-contact {
  font-family: $GilroySemiBold;
  color: #ffffff;
  font-size: 18px;
  margin-top: 27px;
  display: block;
}


/* service */

.header-banner__right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  padding-bottom: 10px;
}

.case-title {
  font-size: 48px;
  color: #a12c4c;
  font-family: $GilroyExtraBold;
  margin-bottom: 38px;
  line-height: 1.13;

  .span {
    color: #3e77b7;
  }
}

.case-links {
  margin-bottom: 46px;
}

.case-link {
  font-size: 18px;
  color: #999999;
  font-family: $GilroyMedium;
  margin-right: 38px;
}

.case-img {
  height: 456px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.form-photo {
  width: 100%;
  height: 373px;
  margin-bottom: 60px;
}

.form-photo__desc--name {
  font-size: 30px;
  color: #666666;
  margin-bottom: 8px;
  font-family: $GilroyBold;

}

.form-photo__desc--position {
  font-size: 22px;
  color: #666666;
  font-family: $GilroyMedium;
  margin-bottom: 8px;


}

.form-photo__desc-tel {
  font-size: 36px;
  color: #ffffff;
  font-family: $GilroyExtraBold;

}

.form-photo__desc-time {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: $GilroyExtraBold;
  margin-bottom: 33px;
  padding-right: 180px;
  &:before{
    content: '';
    @include background-contain('icon-phone.svg')
    @include width-flex(29px)
    height: 49px;
    margin-right: 26px;
  }
}

.form-photo__desc-contacts {
  display: flex;
  flex-direction: column;
}

.form-photo__desc-time {
}

.section-feedback {
  background: #668853;
  padding-top: 95px;
  padding-bottom: 116px;
  color: #ffffff;
}

.feedback--title {
  font-size: 54px;
  color: #ffffff;
  font-family: $PFBeauSansPro-Bold;
  line-height: 1.07;
  letter-spacing: -1.35px;
  margin-bottom: 70px;
}

.feedback__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feedback-form {
  .title {
    margin-bottom: 60px;
  }
}

.attach-link{
  font-size: 22px;
  font-family: $GilroyMedium;
  color: #ffffff;
  @include hover-link(#fff)
  display: flex;
  align-items: center;
  &:before{
    content: '';
    @include background-contain('icon-input-attach.png')
    @include width-flex(22px)
    height: 14px;
    margin-right: 19px;
  }
}

.input-wrap {
  position: relative;
  margin-bottom: 20px;
}

.input,
.textarea {
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
  font-family: $GilroyMedium;
  font-size: 22px;
  padding-right: 30px;
  background: transparent;
  @include placeholder(#ffffff, 22px)
  padding-left: 42px;

  &:focus {
    @include placeholder(transparent, 22px)

  }
}

.input {
  height: 70px;

}

.textarea {
  height: 70px;
  resize: none;
  padding-top: 20px;
}

.input-title {
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 42px;
  opacity: 0;
  transition: 0.3s;

}

.input-wrap.focus {
  .input-title {
    opacity: 1;
    transition: 0.3s;
  }
}

.input-star {
  display: block;

  &:after {
    content: '';
    position: absolute;
    @include background-contain('star.png')
    width: 15px;
    height: 15px;
    right: 15px;
    top: 50%;
    margin-top: -7px;
  }

}
.input-man,
.input-phone,
.input-email,
.input-case,
.input-send{
  &:before {
    content: '';
    position: absolute;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    left: 0px;
    bottom: 28px;
  }

  
}

.input-man{
  &:before {
    background-image: url('../img/icon-input-man.png');
    width: 19px;
    height: 22px;
  }
}
.input-phone{
  &:before {
    background-image: url('../img/icon-input-phone.png');
    width: 15px;
    height: 22px;
  }
}
.input-email{
  &:before {
    background-image: url('../img/icon-input-mail.png');
    width: 24px;
    height: 14px;
  }
}
.input-case{
  &:before {
    background-image: url('../img/icon-input-case.png');
    width: 20px;
    height: 19px;
  }
}
.input-send{
  &:before {
    background-image: url('../img/icon-input-send.png');
    width: 20px;
    height: 19px;
  }
}








.feedback-form__block {
  margin-bottom: 25px;
}

/**/


.when-block {
  display: flex;
  align-items: flex-start;
  margin-bottom: 45px;
  @include last-mb-0
}

.when-icon {
  min-width: 87px;
  margin-right: 57px;
}


.type-title{
  font-size: 24px;
  margin-bottom: 25px;
  font-family: $GilroyExtraBold;
  line-height: 1.33;
}



.type-row {
  margin-bottom: 56px;
}

.result-img {
  width: 424px;
  height: 504px;
  margin-top: -30px;
}

.icon-check {
  @include background-contain('icon-check-arrow.png')
  @include width-flex(30px)
  height: 30px;
  margin-right: 36px;
}

.result-item {
  display: inline-flex;
  align-items: flex-start;
  margin-bottom: 36px;
  @include last-mb-0
}

.result-text{
  font-size: 22px;
  font-family: $GilroyMedium;
  line-height: 1.45;
}

.time-block--img {
  @include width-flex(127px)
  height: 130px;
  margin-right: 46px;
}

.time-block {
  display: flex;
  align-items: center;

}

.time-block__desc--num {
  font-family: $PFBeauSansPro-Black;
  color: #3e77b7;
  font-size: 60px;
}

.time-block__desc--text {
  font-size: 22px;
  font-family: $GilroyMedium;
}

.banner-num{
  position: absolute;
  left: 0px;
  bottom: 0;
  font-size: 800px;
  color: rgba(49, 49, 79, 0.8);
  font-family: $PFBeauSansPro-Black;
  letter-spacing: -96px;
  line-height: 316px;
}

.projects-page{
  .product-item{
    margin-bottom: 75px;
  }
}
.project-menu{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.project-menu__link{
  color: #3e77b7;
  @include hover-link('#a12c4c')
  font-size: 22px;
  font-family: $GilroyBold;
  letter-spacing: -0.55px;
}

.project-menu__item{
  margin-right: 30px;
  @include last-mr-0
}
.project-menu__item.active{
  .project-menu__link{
    color: #a12c4c;

  }
}
.tags{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
}

.tags__link{
  color: #a12c4c;
  @include hover-link('#fff')
  font-size: 14px;
  font-family: $GilroyBold;
  margin-right: 17px;
  @include last-mr-0
  border-radius: 3px;
  padding: 14px 26px;
  background-color: #cccccc;
  &:hover{
    background: #a12c4c;
    color: #ffffff;
  }
}


.tags__link.active{
  background: #a12c4c;
  color: #ffffff;
}

.map__wrap{
  position: relative;
  margin-right: -30px;
}

.map-icon{
  position: absolute;
}

.breadcrumb__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 38px;
  padding-left: 57px;
}

.breadcrumb__link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 12px;
  font-family: $GilroyMedium;
  font-size: 14px;
  color: #99d6ff;
  &:before {
    display: block;
    content: '';
    @include background-contain('breadcrumb_line.svg')
    @include width-flex(2px)
    height: 12px;
    margin-right: 12px;
  }
  //&:hover{
  //  color: #FFFFFF;
  //}
}

.home {
  &:before {
    display: block;
    content: '';
    @include background-contain('home.svg')
    @include width-flex(9px)
    height: 12px;
    margin-right: 20px;

  }
}

.service-block{
  margin-right: -40px;
}

.service-icon{
  height: 90px;
  margin-bottom: 30px;
}

.service-title{
  font-size: 24px;
  font-family: $GilroyExtraBold;
}

.service-decs{
  margin-top: 25px;
}

.privilege-img{
  max-width: 180px;
  margin-bottom: 50px;
}

.privilege-item{
  margin-bottom: 63px;
}

.privilege__num{
  font-family: $PFBeauSansPro-Black;
  font-size: 36px;
  line-height: 2;
  letter-spacing: -2.7px;
  color: #668853;
  
}


.text-medium{
  font-size: 22px;
  font-family: $GilroyMedium;
  line-height: 1.45;
  
}




.result-block{
  //display: inline-flex;
  //width: 100%;
  //align-items: flex-start;
  //justify-content: space-between;
  //height: auto;
}

.block-column3{
  column-count: 3;
}

.block-column2{
  column-count: 2;
  column-gap: 158px;
}


.feedback-item{
  margin-bottom: 75px;
}


.client-img__wrap{
  display: flex;
  align-items: center;
  height: 115px;
  margin-bottom: 37px;
}

.feedback-img{
  max-height: 115px;
}

.client-name{
  font-family: $GilroyBold;
  font-size: 30px;
  color: #000000;
  margin-bottom: 17px;
}

.client-decs{
  font-family: $GilroyMedium;
  font-size: 16px;
  line-height: 1.5;
  color: #666666;
  margin-bottom: 54px;
}

.client-quote{
  position: relative;
  font-family: $GilroyMedium;
  font-size: 18px;
  line-height: 1.56;
  color: #000000;
  margin-bottom: 11px;
  margin-right: -10px;
  &:before{
    z-index: -1;
    position: absolute;
    top: -28px;
    left: -41px;
    content: '';
    @include background-contain('quote-img.png')
    @include width-flex(128px)
    height: 98px;
  }
}

.feedback-original{
  display: flex;
  align-items: center;
  font-family: $GilroyBold;
  font-size: 16px;
  line-height: 4.38;
  color: #a12c4c;
  &:before{
    content: '';
    @include background-contain('icon-pdf.svg')
    @include width-flex(35px)
    height: 44px;
    margin-right: 19px;
  }
}

.block-wrap{
  margin-bottom: 95px;
}





.subtitle-small{
  font-family: $GilroyExtraBold;
  font-size: 18px;
  line-height: 2;
  color: #a12c4c;
}

.tel-red{
  font-family: $GilroyExtraBold;
  font-size: 36px;
  line-height: 1.94;
  color: #a12c4c;
}

.tariff-block{
  background: #668853;
  padding-top: 94px;
  padding-bottom: 100px;
  color: #ffffff;
  margin-bottom: 90px;
}

.tariff-top{
  margin-bottom: 86px;
}

.tariff-decs{
  font-family: $GilroyMedium;
  font-size: 22px;
  line-height: 1.50;
  color: #ffffff;
  margin-bottom: 77px;
}

.tariff-name{
  font-family: $GilroyExtraBold;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 16px;
}

.tariff-comment{
  font-family: $GilroyMedium;
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 19px;
}



.tariff-price{
  display: flex;
  align-items: flex-end;
}

.tariff-cur{
  .span-ultragreen{
    color: #666666;
  }
  font-family: $GilroyMedium;
  font-size: 22px;
  line-height: 2.2;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 16px;
}

.tariff-sum{
  .span-green{
    color: #668853;
  }
  font-family: $PFBeauSansPro-Black;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: -4px;
  margin-right: 16px;
  
}


.one-img{
  width: 303px;
  height: 136px;
  margin-bottom: 38px;
}

.steps-title{
  font-family: $PFBeauSansPro-Bold;
  font-size: 42px;
  letter-spacing: -1.05px;
  color: #a12c4c;
  margin-right: -20px;
}

.step-item{
  display: flex;
  align-items: flex-start;
  margin-bottom: 46px;
  @include last-mb-0
}

.step-img__wrap,
.type-img__wrap{
  min-width: 87px;
  height: 86px;
  margin-right: 53px;
  margin-top: 6px;
}

.step-img,
.type-img{
  height: 86px;
  //width: auto;
}

.step-subtitle{
  font-family: $GilroyExtraBold;
  font-size: 24px;
  margin-bottom: 16px;
}

.step-text{
  font-family: $GilroyMedium;
  font-size: 22px;
  line-height: 1.45;
}

.blue-icon {
  @include background-contain('icon-check-blue.png')
  @include width-flex(40px)
  height: 40px;
  margin-right: 46px;
}

.blue-item{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  @include last-mb-0
}

.blue-text{
  font-family: $GilroyExtraBold;
  font-size: 24px;
  color: #3e77b7;
}

.sublist{
  padding-left: 86px;
  margin-top: 27px;
  margin-bottom: 57px;
}

.blue-list{
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  @include last-mb-0
}

.blue-count{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $PFBeauSansPro-Black;
  font-size: 18px;
  color: #ffffff;
  background-color: #3e77b7;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 46px;
}


.plus-block{
  background: #668853;
  padding-top: 104px;
  padding-bottom: 116px;
  color: #ffffff;
  background-image: url(../img/plus-bg-img.png);
  background-position: left center;
  background-repeat: no-repeat;
}


.plus__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plus-title,
.green-block__title{
  font-family: $GilroyBold;
  font-size: 30px;
  line-height: 1.33;
  margin-bottom: 68px;
}

.concept-title{
  font-family: $GilroyBold;
  font-size: 30px;
  line-height: 1.33;
  margin-bottom: 52px;
}

.profit-title{
  font-family: $GilroyBold;
  font-size: 30px;
  line-height: 1.33;
  margin-bottom: 46px;
}

.plus-count {
  display: flex;
  align-items: flex-end;
  font-family: $PFBeauSansPro-Black;
  font-size: 100px;
  letter-spacing: -7.5px;
  .span {
    font-size: 36px;
    line-height: 2.2;
    letter-spacing: -2.7px;
    margin-left: 14px;
    color: #bdc9b6;
  }
}

.dotted-plus-slider__block-desc,
.dotted-plus-slider__block-mob {
  .slick-dots {
    position: static;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 0;
  }

  .slick-dots li button:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
    opacity: 1;
  }

  .slick-dots li.slick-active button:before {
    background: #5e9fca;
    margin-left: -3px;
    margin-top: -3px;
    content: "";
    width: 6px;
    height: 6px;
  }

  .slick-dots li {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .slick-dots li.slick-active button {
    border-radius: 50%;
    border: 2px solid #5e9fca;
  }
}

.slider-plus-wrap {
  //margin-bottom: 110px;

  .dotted-plus-slider__block-desc .slick-dots {
    flex-direction: row;
  }

  .dotted-plus-slider__block-desc .slick-dots li button:before {
    background: #5e9fca;
  }
}




.plus-item__title{
  font-family: $PFBeauSansPro-Bold;
  font-size: 60px;
  line-height: 1.07;
  letter-spacing: -1.5px;
  margin-bottom: 106px;
}

.plus-item__decs{
  font-family: $GilroyMedium;
  font-size: 22px;
  line-height: 1.45;
}

.green-block{
  width: 100%;
  padding: 50px;
  background-color: #668853;
}

.green-block__title{
  font-family: $GilroyBold;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 35px;
}


.icon-white {
  @include background-contain('icon-check-white.png')
  @include width-flex(30px)
  height: 30px;
  margin-right: 36px;
}

.green-block__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
  @include last-mb-0
}

.green-block__text{
  color: #FFFFFF;
  line-height: 1.45;
}

.green-block__text-medium{
  color: #FFFFFF;
  line-height: 1.45;
  font-family: $GilroyMedium;
  font-size: 22px;
}

.cert-img{
  width: 345px;
  height: 490px;
  box-shadow: 0px 30px 45px 0 rgba(0, 0, 0, 0.35);
}

.cert-right-img{
  min-width: 108px;
  height: 63px;
}

.type-top{
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.type-subtitle{
  //display: inline-flex;
  font-size: 24px;
  font-family: $GilroyExtraBold;
}

.concept-block{
  background: #668853;
  padding-top: 92px;
  padding-bottom: 108px;
  color: #ffffff;
}

.guarant-block{
  background: #668853;
  padding-top: 90px;
  padding-bottom: 103px;
  color: #ffffff;
  .green-block__title{
    margin-bottom: 58px;
  }
}

.guarant-img{
  height: 90px;
  margin-bottom: 30px;
}

.guarant-decs{
  font-family: $GilroyMedium;
  font-size: 18px;
  line-height: 1.56;
  padding-right: 24px;
  //&:last-child{
  //  padding-right: 0;
  //}
}

.concept-item{
  //padding-right: 100px;
}

.concept-num__wrap{
  display: flex;
  //align-items: flex-start;
  margin-bottom: 6px;
}

.concept-num{
  font-family: $PFBeauSansPro-Black;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -4.5px;
  margin-right: 30px;
}

.icon-check-yellow {
  @include background-contain('icon-check-yellow.png')
  @include width-flex(30px)
  height: 30px;
  margin-top: 8px;
}

.concept-name{
  font-family: $GilroyExtraBold;
  font-size: 24px;
  margin-bottom: 39px;
}

.concept-decs{
  margin-bottom: 27px;
  @include last-mb-0
  padding-right: 40px;
}

.table{
  //padding: 32px  41px 37px 41px;
  margin-bottom: 80px;
}

.table th, 
.table td {
  padding: 33px  41px 33px 41px;
  border: 3px solid #ffffff;
  //color: #000000;
}

th.th{
  padding: 22px  41px 30px 41px;
  vertical-align: bottom;
}

th.th1 {
  font-family: $GilroyExtraBold;
  font-size: 24px;
  color: #ffffff;
}

th.th2 {
  font-family: $GilroyExtraBold;
  font-size: 18px;
  color: #ffffff;
}

th.th3 {
  font-family: $GilroyExtraBold;
  font-size: 24px;
  color: #ffff99;
}

td.td{
  font-family: $GilroyMedium;
  font-size: 22px;
  color: #000000;
}



.tbody{
  //color: #000000;
}

.tr-top{
  background-color: #3e77b7;
}

.tr{
  background-color: #d8e4f1;
}

.profit-block{
  background: #668853;
  padding-top: 100px;
  padding-bottom: 112px;
  color: #ffffff;
}

.profit-img{
  width: 180px;
  height: 180px;
}

.span_yellow{
  color: #ffff99;
}

.profit-subtitle{
  font-family: $GilroyExtraBold;
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 29px;
  padding-right: 50px;
}

.rate-item{
  display: flex;
}


.rate-img__wrap,
.cost-img__wrap{
  min-width: 100px;
  margin-right: 26px;
}

.rate-info{
  .type-subtitle{
    margin-bottom: 30px;
  }
}

.cost-decs{
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;
  @include last-mb-0
}

.rate-decs{
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  @include last-mb-0
}

.rate-span{
  font-family: $PFBeauSansPro-Black;
  font-size: 36px;
  line-height: 1;
  letter-spacing: -2.7px;
  color: #668853;
  margin-left: 12px;
  margin-right: 12px;
}

.cost-span{
  font-family: $PFBeauSansPro-Black;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: -4.5px;
  color: #668853;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: -8px;
}

.docs-cert{
  display: flex;
  align-items: center;
  font-family: $GilroyBold;
  font-size: 16px;
  color: #a12c4c;
  &:before{
    content: '';
    @include background-contain('icon-docs.svg')
    @include width-flex(28px)
    height: 28px;
    margin-right: 19px;
  }
}

.subtitle-docs__wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.service24__num{
  font-family: $PFBeauSansPro-Black;
  font-size: 36px;
  letter-spacing: -2.7px;
  color: #668853;
  margin-bottom: 16px;
}



.span_gray{
  color: #666666;
}


.cost-top{
  display: flex;
  margin-bottom: 50px;
}

.cost-info{
  .subtitle{
    margin-bottom: 14px;
  }
}

.cost-middle{
  display: flex;
  align-items: center;
  margin-bottom: 37px;
}

.cost-text{
  margin-bottom: 10px;
  @include last-mb-0
}

.corpmail-price-subtitle{
  font-family: $GilroyExtraBold;
  font-size: 22px;
  //margin-bottom: 30px;
}

.corpmail-price{
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}

.corpmail-img__wrap{
  display: flex;
  align-items: center;
  height: 180px;
  margin-bottom: 89px;
}


.corpmail-img {
  @include width-flex(180px)
  height: 180px;
}

.text-ultrasmall{
  font-family: $GilroyMedium;
  font-size: 14px;
  line-height: 1.71;
}

.text-small{
  font-family: $GilroyMedium;
  font-size: 18px;
  line-height: 1.56;
}


.corpmail-subtitle{
  font-family: $GilroyExtraBold;
  font-size: 26px;
  line-height: 1.38;
  color: #a12c4c;
}

.corpmail-item{
  display: flex;
  font-family: $GilroyMedium;
  font-size: 18px;
  line-height: 1.78;
  margin-bottom: 10px;
  @include last-mb-0
  &:before{
    content: '•';
    margin-right: 40px;
  }
}

.link{
  font-family: $GilroyMedium;
  font-size: 18px;
  line-height: 1.78;
  color: #3e77b7;
}

.alarm__wrap{
  display: flex;
  align-items: center;
}

.icon-alarm{
  @include width-flex(90px)
  height: 92px;
  margin-right: 44px;
}

.icon-servers__wrap{
  @include width-flex(164px)
  height: 172px;
  margin-bottom: 47px;
}


.icon-check__yellow {
  @include background-contain('icon-check-yellow.png')
  @include width-flex(30px)
  height: 30px;
  margin-right: 36px;
}

.list-item {
  display: inline-flex;
  align-items: flex-start;
  margin-bottom: 36px;
  @include last-mb-0
}

.list-item__text{
  font-size: 22px;
  font-family: $GilroyMedium;
}


.section-express__top{
  padding-top: 100px;
  padding-bottom: 74px;
}

.section-express__middle{
  padding-top: 50px;
  padding-bottom: 69px;
  background: #5e7d4c;
  width:100%;
}

.section-express__bottom{
  padding-top: 74px;
  padding-bottom: 100px;
}

.icon-result{
  @include width-flex(91px)
  height: 91px;
  margin-right: 38px;
}

.team-img{
  @include width-flex(90px)
  height: 90px;
  margin-bottom: 37px;
}


.disp-right{
  margin-top: -10px;
}

.disp-img__wrap{
  display: flex;
  align-items: flex-end;
  margin-top: -24px;
  margin-bottom: 57px;
  min-height: 137px;
  //@include width-flex(108px)

}

.disp-img{
  width: 108px;
}

.disp-img__num{
  font-size: 24px;
  font-family: $PFBeauSansPro-SemiBold;
  color: #668853;
  letter-spacing: -0.6px;
  margin-left: 59px;
  line-height: 22px;
}

.tarif-text__wrap{
  margin-bottom: 82px;
}


.tarif-title{
  font-family: $PFBeauSansPro-Bold;
  font-size: 60px;
  line-height: 0.97;
  letter-spacing: -1.35px;
  margin-bottom: 72px;
}

