extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service-button({
        img: 'bg-header-img_apps.jpg',
        title: 'Разработка мобильных \n' +
                'приложений для бизнеса',
        desc: 'Создаем яркие привлекательные и главное — удобные мобильные интерфейсы. Полный проектный цикл: от интерактивного прототипа до разработки \n' +
                'и публикации в AppStore и Play Market.'
      }

      )


  main
    section.section-metod
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_metod методология
          .col-lg-3
            +metod-item({
              img: 'metod-img-1.png',
              num:'.01',
              title: 'Интерактивное\n' +
                      'прототипирование',
              desc: 'Мы предоставляем комплексное\n' +
                      'обслуживание компьютеров \n' +
                      'в Санкт-Петербурге для \n' +
                      'небольших и средних компаний,\n' +
                      'производств, складов, оптовых \n' +
                      'поставщиков. '
            })
          .col-lg-3.offset-lg-1
            +metod-item({
              img: 'metod-img-2.png',
              num:'.02',
              title: 'Кроссплатформенная\n' +
                      'и нативная разработка',
              desc: 'Мы предоставляем комплексное\n' +
                      'обслуживание компьютеров \n' +
                      'в Санкт-Петербурге для \n' +
                      'небольших и средних компаний,\n' +
                      'производств, складов, оптовых \n' +
                      'поставщиков. '
            })
          .col-lg-3.offset-lg-1
            +metod-item({
              img: 'metod-img-3.png',
              num:'.03',
              title: 'Развитие\n' +
                      'и поддержка',
              desc: 'Мы предоставляем комплексное\n' +
                      'обслуживание компьютеров \n' +
                      'в Санкт-Петербурге для \n' +
                      'небольших и средних компаний,\n' +
                      'производств, складов, оптовых \n' +
                      'поставщиков. '
            })


    section.section-projects
      .container
        .row
          .col-lg-11.offset-lg-1
            .row.head-wrap
              .col-lg-9
                .subtitle.pr-lg-4
                  | Проектный отдел, крутой и мотивирующий тезис про специалистов
                  | и компетенцию, ну и ссылка <a href="#">на полный список проектов</a>
              .col-lg-3
                .button-wrap.justify-content-lg-end
                  +button('Заявка на проект')
      .container
        .row.row-case
          .col-lg-1
            .text-transform.text-transform_project проекты
          .col-lg-3
            .case-title <span class="span">ITBOX:</span> первый в аутсорсинге
            .product-item__desc
              | Инновационное приложение
              | для ит-аутсорсинга: дашборд
              | руководителя для отслеживания
              | состояния ит-инфтраструктуры
            .case-links
              a(href="javascript:void(0);").case-link AppStore
              a(href="javascript:void(0);").case-link Play Market
            +button('Смотреть кейс')
          .col-lg-1
          .col-lg-7
            .case-img(style="background-image:url('../img/it-box-img.png');")

    include ../_components/feedback-block

