extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service({
        img: 'bg-header-img_clients.jpg',
        title: 'Наш многолетний \n' +
            'опыт в лицах',
        desc: 'Ниже расположены организации, с котороми мы плотно сотрудничаем в данный \n' +
        'момент, и с которыми у нас сложились тесные и прочные деловые связи.Предоставим слово им.'

      }

      )


  main
    section.section-quote
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_helpdesk отзывы
          .col-lg-3
            +feedback-item({
              img: 'client-img-1.png',
              name: 'Lindström',
              decs: 'Международный текстильный холдинг.\n' +
              'Сотрудничаем с 2005 года.',
              quote: 'Особо хотелось отметить Центр \n' +
              'технической компетенции компании \n' +
              '«СТЕК», который всегда готов \n' +
              'предложить нетривиальные решения \n' +
              'тех или иных прикладных запросов \n' +
              'с учетом соблюдения всех регламентов \n' +
              'корпорации и требований \n' +
              'безопасности...'
            })
          .col-lg-3.offset-lg-1
            +feedback-item({
              img: 'client-img-2.png',
              name: '«Прибалтийская»',
              decs: 'Международный текстильный холдинг.\n' +
              'Сотрудничаем с 2005 года.',
              quote: 'Мы рекомендуем «СТЕК» как \n' +
              'профессиональную организацию, \n' +
              'предоставляющую услуги обслуживания \n' +
              'оргтехники. Мы планируем продолжать \n' +
              'сотрудничество с компанией «СТЕК», \n' +
              'так как заинтересованы в дальнейшей \n' +
              'профессиональной поддержке...'
            })
          .col-lg-3.offset-lg-1
            +feedback-item({
              img: 'client-img-3.png',
              name: 'РГПУ им. А. И. Герцена',
              decs: 'Международный текстильный холдинг.\n' +
              'Сотрудничаем с 2005 года.',
              quote: 'Для нас особенно важным моментом \n' +
              'явилось быстрое и своевременное \n' +
              'исполнение не только договорных \n' +
              'обязательств, а также тех действий, \n' +
              'которые были сделаны на инициативной \n' +
              'основе для достижения поставленных \n' +
              'задач, и решение срочных вопросов \n' +
              'в нерабочее время специалистов...'
            })
        .row
          .col-lg-3.offset-lg-1
            +feedback-item({
              img: 'client-img-1.png',
              name: 'Lindström',
              decs: 'Международный текстильный холдинг.\n' +
              'Сотрудничаем с 2005 года.',
              quote: 'Особо хотелось отметить Центр \n' +
              'технической компетенции компании \n' +
              '«СТЕК», который всегда готов \n' +
              'предложить нетривиальные решения \n' +
              'тех или иных прикладных запросов \n' +
              'с учетом соблюдения всех регламентов \n' +
              'корпорации и требований \n' +
              'безопасности...'
            })
          .col-lg-3.offset-lg-1
            +feedback-item({
              img: 'client-img-2.png',
              name: '«Прибалтийская»',
              decs: 'Международный текстильный холдинг.\n' +
              'Сотрудничаем с 2005 года.',
              quote: 'Мы рекомендуем «СТЕК» как \n' +
              'профессиональную организацию, \n' +
              'предоставляющую услуги обслуживания \n' +
              'оргтехники. Мы планируем продолжать \n' +
              'сотрудничество с компанией «СТЕК», \n' +
              'так как заинтересованы в дальнейшей \n' +
              'профессиональной поддержке...'
            })
          .col-lg-3.offset-lg-1
            +feedback-item({
              img: 'client-img-3.png',
              name: 'РГПУ им. А. И. Герцена',
              decs: 'Международный текстильный холдинг.\n' +
              'Сотрудничаем с 2005 года.',
              quote: 'Для нас особенно важным моментом \n' +
              'явилось быстрое и своевременное \n' +
              'исполнение не только договорных \n' +
              'обязательств, а также тех действий, \n' +
              'которые были сделаны на инициативной \n' +
              'основе для достижения поставленных \n' +
              'задач, и решение срочных вопросов \n' +
              'в нерабочее время специалистов...'
            })





    include ../_components/feedback-block

