extends ../templates/template-index


block content
  .container.py-50
    .row.page-list.mt-4
      .col-md-7.mx-auto
        h2.mb-4.pb-10.border-bottom Список страниц
        ul.pl-0.mb-4
          li.mb-2
            a(href="main.html", style="") Главная
          //li.mb-2 
          //  a(href="service.html", style="") Услуги
          li.mb-2 
            a(href="apps.html", style="") Разработка приложений
          li.mb-2 
            a(href="projects.html", style="") Проекты
          li.mb-2 
            a(href="pk.html", style="") Политика конфиденциальности
          li.mb-2
            a(href="partnership.html", style="") Партнерская программа
          li.mb-2
            a(href="clients.html", style="") Клиенты
          li.mb-2 
            a(href="services_1c_consolidation.html", style="") 1С: Интеграция
          li.mb-2 
            a(href="services_1с_setting.html", style="") 1С: Настройка
          li.mb-2 
            a(href="services_1с_support.html", style="") 1С: Поддержка
          li.mb-2 
            a(href="services_1с_development.html", style="") 1С: Разработка
          li.mb-2
            a(href="services_1c_integration.html", style="") 1C: Внедрение
          li.mb-2
            a(href="services_it-audit.html", style="") IT: Аудит
          li.mb-2
            a(href="services_it_complex.html", style="") IT: Комплексное обслуживание
          li.mb-2 
            a(href="services_it_hosting_bitrix.html", style="") IT: Bitrix
          li.mb-2 
            a(href="services_it_hosting_bitrix24.html", style="") IT: Bitrix24
          li.mb-2
            a(href="services_it_postgre.html", style="") IT: Настройка PostgreSQL 
          li.mb-2
            a(href="services_it_corpmail.html", style="") IT: Настройка корпоративной почты
          li.mb-2
            a(href="services_it_servers.html", style="") IT: Обслуживание серверов
          li.mb-2 
            a(href="services_b24_audit.html", style="") Bitrix24: Аудит
          li.mb-2 
            a(href="services_b24_integration.html", style="") Bitrix24: Внедрение
        
  
        
        //h2.mb-4.mt-4.pb-10.border-bottom Модальные окна
        //ul.pl-0.mb-4.mt-4
        //  li.mb-2
            a(href="#modal-product" data-toggle="modal") Продукт детальная
        //  li.mb-2
        //    a(href="#modal-pass" data-toggle="modal") Забыли пароль?
        //  li.mb-2
        //    a(href="#modal-call" data-toggle="modal") Заказать звонок
        //
