extends ../templates/template-main
block content
  main
    .container.container-relative
      .row-helpdesk
        .row
          .col-lg-1
            .text-transform.text-transform_helpdesk helpdesk
          .col-lg-3
            .slider-advant-wrap.slider__wrap
              .slider-advant
                +slider-advant__item
                +slider-advant__item
                +slider-advant__item
              .dotted-header-slider__block-desc
            +button('Подключиться')
          .col-lg-5
            .map__wrap#photos
              img(src='../img/map.jpg' alt='', title='').map
              .map-images
                img(src='../img/map-icon.png' alt='', title='').map-icon#photo1
          .col-lg-3
            .helpdesk-block
              .helpdesk-title <span class="span-br">Cообщение</span> системы мониторинга
              .helpdesk-desc
                | Для выгрузки файлов обмена 
                | с целью синхронизации 
                | с внешней базой 1с требуется 
                | создание папки, общедоступной 
                | для всех пользователей нашей 
                | организации, на сервере, где 
                | непосредственно находится 
                | база и сервер 1с.
              .helpdesk-company <span class="span-br">Производственная</span> компания
    include ../_components/project-block
    section.section-services.slider__wrap-bg
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_service.price ит-сервисы
          .col-lg-11
            .row.slider-top
              .col-lg-4
                .title Отраслевые решения
              .col-lg-5
                .head-desc
                  | Обеспечьте эффективный рабочий процесс 
                  | за счет внедрения надежных и опробированных 
                  | в вашей отрасли ит-решений 
              .col-lg-2.offset-lg-1
                .container-arrows
            .row
              .col-lg-12
                .slider-resolve__wrap
                  .slider-resolve
                    +slider-resolve__item('Торговля, склад, логистика,транспорт')
                    +slider-resolve__item('Общественное питание, HoReCa')
                    +slider-resolve__item('Строительство, девелопмент, ЖКХ')
                    +slider-resolve__item('Профессиональные услуги и сервисы')
                    +slider-resolve__item('Профессиональные услуги и сервисы')
                    +slider-resolve__item('Профессиональные услуги и сервисы')
                    +slider-resolve__item('Профессиональные услуги и сервисы')

    include ../_components/clients-block
    
    section.section-app
      .container.container-relative
        .row
          .col-lg-1
            .text-transform.text-transform_app приложение
          .col-lg-4
            .iphone-img__wrap
              img(src='../img/iphone.png' alt='', title='').iphone-img
          .col-lg-7
            .iphone-block
              .subtitle.pr-lg-5
                | <span class="span-br">Отслеживайте состояние ит-инфраструктуры</span>
                | вашей компаниии с помощью <a href="#">инновационного приложения — ИТ-монитор</a>
              .iphone-block--desc
                | Мы первыми из аутсорсеров анонсируем принципиально новый подход
                | к мониторингу состояния ит-инфраструктуры, предоставляя нашим клиентам
                | уникальную возможность всегда быть на связи и обладать актуальной
                | информацией о текущем состоянии ит-сервисов своей компании
              .button-wrap.app
                a(href="javascript:void(0);").app-store
                a(href="javascript:void(0);").google-play
                
            
          
            
            
          
              
      
            
          
            
            
          
              
      
