extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service({
        img: 'bg-header-img_pk.jpg',
        title: 'Примите участие \n' +
        'в партнерской программе',
        desc: 'Приглашаем ИТ-компании к сотрудничеству. Наши партнеры увеличивают свою \n' +
        'чистую прибыль без дополнительных вложений. Присоединяйтесь!'

      }

      )


  main
    .row-wrap
      .container
        .row
          .col-lg-1
            .text-transform__block
              .text-transform.text-transform_helpdesk принцип
          .col-lg-11
            p.text-medium
              | Наши партнеры предлагают своим клиентам широчайший спектр услуг, получая максимальный доход от своей клиентской 
              | базы. В расширение линейки услуг партнеры ничего не вкладывают – они просто дополняют свои услуги нашими 
              | возможностями.  Результат – увеличение чистой прибыли без затрат на новых специалистов и оборудование.
            .row
              .col-lg-12
                .subtitle.subtitle_mb
                  | Услуги, которые получают клиенты наших партнеров:
            .row.mb-lg-4
              .col-lg-3
                +service-block({
                  img: 'service-img-1.png',
                  title: 'Частные облака для бизнеса'
                })
              .col-lg-3
                +service-block({
                  img: 'service-img-2.png',
                  title: 'Разработка крупных интернет-порталов и магазинов'
                })
              .col-lg-3
                +service-block({
                  img: 'service-img-3.png',
                  title: 'Интеграция решений на базе 1С, Битрикс24, CRM и IP-телефонии'
                })
              .col-lg-3
                +service-block({
                  img: 'service-img-4.png',
                  title: 'Комплексный ИТ-аутсорсинг'
                })
            p.text-medium
              | Все услуги оказываются под маркой самого партнера (White Label). Партнер самостоятельно оказывает услуги по своей 
              | специализации, а остальные услуги оказываем мы. Клиент получает любые необходимые услуги, а партнер – доход без 
              | вложений.
    .row-wrap
      .container
        .row
          .col-lg-1
            .text-transform__block
              .text-transform.text-transform_auditorium аудитория
          .col-lg-11
            .row
              .col-lg-12
                .subtitle.subtitle_mb
                  | Кто пользуется нашей партнерской программой    
            .row
              .col-lg-12
                p.text-medium.mb-5
                  | Для каждого вида бизнеса и специализации  у нас есть отработанная схема сотрудничества.
                .result-block.block-column3.mb-5
                  +result-item('1С-франчайзи;')
                  +result-item('ИТ-аутсорсеры;')
                  +result-item('Системные интеграторы;')
                  +result-item('Агентства и WEB-студии;')
                  +result-item('Операторы связи;')
                  +result-item('Консалтинговые компании;')
                  +result-item('Cистемные администраторы')
                p.text-medium
                  | Все наши партнеры постоянно уделяют внимание партнерской программе, так как она увеличивает их чистую прибыль.
    .row-wrap
      .container    
        .row
          .col-lg-1
            .text-transform__block
              .text-transform.text-transform_metod преимущества
          .col-lg-11
            .row.mb-lg-2
              .col-lg-2
                img(src='../img/privilege-img.png' alt='', title='').privilege-img
              .col-lg-8
                .subtitle.subtitle_mb
                  | Почему выбирают именно нашу 
                  | партнерскую программу?
                p.text-medium
                  | Мы нацелены на быстрое увеличение прибыли партнеров, поэтому работаем с каждым 
                  | партнером индивидуально, с учетом его бизнес-процессов.
            .row.mb-lg-1
              .col-lg-3
                +privilege-item({
                  num: '01.',
                  text: 'Проводим обучение сотрудников партнера'
                })
              .col-lg-3
                +privilege-item({
                  num: '02.',
                  text: 'Обеспечиваем рекламой с символикой и реквизитами партнера'
                })
              .col-lg-3
                +privilege-item({
                  num: '03.',
                  text: 'Делимся наработками с руководителями компаний-партнеров'
                })
              .col-lg-3
                +privilege-item({
                  num: '04.',
                  text: 'Помогаем в обработке лидов'
                })
            .row
              .col-lg-12
                p.text-medium 
                  |Мы действительно обсуждаем индивидуальные условия сотрудничества с каждым партнером.


                
                
                
                
    include ../_components/feedback-block

