extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service({
        img: 'bg-header-img_pk.jpg',
        title: 'Политика \n' +
                'конфиденциальности',
        desc: 'Санкт-Петербург, «20» июля 2017 г. Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) \n' +
                'действует в отношении всей информации, которую Интернет - сайт stekspb.ru, расположенный на доменном имени stekspb.ru, \n' + 
                'может получить о Пользователе во время использования сайта stekspb.ru.'

      }

      )


  main
    section.section
      .container
        .row.row-wrap
          .col-lg-1
            .text-transform.text-transform_agreement соглашение
          .col-lg-11
            .subtitle.subtitle_mb
              | 1. Определение терминов
            .desc
              p.  
                1.1 В настоящей Политике конфиденциальности используются следующие термины:
              p.
                1.1.1. «Администрация сайта stekspb.ru (далее — Администрация сайта)», уполномоченные сотрудники, действующие от имени ООО «СТЕК», которые 
                организуют и (или) осуществляют обработку персональных данных, а также определяют цели обработки персональных данных, состав персональных 
                данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
              p.
                1.1.2. «Персональные данные» — любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту 
                персональных данных).
              p.
                1.1.3. «Обработка персональных данных» — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств 
                автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение 
                (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, 
                уничтожение персональных данных.
              p.
                1.1.4. «Конфиденциальность персональных данных» — обязательное для соблюдения Администрацией сайта требование не допускать их распространения 
                без согласия субъекта персональных данных или наличия иного законного основания.
              p.
                1.1.5. «Пользователь сайта stekspb.ru (далее Пользователь)» — лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее сайт stekspb.ru.
              p.
                1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или 
                веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
              p.
                1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
      
      .container
        .row.row-wrap
          .col-lg-11.offset-lg-1
            .subtitle.subtitle_mb
              | 2. Общие положения
            .desc
              p.  
                2.1. Использование Пользователем сайта stekspb.ru означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных 
                данных Пользователя.
              p.
                2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта stekspb.ru.
              p.
                2.3. Настоящая Политика конфиденциальности применяется только к сайту stekspb.ru. Сайт stekspb.ru не контролирует и не несет ответственность за сайты 
                третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте stekspb.ru.
              p.
                2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта stekspb.ru.





    include ../_components/feedback-block

