extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service-button({
        img: 'bg-header-img_projects.jpg',
        title: 'Реализованные \n' +
                'ИТ проекты',
        desc: 'Мы успешно разработали и внедрили порядка пяти сотен различных по степени \n' +
                'сложности проектов. Каждая задача и ее решение хранятся в базе знаний компании, \n' +
                'что позволяет впоследствии быстро и эффективно разработать аналогичный проект.'
      },
      num=true

      )

  main.projects-page
    .row-wrap
      .container
        .row
          .col-lg-11.offset-lg-1
            ul.project-menu
              each val in ['Все проекты', 'Аутсорсинг', '1С','Битрикс 24', 'WEB-решения', 'Облако', 'Безопасность', 'Wi-Fi']
                li.project-menu__item
                  a(href="javascript:void(0);").project-menu__link=val
            .tags
              each val in ['Битрикс24', 'Разработка', 'Аудит сайта','Промо-решения']
                a(href="javascript:void(0);").tags__link=val
    .row-wrap
      .container.container-relative
        .row.row-helpdesk.row-projects
          .col-lg-1
            .text-transform.text-transform_project-all.price все проекты
          +product-item({
            img: 'img-content1.png',
            text: 'Комплексная оптимизация\n' +
                    'интернет-магазина: интеграция \n' +
                    'с CRM, 1С и телефонией'
          })
          .col-lg-1
          +product-item({
            img: 'img-content2.png',
            text: 'Комплексная оптимизация\n' +
                    'интернет-магазина: интеграция \n' +
                    'с CRM, 1С и телефонией'
          })
          .col-lg-1
          +product-item({
            img: 'img-content3.png',
            text: 'Комплексная оптимизация\n' +
                    'интернет-магазина: интеграция \n' +
                    'с CRM, 1С и телефонией'
          })
          .col-lg-1
          +product-item({
            img: 'img-content3.png',
            text: 'Комплексная оптимизация\n' +
                    'интернет-магазина: интеграция \n' +
                    'с CRM, 1С и телефонией'
          })
          .col-lg-1
          +product-item({
            img: 'img-content3.png',
            text: 'Комплексная оптимизация\n' +
                    'интернет-магазина: интеграция \n' +
                    'с CRM, 1С и телефонией'
          })
          .col-lg-1
          +product-item({
            img: 'img-content3.png',
            text: 'Комплексная оптимизация\n' +
                    'интернет-магазина: интеграция \n' +
                    'с CRM, 1С и телефонией'
          })
          .col-lg-1
          +product-item({
            img: 'img-content3.png',
            text: 'Комплексная оптимизация\n' +
                    'интернет-магазина: интеграция \n' +
                    'с CRM, 1С и телефонией'
          })
          .col-lg-1
          +product-item({
            img: 'img-content3.png',
            text: 'Комплексная оптимизация\n' +
                    'интернет-магазина: интеграция \n' +
                    'с CRM, 1С и телефонией'
          })
          .col-lg-1
          +product-item({
            img: 'img-content3.png',
            text: 'Комплексная оптимизация\n' +
                    'интернет-магазина: интеграция \n' +
                    'с CRM, 1С и телефонией'
          })





    include ../_components/feedback-block

