extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service({
        img: 'bg-header-img_services_it_postgre.jpg',
        title: 'Настройка PostgreSQL \n' +
        'для программ 1С',
        desc: 'Проанализировав задачи и специфику бизнеса, мы предлагаем \n' +
        'производительный хостинг, который подстраивается именно \n' +
        'под ваши задачи!'

      }

      )


  main
    .row-wrap
      .container
        .row
          .col-lg-1
            .text-transform__block
              .text-transform.text-transform_metod преимущества
          .col-lg-11
            p.text-medium.mb-5
                | Перевод 1С:Предприятие на работу с PostgreSQL обеспечивает несколько важных для бизнеса преимуществ:
            .result-block.mb-5
              +result-item('Масштабируемость;')
              +result-item('Сокращение стоимости владения ПО, по сравнению с MS SQL;')
              +result-item('Надежность хранения данных;')
              +result-item('Значительное повышение безопасности доступа к самой базе данных за счет отсутствия непосредственного доступа \n' +
              'пользователей к БД')
            p.text-medium
              | Можно продолжать увеличивать и объем базы 1С, и количество одновременно работающих в ней пользователей без снижения 
              | производительности системы и роста затрат.
    .row-wrap
      .container
        .row
          .col-lg-11.offset-lg-1        
            .block-wrap
              .subtitle.subtitle_mb
                | Перевод 1С с файловой версии на PostgreSQL
              p.text-medium
                | Производительность файловой версии 1С резко падает при достижении следующих показателей:
              .result-block.mb-5
                .row
                  .col-lg-4
                    +result-item('Количество одновременно \n' +
                    'работающих пользователей — \n' +
                    'больше 20')
                  .col-lg-4
                    +result-item('Большой объем ежедневного \n' +
                    'ввода однотипных документов, \n' +
                    'например, отгрузок;')
                  .col-lg-4
                    +result-item('Объем базы \n' +
                    'превышает 4Гб;')
              p.text-medium.mb-5
                | Начинаются типовые проблемы — длительное проведение документов и формирование отчетов, частые блокировки данных, 
                | перегруженность дисков сервера. Эти признаки говорят о необходимости перевода 1С с файловой версии на 
                | клиент-серверную.
              p.text-medium
                | Для перехода на клиент-серверную версию 1С, дополнительно потребуются как лицензия на 1С-сервер (покупается 
                | дополнительно к имеющемуся пакету лицензирования 1С), так и СУБД SQL, адаптированная для работы с 1С. В качестве 
                | СУБД для этого подходят:
              .result-block.mb-5
                .row
                  .col-lg-4
                    +result-item('MS SQL Server;')
                    +result-item('MS SQL Express;')
                  .col-lg-4
                    +result-item('PostgreSQL;')
                    +result-item('Oracle;')
                  .col-lg-4
                    +result-item('IBM DB2.')
              p.text-medium.mb-5
                | Из них наиболее популярны:
              .blue-block.mb-5
                .row
                  .col-lg-4
                    +blue-item('MS SQL Express')
                    +blue-item('MS SQL Server')
                    +blue-item('PostgreSQL')
              p.text-medium.mb-5
                | При исчерпании возможностей файловой версии 1С оптимальным бизнес-решением станет переход на PostgreSQL:
              .result-block
                +result-item('Возможность масштабирования — отсутствуют технические ограничения по размерам базы, количеству пользователей, процессорам и т.д.;')
                +result-item('Экономия на регулярных платежах за SQL-лицензии, по сравнению с MS SQL;')
                +result-item('Экономия средств и усилий за счет разового перехода на PostgreSQL по сравнению со ступенчатым переходом — \n' +
                'вначале с файловой 1С на MS SQL, потом — для экономии затрат с MS SQL на PostgreSQL.')
            
            .row
              .col-lg-1
                img(src='../img/step-img-24.png' alt='', title='').step-img
              .col-lg-11
                p.text-medium
                  | Чтобы не увеличивать нагрузку на ваши рабочие сервера и быстро подобрать необходимые параметры 
                  | серверных мощностей, мы предоставляем на 30 дней частное облако («песочницу»). Это позволяет отработать 
                  | связку 1С-базы, 1С-сервера и PostgreSQL и протестировать работу на 2-3 пользователях. После отработки 
                  | оптимальной конфигурации можно продолжить работу и сопровождение 1С в частном облаке (гибридная 
                  | ИТ-инфраструктура) или перенести данные на собственные сервера.

    .row-wrap
      .container
        .row
          .col-lg-11.offset-lg-1              
            .subtitle.subtitle_mb
              | Перенос базы 1С с MS SQL на PostgreSQL
            p.text-medium
              | Не каждый ИТ-бюджет выдержит политику лицензирования компании «Microsoft». Многие компании переводят свои базы 1С 
              | с MS SQL на бесплатный PostgreSQL, а экономия на покупке лицензий с лихвой окупает затраты на перенос базы.
            p.text-medium
              | При переносе 1С на PostgreSQL надо учитывать:
            .blue-block.mb-5
              +blue-item('Переносится типовая 1С-конфигурация или доработанная')
              +blue-item('На какой операционной системе будет работать PostgreSQL — Windows или Linux')
              +blue-item('Разрядность операционной системы и 1С-сервера')
            p.text-medium
              | Если вы только собираетесь развертывать 1С в сети вашей компании, то лучше сразу ориентироваться на версию 
              | 1С:Предприятия на PostrgeSQL. В ином случае в будущем может потребоваться выполнение проекта по переводу 1С уже с СУБД 
              | MS SQL на PostgreSQL, что может повлечь дополнительные затраты.

    .row-wrap
      .container
        .row
          .col-lg-11.offset-lg-1
            .subtitle.subtitle_mb
              | Типовой проект по переводу 1С с MS SQL на PostgreSQL
            .row
              .col-lg-5
                .type-title Параметры 1С-конфигурации:
                .result-block
                  +result-item('Количество пользователей: 20;')
                  +result-item('Объем 1С-базы: 10Гб.')
              .col-lg-6.offset-lg-1
                .type-title Программное обеспечение:
                .result-block
                  +result-item('Терминальный сервер 1С;')
                  +result-item('1С-сервер;')
                  +result-item('СУБД PostgreSQL.')
                  
    .row-wrap
      .container
        .row
          .col-lg-11.offset-lg-1        
            .subtitle.subtitle_mb
              | Этапы выполнения проекта
            .blue-block.mb-5
              +blue-list({
                count: '1',
                text: 'Настройка серверов'
              })
              .sublist
                p.text-medium Включает в себя:
                .result-block
                  +result-item('Объем 1С-базы: 10Гб.')
                  +result-item('Объем 1С-базы: 10Гб.')
              +blue-list({
                count: '2',
                text: 'Настройка 1С-сервера и PostgreSQL'
              })
              +blue-list({
                count: '3',
                text: 'Конвертация баз данных 1С в формат PostgreSQL'
              })
            p.text-medium.mb-5
              | К сожалению ни один из этих способов не дает 100%-ой гарантии работоспособности 1С. Особенно в том случае если 
              | в пользовательских SQL-запросах к базе был использован синтаксис за пределами стандарта SQL92. Поэтому в каждом 
              | переносе базы данных 1С участвуют 1С-программисты — для проведения соответствующих доработок и тестирования 
              | результатов.
              | Проект по переводу 1С на PostgreSQL требует знаний и квалификации сразу в нескольких ИТ-областях. Такие проекты 
              | выполняет команда из системного инженера, специалиста по SQL-базам и 1С-программиста, специализирующегося на 
              | данных конфигурациях 1С.
            p.text-medium
              | Проект по переводу 1С на PostgreSQL требует знаний и квалификации сразу в нескольких ИТ-областях. Такие проекты 
              | выполняет команда из системного инженера, специалиста по SQL-базам и 1С-программиста, специализирующегося на 
              | данных конфигурациях 1С. 
                
    .row-wrap
      .container
        .row
          .col-lg-11.offset-lg-1
            .row
              .col-lg-4
                .subtitle Сроки и стоимость 
                  .span-br проекта по переводу 1С 
                  .span-br на PostgreSQL от:
              .col-lg-4
                .time-block
                  img(src='../img/step-img-2.png' alt='', title='').time-block--img
                  .time-block__desc
                    .time-block__desc--num 3
                    .time-block__desc--text рабочих дня
              .col-lg-4
                .time-block
                  img(src='../img/icon-cash.png' alt='', title='').time-block--img
                  .time-block__desc
                    .time-block__desc--num 18 000
                    .time-block__desc--text рублей

    .row-wrap
      .container
        .row
          .col-lg-11.offset-lg-1
            .subtitle.subtitle_mb
              | Наши преимущества
            p.text-medium.mb-5
              | Мы умеем переводить 1С на PostgreSQL и готовы сделать это быстро и качественно:
            .result-block
              +result-item('Обеспечиваем весь комплекс работ — над каждым проектом работает слаженная команда профессионалов по своим \n' +
              'направлениям (системное администрирование, оптимизация SQL-баз, 1С-конфигурации);')
              +result-item('У нас работают 1С-программисты по всем основным конфигурациям, с опытом настройки 1С:Предприятие более 15 лет;')
              +result-item('Наши системные инженеры обслуживают сервера на Windows, на Linux и знают, как добиться максимальной \n' +
              'производительности на разных версиях ОС;')
              +result-item('Предоставляем в аренду частные облака и для постоянной работы и для тестирования работы 1С на PostgreSQL. Знаем \n' +
              'все о распределенных вычислениях, оптимизации нагрузок на сервера и отказоустойчивости. Поможем проверить \n' +
              'любую новую конфигурацию ИТ-инфраструктуры, чтобы добиться максимальной производительности. ')

    include ../_components/feedback-block
