extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service({
        img: 'bg-header-img_services_1с_vnedr.jpg',
        title: 'Выбираете хостинг \n' +
        'для проекта на CMS Bitrix?',
        desc: 'Мы предлагаем производительную платформу плюс группу \n' +
        'сертифицированных специалистов, сопровождающих ваш проект, \n' +
        'по цене обычного хостинга!'

      }

      )


  main
    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_disposition диспозиция
          .col-lg-7
            +when-block({
              img: 'step-img-6.png',
              desc: 'Интеграции и рост нагрузки? Мы уже готовы к развитию вашего \n' +
              'проекта! Опробованные решения и группа внедрения всегда \n' +
              'к вашим услугам.'
            })

            +when-block({
              img: 'step-img-25.png',
              desc: 'Безопасность и соответствие законодательству? Мы уже провели \n' +
              'сертификацию и используем уникальные методики по защите \n' +
              'от атак.'
            })

            +when-block({
              img: 'step-img-26.png',
              desc: 'Скорость работы критична для вашего web-проекта? \n' +
              'Конфигурируем платформу индивидуально под особенности \n' +
              'вашей сборки CMS Bitrix!'
            })
          .col-lg-3.offset-lg-1
            .subtitle.subtitle_mb
              | А что у других 
              | хостеров? 
            p.
              Большинство предлагают «железо» 
              в отрыве от реального бизнеса.
            p.
              При росте нагрузки и появлении 
              тормозов вам добавят мощности 
              и увеличат стоимость. Поиском причин 
              придется заниматься самостоятельно.
            p.mb-5
              | Разработка и интеграции целиком 
              | на ваших плечах.


    section.section-middle
      .container
        .row
          .col-lg-3.offset-lg-1
            .steps-title.subtitle_mb Кому подходит хостинг для Битрикс?
            p.mb-5
              | Решим любую задачу, потребующую 
              | хостинга сайта 1С Битрикс, но вам 
              | особенно необходимо обратиться 
              | к нам, если…
            +button('Заказать')
          .col-lg-7.offset-lg-1
            .steps-block
              +step-item({
                img: 'step-img-27.png',
                subtitle: 'Планируете открытие интернет-магазина?',
                text: 'Необходимо автоматизировать работу и сократить издержки? \n' +
                'Мы готовы поделиться опытом, внедрить опробованные модели \n' +
                'развития бизнеса в онлайн-среде и вывести ваш проект на \n' +
                'новый уровень за счет высокоскоростного хостинга.'
              })
              +step-item({
                img: 'step-img-28.png',
                subtitle: 'Устали от большого количества субподрядчиков?',
                text: 'Хостер кивает на разработчика, разработчик на 1С, 1С на \n' +
                'платежный сервис и так по кругу? Вы платите деньги, а проблема \n' +
                'не решается? Доверьте хостинг для сайта, а также хостинг \n' +
                'серверов одному управляющему ИТ-менеджеру и мы обеспечим \n' +
                'надежный переход вашего сайта на хостинг 1C Bitrix без потери \n' +
                'интеграций!'
              })
              +step-item({
                img: 'step-img-29.png',
                subtitle: 'Нуждаетесь в экстренной помощи?',
                text: 'Ваш бизнес испытал взрывной рост? Но ИТ-инфраструктура \n' +
                'осталась на прежнем уровне и не справляется с новым потоком \n' +
                'клиентов? Мы проведем бесплатный экспресс-аудит текущего \n' +
                'состояния, определим оптимальную конфигурацию, учитывающую \n' +
                'все факторы роста, спланируем и сразу внедрим изменения.'
              })

    section.section-middle.plus-block
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_feedback.text-ultragreen плюсы
          .col-lg-4
            .plus__left
              .plus-title Преимущества нашего 
                .span-br хостинга для 1С Битрикс
              
              .slider-plus-wrap.slider__wrap
                .dotted-plus-slider__block-desc
                .slider-plus
                  +slider-plus__item
              
          .col-lg-6.offset-lg-1
            .plus-item
              .plus-item__title Собственная сборка VM Bitrix
              .plus-item__decs 
                | Компания Битрикс разработала универсальною сборку 
                | виртуальной машины для CMS Bitrix. Мы оптимизируем 
                | и кастомизируем ее конкретно под ваш WEB-проект.
            
                            
    .row-wrap
      .container
        .row.block-wrap
          .col-lg-1
            .text-transform.text-transform_metod стоимость
          .col-lg-3
            .subtitle.subtitle_mb
              | Тарифы на хостинг для 1С Битрикс
          .col-lg-7.offset-lg-1  
            p.text-medium
              | Мы принципиально не используем регламентированную тарифную сетку, 
              | которая ограничила бы ваши возможности. Стоимость услуги формируется 
              | индивидуально исходя из потребностей клиента.
        .row.block-wrap
          .col-lg-3.offset-lg-1
            +price-item({
              name: 'Минимальная конфигурация платформы:',
              comment: '2 ядра, 4GB RAM, 30GB OS + Data Ultra SSD ',
              from: 'от',
              sum: '950',
              cur: 'руб./мес'
            })
          .col-lg-3.offset-lg-1
            +price-item({
              name: 'Платформа среднегопроекта:',
              comment: '4 ядра, 8GB RAM, 30GB OS/50GB Data/ 100GB Backup ',
              from: 'от',
              sum: '3 700',
              cur: 'руб./мес'
            }) 
          .col-lg-3.offset-lg-1
            .green-block
              .green-block__title Приятные бонусы
              +green-block__item('Бесплатный экспресс-аудит')
              +green-block__item('Бесплатный тестовый период на 14 дней')
              
        .row.block-wrap.align-items-end
          .col-lg-7.offset-lg-1
            .subtitle.subtitle_mb
              | Узнайте стоимость хостинга для вашего проекта!
            p.text-medium
              | Мы подберем для вас оптимальный вариант конфигурации платформы, с учетом 
              | специфики вашего бизнеса и планируемого бюджета.
          .col-lg-3.offset-lg-1
            .subtitle-small Прямой номер эксперта (9:00-23:00):
            a(href="tel:+7 965 022 73 40").tel-red +7 965 022 73 40
            
        .row
          .col-lg-3.offset-lg-1
            img(src='../img/cert-img1.jpg' alt='', title='').cert-img
          .col-lg-3.offset-lg-1
            img(src='../img/cert-img2.jpg' alt='', title='').cert-img
          .col-lg-3.offset-lg-1
            .subtitle.subtitle_mb
              | Сертификаты 1С Битрикс
            .mb-5
              img(src='../img/cert-small.png' alt='', title='').cert-right-img
            p.
              Большинство предлагают «железо» 
              в отрыве от реального бизнеса.
            p.
              При росте нагрузки и появлении 
              тормозов вам добавят мощности 
              и увеличат стоимость. Поиском причин 
              придется заниматься самостоятельно.
            p.mb-5
              | Разработка и интеграции целиком 
              | на ваших плечах.
            
    .row-wrap
      .container
        .row.block-wrap
          .col-lg-1
            .text-transform.text-transform_metod информация
          .col-lg-11
            .subtitle.subtitle_mb
              | Хостинг 1 С Битрикс в вопросах и ответах
            +blue-item('Требования CMS Битрикс к хостингу')
            +blue-item('Варианты оплаты услуги')
            +blue-item('Тарифные планы')

    include ../_components/feedback-block
