extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service({
        img: 'bg-header-img_services_b24_audit.jpg',
        title: 'Внедрение корпоративного\n' +
        'портала Битрикс24',
        desc: 'Широчайший опыт внедрений и уникальная рабочая группа проекта, в состав которой \n' +
        'войдут все необходимые специалисты: от аналитиков и разработчиков до 1С-программистов\n' +
        'и ит-экспертов, обеспечат отличный результат в сжатые сроки.'

      }

      )


  main
    section.section-middle
      .container
        .row
          .col-lg-11.offset-lg-1
            p.
              Планируете внедрить систему управления проектами или создать портал для коммуникации персонала в CRM Битрикс24 и находитесь в поисках 
              подрядчика для проведения работ. В вашей организации сложные бизнес-процессы, большую часть из которых хочется закрыть единовременно и быстро.
            p.mb-5
              | Хотите опереться на надежного партнера, который не раз прошел внедрение этой системы и предвидит ситуацию на несколько шагов? 
              | Мы специализируемся на внедрении и поддержке коробочных Битрикс24 и их интеграции со сторонними приложениями и поможем в реализации 
              | ваших планов.
    
        .row
          .col-lg-11.offset-lg-1
            .subtitle-docs__wrap.subtitle_mb
              .subtitle
                | Почему стоит выбрать нашу команду для внедрения?
              a(href="javascript:void(0);").docs-cert Наши сертификаты Битрикс24
        .row
          .col-lg-1
            .text-transform.text-transform_bonus преимущества

          .col-lg-5
            +when-block({
              img: 'step-img-32.png',
              desc: 'Экспертиза: мозг проекта, мы способны провести \n' +
              'анализ сложившихся в компании бизнес-процессов \n' +
              '(управление проектами, продажи, склад, \n' +
              'бухгалтерия и т.д.) и дать оптимальные решения, \n' +
              'как их интегрировать в Битрикс24.'
            })
            +when-block({
              img: 'step-img-7.png',
              desc: 'Доработка портала: в команде только свои \n' +
              'специалисты по Битрикс24 – сертифицированные, \n' +
              'золотые, опытные и всегда доброжелательные.'
            })
            +when-block({
              img: 'when-img-6.png',
              desc: 'Выделенные мощности: решим любые вопросы \n' +
              'с развертыванием платформы под будущий портал, \n' +
              'предоставим собственные виртуальные сервера \n' +
              'под высоконагруженные проекты.'
            })
          .col-lg-5.offset-lg-1
            +when-block({
              img: 'step-img-12.png',
              desc: 'Свой отдел веб-разработки: закроем все вопросы \n' +
              'по брендированию дизайна портала, а также по \n' +
              'связке с сайтом, подключению внешних интернет-\n' +
              'сервисов и по сложным обменам с другими \n' +
              'программными продуктами.'
            })
            +when-block({
              img: 'step-img-33.png',
              desc: 'Интеграция с 1С: штат 1С-программистов  с опытом \n' +
              'интеграции исключает необходимость привлечения \n' +
              'сторонних узкопрофильных подрядчиков.'
            })
            +when-block({
              img: 'step-img-22.png',
              desc: 'Задачи ИТ-поддержки проекта: оптимизация работы \n' +
              'программного продукта и внедрение нового сервиса \n' +
              'Битрикс24 в существующую ИТ-инфраструктуру \n' +
              '(почта, телефония и т. д.).'
            })
              
    +profit-block('Сотрудничество с разносторонней проектной группой по принципу «единого окна» без бумажной волокиты и утомительных коммуникаций с многочисленными исполнителями различных специализаций')          
              
    section.section-middle
      .container
        .row.mb-lg-5
          .col-lg-1
            .text-transform.text-transform_service24.price услуги б24
          .col-lg-3
            +service24__item({
              num:'01.',
              decs:'Помощь в выборе и приобретении лицензии Битрикс24'
              })
          .col-lg-3
            +service24__item({
              num: '02.',
              decs: 'Развертывание и настройка \n' +
              'коробочного решения на \n' +
              'выделенном сервере'
            })
          .col-lg-3
            +service24__item({
              num: '03.',
              decs: 'Доработка коробки или \n' +
              'создание приложений для \n' +
              'облачного продукта'
            })
          .col-lg-2
            +service24__item({
              num: '04.',
              decs: 'Внедрение портала \n' +
              'в работу компании \n' +
              'и его настройка'
            })
        .row
          .col-lg-3.offset-lg-1
            +service24__item({
              num: '05.',
              decs: 'Интеграция CRM системы \n' +
              'c 1C, телефонией и другими \n' +
              'сервисами'
            })
          .col-lg-3
            +service24__item({
              num: '06.',
              decs: 'Настройка бизнес-\n' +
              'процессов и автоматизация \n' +
              'роботов'
            })
          .col-lg-3
            +service24__item({
              num: '07.',
              decs: 'Обучение персонала \n' +
              'и сопровождение проекта \n' +
              'внедрения CRM'
            })


    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_cost стоимость
        .row
          .col-lg-5.offset-lg-1
            +cost-item({
              img: 'rate-img3.png',
              subtitle: 'Облачный портал Битрикс24 ',
              sum: '30 000',
              text_1:'Помощь в выборе платного тарифа под озвученные задачи;',
              text_2:'Интеграция с каналами коммуникации с клиентами;',
              text_3:'Базовая настройка блока CRM;',
              text_4:'Автоматизация работы со сделками'
            })
          .col-lg-5.offset-lg-1
            +cost-item({
              img: 'rate-img1.png',
              subtitle: 'Коробочное решение Битрикс24 ',
              sum: '200 000',
              text_1:'Выбор оптимальной лицензии под проект;',
              text_2:'Базовая установка и настройка системы;',
              text_3:'Разработка ТЗ на проект внедрения;',
              text_4:'Функциональные доработки и инструкции;',
              text_5:'Запуск портала в работу.'
            })

    include ../_components/project-block
      
    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_info информация
          .col-lg-11
            .subtitle.subtitle_mb
              | Внедрение Битрикс24 в вопросах и ответах
            .blue-block
              +blue-item('Зачем нужно внедрение Битрикс24?')
              +blue-item('Каковы этапы внедрения? ')
              +blue-item('Что выбрать — Битрикс24 облако или коробка?')
        



    include ../_components/feedback-block
