extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service({
        img: 'bg-header-img_services_1с_integr.jpg',
        title: 'Обслуживание\n' +
        'серверов',
        desc: 'Самостоятельно обслуживаем серверы, с готовностью сотрудничаем с системными \n' +
        'администраторами на стороне клиента. Помогаем решать вопросы, требующие \n' +
        'экспертных знаний в узких областях.'

      }

      )


  main
    section.section-corpmail
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_decision Решения
          .col-lg-11
            .subtitle.subtitle_mb
              | Обслуживание серверов — одна из наших основных специализаций.
            p.
              Независимо от количества серверов, операционных систем и виртуальных машин, мы готовы предоставить свои услуги, среди которых:
            .result-block.block-column2.mb-5
              +result-item('Обслуживание файловых серверов;')
              +result-item('Обслуживание WEB-серверов;')
              +result-item('Обслуживание серверов IP-телефонии;')
              +result-item('Обслуживание SQL-серверов;')
              +result-item('Обслуживание почтовых серверов;')
              +result-item('Обслуживание серверов 1С;')
              +result-item('Установка и обслуживание терминальных \n' +
                            'серверов;')
              +result-item('Диагностика и ремонт серверов;')
              +result-item('Аудит серверных группировок.')
        .row
          .col-lg-11.offset-lg-1
            .subtitle.subtitle_mb
              | Что входит в обслуживание серверов
            p.
              Общий перечень работ, проводимых при регламентном обслуживании:
            .result-block.block-column2
              +result-item('Удаленное администрирование;')
              +result-item('Подключение системы мониторинга;')
              +result-item('Настройка корректной работы различных служб ОС;')
              +result-item('Поддержка, разграничение прав и организация \n' +
              'доступа пользователей к общим ресурсам сети;')
              +result-item('Поддержка внутренней системы безопасности;')
              +result-item('Поддержка, контроль общего доступа в Интернет \n' +
              'в локальной сети с ведением статистики;')
              +result-item('Оптимизация трафика внутри сети;')
              +result-item('Установка необходимого ПО с дистрибутива \n' +
              'Заказчика;')
              +result-item('Поддержка системы резервного копирования \n' +
              'баз данных;')
              +result-item('Поддержка сетевой антивирусной защиты \n' +
              'и автоматического обновления баз данных;')
              +result-item('Поддержка системы обновления стандартного ПО;')
              +result-item('Рекомендации по обновлению оборудования;')
              +result-item('Анализ записей в системных журналах для \n' +
              'выявления ошибок;')
              +result-item('Профилактика и техническое обслуживание \n' +
              'аппаратной части.')

    section.section-express
      .container
        .section-express__top
          .row
            .col-lg-1
              .text-transform.text-transform_express.text-ultragreen.price экспресс-аудит
            .col-lg-4
              .icon-servers__wrap
                img(src='../img/icon-servers.png' alt='', title='').icon-servers
              .green-block__title
                | Подготовка серверов к абонентскому обслуживанию
              .green-block__text-medium 
                | Регламентное обслуживание серверов 
                | начинается с экспресс-аудита, в который 
                | входит перечень исследований.
            .col-lg-6.offset-lg-1
              .list-block
                +list-item__yellow('Анализ топологии сети;')
                +list-item__yellow('Определение узких мест сети по производительности, \n' +
                'надежности и безопасности;')
                +list-item__yellow('Анализ серверного оборудования и конфигураций \n' +
                'на соответствие поставленным задачам;')
                +list-item__yellow('Определение необходимых параметров системы \n' +
                'мониторинга серверов;')
                +list-item__yellow('Контроль политики резервного копирования;')
                +list-item__yellow('Проверка технических параметров серверов.')
    section.section-express__middle
      .container
        .row
          .col-lg-10.offset-lg-1.align-items-center.d-flex
            img(src='../img/icon-result.png' alt='', title='').icon-result
            p.text-medium 
              | По результатам экспресс-аудита составляются рекомендации по структуре серверной группировки, 
              | ее аппаратной и программной части. Формируется ТЗ для проекта по оптимизации работы серверов.
    section.section-express.section-middle
      .container
        .section-express__bottom
          .row.mb-lg-4
            .col-lg-11.offset-lg-1
              .green-block__title
                | Состав команды, работающей по таким проектам:
          .row.mb-lg-5
            .col-lg-3.offset-lg-1
              +team-item({
                img: 'icon-team1.png',
                decs: 'ИТ-архитектор / Технический \n' +
                'директор: экспертиза задачи, \n' +
                'разработка вариантов решений, \n' +
                'технический надзор.'
              })
            .col-lg-3.offset-lg-1
              +team-item({
                img: 'icon-team2.png',
                decs: 'Профильные инженеры по \n' +
                'необходимым ИТ-направлениям: \n' +
                'базы данных, системы \n' +
                'виртуализации, веб-технологии, \n' +
                'IP-телефония и т. д.'
              })
            .col-lg-3.offset-lg-1
              +team-item({
                img: 'icon-team3.png',
                decs: 'Специалист по лицензированию \n' +
                'ПО: поможет подобрать \n' +
                'подходящий софт, подготовит \n' +
                'документы на приобретение \n' +
                'прав пользования.'
              })
          .row
            .col-lg-11.offset-lg-1
              .green-block__title
                | Постановка серверов на абонентское обслуживание 
              p.text-medium
                | После экспресс-аудита и оптимизации работы начинается абонентское (сервисное) обслуживание серверов. 
                | В ходе обслуживания к каждому серверу подключается система автоматического мониторинга, содержащая особые 
                | паттерны — признаки типовых проблемных ситуаций. Это помогает оперативно устранять источники сбоев и снижает время 
                | простоя серверов.
    
    section.section-corpmail
      .container
        .row
          .col-lg-11.offset-lg-1
            .subtitle.subtitle_mb
              | Примеры работ при сервисном обслуживании серверов:
            .blue-block
              +blue-item('Обслуживание серверов на Windows')
              +blue-item('Обслуживание серверов на Linux / Unix')
              +blue-item('Сетевое оборудование')
    section.section-corpmail
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_tarif тарифы
          .col-lg-11
            .subtitle.subtitle_mb
              | Стоимость обслуживания серверов
            .row
              .col-lg-7
                p.
                  Мы обслуживаем сервера на любых версиях операционных систем Windows и Linux. Стоимость обслуживания сервера зависит от:
                .blue-block
                  +blue-item('Запущенных на сервере ИТ-сервисов')
                  +blue-item('Использования на сервере систем виртуализации')
                  +blue-item('Уровня обслуживания SLA')
              .col-lg-4.offset-lg-1
                p.
                  Стоимость абонентского сопровождения сервера начинается 
                .corpmail-price
                  .tariff-cur
                    .span-ultragreen от
                  .tariff-sum.price
                    .span-green 3 700
                  .tariff-cur
                    .span-ultragreen руб./мес
    
    include ../_components/feedback-block
