extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service({
        img: 'bg-header-img_services_1с_nastr.jpg',
        title: 'Вам требуется\n' +
        'настройка конфигурации 1С?',
        desc: 'Мы поможем настроить систему учета под цели и задачи вашего бизнеса, \n' +
        'автоматизировать рутинные операции!'

      }

      )


  main
    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_disposition диспозиция
          .col-lg-7
            +when-block({
              img: 'step-img-7.png',
              desc: 'Типовые учетные системы 1С разработаны для того, чтобы максимально \n' +
              'закрывать потребности множества организаций по задачам ведения учета \n' +
              'на предприятии. Тем не менее типовые продукты 1С как правило не учитывают \n' +
              'сложной специфики деятельности компании или же не полностью отражают \n' +
              'сложившиеся в организации бизнес-процессы.'
            })

            +when-block({
              img: 'step-img-6.png',
              desc: 'В таких случаях разработчиком – фирмой 1С — предусмотрена возможность \n' +
              'модификации конфигурации 1С под цели и задачи клиента. Цена настройки 1С, \n' +
              'как правило, варьируется и зависит от конкретных требований заказчика.'
            })

            +when-block({
              img: 'step-img-8.png',
              desc: 'Если у вас возникли проблемы с отражением вашей деятельности в учетной \n' +
              'системе 1С или требуется автоматизация рутинных операций, то пришла пора \n' +
              'настроить продукт 1С под свои цели и задачи! Настройка 1С в СПб – наша \n' +
              'профильная работа.'
            })
          .col-lg-3.offset-lg-1
            +disp-right('Неважно, какая у вас задача по \n' +
            'настройке 1C, мы сможем дать \n' +
            'экспертную оценку о необходимых \n' +
            'переменах в структуре учета.')


    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_decision решения
          .col-lg-11
            .row
              .col-lg-12
                .subtitle.subtitle_mb
                  | Наиболее востребованные услуги по настройке 1С    
                .result-block.block-column2.mb-lg-4
                  +result-item('Доработка интерфейсов, ролей и прав пользователей;')
                  +result-item('Обновление нетиповых конфигураций;')
                  +result-item('Регламентная отправка бизнес-аналитики из 1С для руководителя;')
                  +result-item('Разработка дополнительных модулей учета (CRM и задачи сотрудникам, логистика и т.д.);')
                  +result-item('Создание новых отчетов, обработок и печатных форм;')
                  +result-item('Настройка обмена данными с 1С;')
                  +result-item('Консультации по вопросам ведения учета и написание инструкций для групп пользователей;')
                  +result-item('Консолидация данных из разных систем по ведению учета заказчика.')
                p.
                  Мы работаем с конфигурациями: 1С:Управление торговлей, 1С:Управление небольшой фирмой, 1С: Розница, 1С: Бухгалтерия, 
                  1С: Комплексная автоматизация, 1С: Управление производственным предприятием и многими другими решениями на базе «1С».

    section.tariff-block
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_tarif.text-ultragreen тарифы
          .col-lg-4
            .feedback__left
              .feedback--title Настройка 1С: 
                .span-br стоимость
          .col-lg-7
            .tariff-decs
              | В нашей компании в будние дни работает несколько дежурных специалистов 
              | по настройке 1С. За счет этого мы можем предложить оперативные услуги 
              | по установке и настройке 1С, цена которых зависит от оценки поступившей от 
              | заказчика задачи. В случае несложных вопросов мы всегда озвучиваем клиенту 
              | ожидаемые затраты до реализации работ. Если же задача объемная, то 
              | согласовываем стоимость услуг по настройке 1С и разработке технического 
              | задания на проект.
        .row
          .col-lg-3.offset-lg-1
            +tariff-item__nofrom({
              name: 'Удаленная настройка',
              comment: 'доступный способ поддержки',
              sum: '2 500',
              cur: 'руб./час'
            })
          .col-lg-3.offset-lg-1
            +tariff-item__nofrom({
              name: 'Оценка задачи',
              comment: 'консультация по затратам',
              sum: 'бесплатно',
              cur: ''
            })
          .col-lg-3.offset-lg-1
            +tariff-item__nofrom({
              name: 'Сопровождение',
              comment: 'фиксированная цена от',
              sum: '7 000',
              cur: 'руб./мес'
            })
            
    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_auditorium аудитория
          .col-lg-11
            .subtitle.subtitle_mb.pr-lg-5
              | Приведем лишь несколько примеров направлений деятельности организации
              | или отдельно взятого подразделения, которым необходимы наши услуги:
        .row
          .col-lg-2.offset-lg-1
            +service-block({
              img: 'service-img-1.png',
              title: 'Отдел продаж',
              decs: 'Улучшить или преобразовать \n' +
              'CRM типовой конфигурации'
            })
          .col-lg-2.offset-lg-1
            +service-block({
              img: 'service-img-2.png',
              title: 'Логистика и закупки',
              decs: 'Повысить информативность \n' +
              'и контроль за поставками'
            })
          .col-lg-2.offset-lg-1
            +service-block({
              img: 'service-img-3.png',
              title: 'Руководство',
              decs: 'Настройка аналитики и\n' +
              'контрольных точек работы'
            })
          .col-lg-2.offset-lg-1
            +service-block({
              img: 'service-img-4.png',
              title: 'Финансы и смета',
              decs: 'Формирование сложных \n' +
              'отчетов и обработок'
            })
            
    include ../_components/project-block
      

    section.section-middle
      .container
        .row
          .col-lg-3.offset-lg-1
            img(src='../img/1c-img.png' alt='', title='').one-img
            .steps-title Как мы настраиваем 1С
          .col-lg-7.offset-lg-1
            .steps-block.mb-lg-5
              +step-item({
                img:'step-img-9.png',
                subtitle:'Детальное исследование',
                text:'Этот этап состоит из анализа специфики деятельности \n' +
                'вашей организации.'
              })
              +step-item({
                img: 'step-img-1.png',
                subtitle: 'Составление ТЗ',
                text: 'Формирования перечня работ по настройке 1С для \n' +
                'технического задания.'
              })
              +step-item({
                img: 'step-img-3.png',
                subtitle: 'Кодирование и тестирование',
                text: 'Ключевой этап проекта: настройка и тестирование \n' +
                'результатов проведения работ.'
              })
              +step-item({
                img: 'step-img-10.png',
                subtitle: 'Поэтапное внедрение',
                text: 'Внедрение результатов работ с обучением пользователей \n' +
                'работе с системой.'
              })

    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_docs документы
          .col-lg-4
            img(src='../img/result-img.png' alt='', title='').result-img
          .col-lg-7
            .subtitle.subtitle_mb
              | Договор на проведение работ
            p.text-medium
              | Любые работы по 1С можно условно разделить на несколько этапов, поэтому 
              | с заказчиком как правило заключаются три договора. Первый – на проведение 
              | предпроектного обследования и формирование краткого техзадания 
              | на будущий проект. Второй – это договор на проект, со всеми закрепленными 
              | в него этапами внедрения, интеграций, переносов данных, обучения и запуска. 
              | Третий – после запуска системы в работу, определяется необходимый объем 
              | часов на ежемесячную поддержку/доработку системы, сроки реагирования 
              | на заявку, перечень не критичных доработок, которые будут постепенно 
              | внедряться в рамках действия договора на поддержку.


    include ../_components/feedback-block
