extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service({
        img: 'bg-header-img_it-audit.jpg',
        title: 'ИТ-аудит: комплексное исследование ит-инфраструктуры',
        desc: 'Изучаем и документируем процессы и сервисы, оборудование и ПО. Выявляем уязвимости, \n' +
                'потенциальные точки отказа, оцениваем риски и формируем рекомендации. Работаем \n' +
                'с территориально-распределенным крупным компаниям, средним и малым предприятиям.'

      }

      )


  main
    section.section-middle
      .container
        .row
          .col-lg-11.offset-1
            .desc
              p.  
                Наш Центр технической компетенции готов предложить услуги ИТ-консалтинга территориально-распределенным крупным компаниям, средним 
                и малым предприятиям. На сегодняшний день самым распространенным видом консалтинга является проведение специализированного ИТ-аудита.
              p.
                Основная цель ИТ-аудита — это формализация и документирование ИТ-инфраструктуры клиента, выявление узких мест и «точек отказа», оценка рисков, 
                связанных с обнаруженными проблемами, получение объективной информации о системе и экспертных рекомендаций по ее улучшению. 
                Поможем проверить контрагента по ИТ.



    section.section-middle
      .container
        .row.head-wrap_small
          .col-lg-11.offset-lg-1
            .subtitle
              | Когда необходимо провести ИТ-аудит?
        .row.row-case
          .col-lg-1
            .text-transform.text-transform_disposition диспозиция
          .col-lg-5
            +when-block({
              img: 'step-img-32.png',
              desc: 'Организация нового бизнеса/подразделения:\n' +
              'необходим консалтинг/аудит проекта\n' +
              'информационной структуры предприятия.'
            })

            +when-block({
              img: 'step-img-7.png',
              desc: 'Отсутствие системы и контроля за аппаратным \n' +
                      'и программным обеспечением. Нужно больше \n' +
                      'текста, чтобы соблюсти плотность!'
            })

            +when-block({
              img: 'step-img-33.png',
              desc: 'Компания стоит перед выбором путей \n' +
              'модернизации ИТ-платформы для нового этапа \n' +
              'развития бизнеса.\n'
            })
          .col-lg-5.offset-lg-1
            +when-block({
              img: 'step-img-34.png',
              desc: 'Проблемы и нестабильность работы текущей\n' +
                      'IT-инфраструктуры компании. Нужно больше \n' +
                      'текста, чтобы соблюсти плотность!'
            })

            +when-block({
              img: 'step-img-35.png',
              desc: 'Очень дорогое содержание текущей ИТ-системы.Нужно больше текста, чтобы соблюсти плотность\n' +
              'информации на странице!'
            })

            +when-block({
              img: 'step-img-36.png',
              desc: 'После внедрения новой ИТ-структуры Вы не \n' +
                      'получили желаемого эффекта. Нужно больше \n' +
                      'текста, чтобы соблюсти плотность.'
            })


    section.section-middle
      .container
        .row.head-wrap.head-wrap_small
          .col-lg-11.offset-lg-1
            .subtitle
              | Виды проведения ИТ-исследований
        .row.mb-lg-5
          .col-lg-1
            .text-transform.text-transform_variants варианты
          .col-lg-3
            +type-block({
              title: 'ИТ-обследование',
              desc: 'Частый пример: инвентаризация \n' +
                      'аппаратного и программного \n' +
                      'обеспечения, аудит серверов.'

            })
          .col-lg-3.offset-lg-1
            +type-block({
              title: 'Аудит ИТ-отдела',
              desc: 'Проводят совместно с аудитом всех \n' +
                      'бизнес-процессов, связанных с ИТ.'

            })

          .col-lg-3.offset-lg-1
            +type-block({
              title: 'ИТ-обследование',
              desc: 'Экспертиза разработанного ИТ-проекта; \n' +
                      'возможность реформирования \n' +
                      'ИТ-инфраструктуры и т.д.'

            })


        .row
          .col-lg-3.offset-lg-1
            +type-block({
              title: 'Технический IT-аудит',
              desc: 'Это подготовка и анализ информации, \n' +
                      'выдача заключения по работе какого-то \n' +
                      'отдельного элемента IT-инфраструктуры. \n' +
                      'Например, топологии сети, эл. почты; \n' +
                      'или семейства программ 1С и т.д.'

            })
          .col-lg-3.offset-lg-1
            +type-block({
              title: 'Аудит ИТ-критерия',
              desc: 'Довольно часто именно этот тип аудита \n' +
                      'встречается во множестве вариаций, \n' +
                      'таких как: аудит производительности, \n' +
                      'оценка доступности и надежности \n' +
                      'систем и сервисов, анализ безопасности.'

            })
          .col-lg-3.offset-lg-1
            +type-block({
              title: 'Комплексный ИТ-аудит',
              desc: 'Является средоточием всех остальных, \n' +
                      'в реальной практике используется при \n' +
                      'смене топ-менежмента или состава \n' +
                      'учредителей организации.'

            })

    section.section-middle
      .container
        .row
        .row.row-case
          .col-lg-1
            .text-transform.text-transform_result результат
          .col-lg-4
            img(src='../img/result-img.png' alt='', title='').result-img
            .button-result__wrap
              +button('Запросить пример отчета')
          .col-lg-7
            .subtitle.subtitle_mb
              | Предоставляемая отчетность
            .result-block
              +result-item('Описание и документирование («снимок») ИТ-инфраструктуры \n' +
              'в состоянии «как есть»;')
              +result-item('Анализ развития нагрузок, описание узких мест инфраструктуры, \n' +
              'предложениями возможной оптимизации сервисов, оборудования и т.д.;')
              +result-item('Рекомендации по реконфигурации ИТ (если это необходимо) с целью \n' +
              'обеспечения непрерывности бизнеса, повышения надёжности, \n' +
              'производительности и безопасности ИТ-систем;')
              +result-item('Варианты решений по снижению затрат на эксплуатацию ИТ-структуры \n' +
              'с расчетом фин. показателей;')
              +result-item('Предлагаются варианты развития ИТ-инфраструктуры с горизонтом \n' +
              'планирования не менее 3-х лет.')

    include ../_components/project-block
    section.section-middle
      .container
        .row.row-nda
          .col-lg-11.offset-lg-1
            .subtitle.subtitle_mb
              | Заключение договора NDA на ИТ-аудит — гарантия конфенденциальности
            p.
              Одним из документов при проведении услуги аудита ИТ-инфраструктуры является договор NDA, или соглашение о неразглашении конфиденциальной 
               информации. NDA представляет собой юридический документ и заключается между 2-мя сторонами для обмена подобной информации, а доступ третьих 
               лиц к ней строго ограничен. 
    section.section-middle
      .container
        .row
          .col-lg-3.offset-lg-1
            .subtitle Сроки и стоимость 
              .span-br экспресс-аудита
              .span-br составляют от:
          .col-lg-3.offset-lg-1
            .time-block
              img(src='../img/step-img-2.png' alt='', title='').time-block--img
              .time-block__desc
                .time-block__desc--num 5
                .time-block__desc--text.mb-lg-5 рабочих дней
          .col-lg-4
            .time-block.justify-content-lg-end
              img(src='../img/icon-cash.png' alt='', title='').time-block--img
              .time-block__desc
                .time-block__desc--num 30 000
                .time-block__desc--text.mb-lg-5 рублей
                
    include ../_components/feedback-block

