extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service({
        img: 'bg-header-img_services_1с_razrab.jpg',
        title: 'Необходима разработка \n' +
        'баз данных для 1С?',
        desc: 'Мы возьмем на себя разработку необходимой для бизнеса конфигурации баз 1C \n' +
        'от конкретизации идеи ведения учета до ее конечной реализации.'
      }
      )


  main
    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_disposition диспозиция
          .col-lg-7
            +when-block({
              img: 'step-img-16.png',
              desc: 'Вам подходит для ведения учета типовая конфигурация. Мы всегда можем \n' +
              'доработать не достающие в ней блоки, если учет сложный. Например, блок \n' +
              'оплаты сертификатами, усложненный блок логистики, контроль работы \n' +
              'с партнерами.'
            })

            +when-block({
              img: 'step-img-17.png',
              desc: 'На рынке под вашу отрасль присутствует специализированное решение \n' +
              'на 1C. После его внедрения разработчиком, мы можем помочь с поддержкой \n' +
              'и доработкой продукта под вашу специфику.'
            })

            +when-block({
              img: 'step-img-18.png',
              desc: 'Вы не нашли ни одного подходящего решения на 1С, а вести внутренний учет \n' +
              'необходимо, и Excel вам в этом не помогает. Мы готовы разработать на \n' +
              'конфигурацию или базу данных с нуля, которая будет отражать необходимую \n' +
              'вам специфику.'
            })
          .col-lg-3.offset-lg-1
            +disp-right('Если вы еще не проводили анализ \n' +
            'программ для учета в вашей отрасли \n' +
            'или вам нужен совет по примерному \n' +
            'объему затрат на внедрение \n' +
            'специализированного решения, \n' +
            'обращайтесь к нам.')


    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_decision решения
          .col-lg-11
            .row
              .col-lg-12
                .subtitle.subtitle_mb
                  | Популярные конфигурации для доработки    
                .result-block.block-column2.mb-lg-2
                  +result-item('1С Управление торговлей')
                  +result-item('1С Розница')
                  +result-item('1C Управление нашей фирмой')
                  +result-item('1C Бухгалтерия')
                p.
                  Если после анализа бизнес-процессов компании, они укладываются в типовые решения фирмы 1С и требуют только небольших 
                  корректировок, то за основу можно взять такое готовое решение и настроить нужный функционал.
    
    section.section-middle
      .container
        .row
          .col-lg-11.offset-lg-1
            .subtitle.subtitle_mb
              | Разработка базы 1С с нуля   
            p.
              Если в результате проведенного анализа для ведения учета требуется уникальный программный продукт, аналога которого нет среди 
              предложенных на рынке решений от 1C и партнеров, либо есть специализированные решения, но подходящие по функционалу менее 
              чем на 50%, то наилучшим решением будет создание конфигурации с нуля по разработанному техническому заданию.


    section.tariff-block
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_tarif.text-ultragreen тарифы
          .col-lg-11
            .feedback__left
              .tarif-title Стоимость разработки баз 1C
        .row
          .col-lg-3.offset-lg-1
            +tariff-item({
              name: 'Доработка типовых 1С',
              comment: 'создание дополнительных блоков учета',
              from: 'от',
              sum: '50 000',
              cur: 'руб.'
            })
          .col-lg-3.offset-lg-1
            +tariff-item({
              name: 'ТЗ на разработку',
              comment: 'анализ БП и требований к учету',
              from: 'от',
              sum: '20 000',
              cur: 'руб.'
            })
          .col-lg-3.offset-lg-1
            +tariff-item({
              name: 'Разработка 1С с нуля',
              comment: 'создание баз на основе ТЗ',
              from: 'от',
              sum: '200 000',
              cur: 'руб.'
            })

    section.section-middle
      .container
        .row
          .col-lg-11.offset-lg-1
            .subtitle.subtitle_mb
              | Почему стоит выбрать систему 1С в качестве платформы для разработки?  
            p.
              Практика показывает, что практически в любой компании уже есть купленные лицензионные продукты 1C. Поэтому к созданию информационных баз можно 
              приступить без дополнительных затрат на закупку ПО. Основным плюсом разработка базы в 1С является наличие открытого кода, большой пул 
              специалистов на рынке труда для поддержки, а также наличие встроенных процедур для ведения учета, накопления и структурирования информации.



    include ../_components/project-block
      
    include ../_components/clients-block

    section.section-middle
      .container
        .row
          .col-lg-3.offset-lg-1
            img(src='../img/1c-img.png' alt='', title='').one-img
            .steps-title Как мы внедряем 1С
          .col-lg-7.offset-lg-1
            .steps-block
              +step-item({
                img: 'step-img-7.png',
                subtitle: 'Анализ бизнес-процессов в компании',
                text: 'Любая задача по разработке 1C начинается с изучения специфики \n' +
                'компании заказчика, анализа бизнес-процессов, формулировки \n' +
                'требований к учету и моделирования необходимого функционала.'
              })
              +step-item({
                img: 'step-img-1.png',
                subtitle: 'Подготовка технического задания',
                text: 'Как правило, мы помогаем с составлением ТЗ и привлекаем \n' +
                'заказчика только для опроса и формулирования требований. \n' +
                'Либо мы можем составить ТЗ совместно со специалистами \n' +
                'по ведению учёта со стороны клиента.'
              })
              +step-item({
                img: 'step-img-5.png',
                subtitle: 'Создание конфигурации с утвержденными возможностями',
                text: 'Мы разбиваем работу на этапы и оцениваем временные затраты \n' +
                'по каждому пункту. За счет такой оценки мы можем озвучить \n' +
                'клиенту корректные сроки реализации задачи и план проведения \n' +
                'оплат.'
              })
              +step-item({
                img: 'step-img-4.png',
                subtitle: 'Тестирование на контрольных примерах заказчика',
                text: 'На развернутых тестовых системах производится поэтапная \n' +
                'реализация работ. Каждый этап утверждается и принимается \n' +
                'заказчиком. Перед завершающим переносом разработанной \n' +
                'базы на рабочий функционал происходит ее тестирование \n' +
                'на предоставленных демо-примерах.'
              })
              +step-item({
                img: 'step-img-11.png',
                subtitle: 'Оформление инструкций и обучение пользователей',
                text: 'Мы готовим понятные и удобные инструкции по новому \n' +
                'функционалу, а также консультируем и обучаем сотрудников \n' +
                'компании заказчика работе с новыми базами данным.'
              })
              +step-item({
                img: 'step-img-6.png',
                subtitle: 'Запуск и дальнейшая поддержка',
                text: 'Совместно с заказчиком определяется наиболее удобный период\n' +
                'для запуска нового функционала. Чтобы выявить возможные \n' +
                'неучтенные моменты, мы поддерживаем работоспособность \n' +
                'системы на начальном этапе. Сроки сопровождения также \n' +
                'согласовываются с клиентом.'
              })

    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_docs документы
          .col-lg-4
            img(src='../img/result-img.png' alt='', title='').result-img
          .col-lg-7
            .subtitle.subtitle_mb
              | Договор на проведение работ
            p.text-medium
              | Любые работы по 1С можно условно разделить на несколько этапов, поэтому 
              | с заказчиком как правило заключаются три договора. Первый – на проведение 
              | предпроектного обследования и формирование краткого техзадания 
              | на будущий проект. Второй – это договор на проект, со всеми закрепленными 
              | в него этапами внедрения, интеграций, переносов данных, обучения и запуска. 
              | Третий – после запуска системы в работу, определяется необходимый объем 
              | часов на ежемесячную поддержку/доработку системы, сроки реагирования 
              | на заявку, перечень не критичных доработок, которые будут постепенно 
              | внедряться в рамках действия договора на поддержку.


    include ../_components/feedback-block
