extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service({
        img: 'bg-header-img_services_b24_audit.jpg',
        title: 'Аудит производительности \n' +
        'портала Битрикс24',
        desc: 'Изучаем и документируем процессы и сервисы, оборудование и ПО. Выявляем уязвимости, \n' +
        'потенциальные точки отказа, оцениваем риски и формируем рекомендации. Работаем \n' +
        'с территориально-распределенным крупным компаниям, средним и малым предприятиям.'

      }

      )


  main
    section.section-middle
      .container
        .row
          .col-lg-11.offset-lg-1
            p.mb-5
              | Платформа Битрикс24 – это сложная и многофункциональная система, которая требует грамотной настройки опытных специалистов. Некорректная работа 
              | платформы коробочного продукта резко снижает производительность сотрудников и препятствует развитию бизнеса. Мы проведём анализ быстродействия
              | вашего корпоративного портала, чтобы пользователи могли работать комфортно и безопасно.
        .row
          .col-lg-11.offset-lg-1
            .subtitle.subtitle_mb
              | Когда нужен технический аудит Bitrix24.
        .row.row-metod
          .col-lg-1
            .text-transform.text-transform_disposition диспозиция
          .col-lg-3
            +disp-item({
              img: 'step-img-26.png',
              num: '.01',
              desc: 'Компания работает в коробочной \n' +
              'версии Битрикс24. Штатные функции \n' +
              'портала не дорабатывались, или эти \n' +
              'доработки были очень незначительные. \n' +
              'Но в работе системы регулярно \n' +
              'возникают проблемы, с которыми не \n' +
              'может справиться штатный системный \n' +
              'администратор.'
            })
          .col-lg-3.offset-lg-1
            +disp-item({
              img: 'step-img-7.png',
              num: '.02',
              desc: 'Коробочная версия Битрикс24, \n' +
              'пользовательский интерфейс изменён \n' +
              'в соответствии с особенностями \n' +
              'деятельности компании. Обновления \n' +
              'продукта проводились разными \n' +
              'подрядчиками, что привело к \n' +
              'нестабильной работе системы \n' +
              'и снижению её быстродействия. \n' +
              'Пользователи жалуются на длительную \n' +
              'загрузку инструментов и постоянные \n' +
              'сбои в работе.'
            })
          .col-lg-3.offset-lg-1
            +disp-item({
              img: 'when-img-5.png',
              num: '.03',
              desc: 'Произведена глубокая кастомизация \n' +
              'портала: изменён интерфейс, добавлены \n' +
              'нестандартные отчёты и алгоритмы по \n' +
              'бизнес-процессам, настроена \n' +
              'интеграция с 1С или другими внешними \n' +
              'сервисами. Настройка и обновления \n' +
              'давно не выполнялись. При этом клиент \n' +
              'заинтересован в дальнейшем развитии \n' +
              'системы и расширении функциональных \n' +
              'возможностей.'
            })
  
    +profit-block('Мы придерживаемся комплексного подхода в решении любых задач, поэтому над аудитом всегда работает команда специалистов разного профиля: программист Bitrix24, системный инженер, специалист по настройке сервера Linux и ИТ-архитектор.')

    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_progress.price ход проекта
          .col-lg-6
            .subtitle.subtitle_mb
              | Перечень производимых работ
            +result-item('Проверка сервера: оценка мощности выделенного \n' +
            'оборудования или параметров системы виртуализации, \n' +
            'актуальность обновлений;')
            +result-item('Анализ настройки виртуальной машины Битрикса;')
            +result-item('Экспресс-анализ настройки рабочих модулей Битрикс24;')
            +result-item('Анализ производительности и оптимизации портала;')
            +result-item('Оценка стороннего кода: качество и функциональность \n' +
            'произведённых доработок')
            +result-item('Оценка качества интеграции портала с другими сервисами.')
          .col-lg-4.offset-lg-1
            .subtitle.subtitle_mb
              | Результаты
            p.text-medium
              | По итогу проверки заказчик получает документ, содержащий
            +result-item('Перечень проблем, выявленных на \n' +
            'самом портале и в развернутой \n' +
            'платформе;')
            +result-item('Способы устранения недочётов \n' +
            'и стоимость работ;')
            +result-item('Рекомендации по оптимизации \n' +
            'портала и увеличению \n' +
            'быстродействия.')

    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_tarif тарифы
          .col-lg-11
            .subtitle.subtitle_mb
              | Стоимость и сроки проведения аудита Битрикс24
            .tarif-text__wrap
              p.text-medium
                | Стоимость проверки зависит от сложности дополнительных модулей и компонентов, количества пользователей и наличия 
                | произведенных обновлений. Точную стоимость вы сможете узнать после бесплатного экспресс-анализа Вашей системы.
        .row
          .col-lg-5.offset-lg-1
            +rate-item({
              img: 'rate-img1.png',
              subtitle: 'Портал со штатным функционалом',
              sum1: '20 000',
              sum2: '50 000',
              day: '5'
            })
          .col-lg-5.offset-lg-1
            +rate-item({
              img: 'rate-img2.png',
              subtitle: 'Портал со сложной архитектурой',
              sum1: '30 000',
              sum2: '50 000',
              day: '10'
            })

    include ../_components/feedback-block
