extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service({
        img: 'bg-header-img_services_1с_integr.jpg',
        title: 'Требуется интеграция «1С» \n' +
        'с другими приложениями?',
        desc: 'Мы настроим любой, даже сложный и нетиповой обмен 1С с сайтом, \n' +
        'интернет-магазином, порталом Битрикс24 или сторонними системами \n' +
        'учета, сервисами и базами данных.'

      }

      )


  main
    section.section-disposition
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_disposition диспозиция
          .col-lg-7
            +when-block({
              img: 'when-img-5.png',
              desc: 'Необходимо осуществить обмен 1С с сайтом или порталом Битрикс24? \n' +
              'Мы поможем даже, если вам не подходят типовые интеграции для \n' +
              'распространенных CMS-систем (1С битрикс, UMI, Joomla) или настроим \n' +
              'интеграцию под конкретные задачи: например обмен 1С Розница 2.2 или \n' +
              '1С УТ 11 и высоконагруженного интернет-магазина или когда используется \n' +
              'своя логика обмена с пользователями B2B-портала.'
            })

            +when-block({
              img: 'when-img-6.png',
              desc: 'Для внутренних бизнес-процессов в организации используется своя внутренняя \n' +
              'система учета? Такое часто встречается в средних и крупных компаниях, при \n' +
              'этом возникает задача в автоматическом создании документов или процессов \n' +
              'со стороны 1С. Если вам необходимо настроить обмен между базами 1С \n' +
              'и собственной системой учета, то мы сможем помочь.'
            })

            +when-block({
              img: 'when-img-7.png',
              desc: 'Используете сторонние (не на базе 1С) веб-системы или приложения? В таком \n' +
              'случае для интеграции с такими сервисами, как правило, требуется доработка \n' +
              'имеющегося функционала обмена с 1С 8.3, 1С 8.2 или другими версиями \n' +
              'программы, либо разработка этого функционала с нуля. Обращайтесь к нам!'
            })
          .col-lg-3.offset-lg-1
            +disp-right('Неважно, какие именно услуги \n' +
            'по интеграции 1С вам нужны, \n' +
            'мы готовы обсудить ваши задачи \n' +
            'и предложить пути решения!')
    
            
    section.section-disposition
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_decision решения
          .col-lg-11
            .subtitle.subtitle_mb
              | Настраиваем обмен данными в следующих областях:    
            .result-block.block-column3
              +result-item('между базами 1С;')
              +result-item('с интернет-магазином;')
              +result-item('c В2В порталом для клиентов;')
              +result-item('cо сторонними сервисами;')
              +result-item('c корпоративным сайтом;')
              +result-item('c порталом Битрикс24;')
              +result-item('c собственной системой учета;')

                        
    section.tariff-block
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_tarif.text-ultragreen тарифы
          .col-lg-4
            .feedback__left
              .tarif-title Стоимость 
                .span-br интеграции 1С
          .col-lg-7
            .tariff-decs
              | Стоимость проведения работ по интеграции 1С с другими системами зависит 
              | от уровня задачи и состоит из затрат на формализацию технического задания 
              | и затрат на реализацию этапов закрепленных в ТЗ. Ниже приведен перечень 
              | работ наших специалистов по интеграции 1С, цена указана за час.
        .row
          .col-lg-3.offset-lg-1
            +tariff-item__nofrom({
              name: 'Настройка типовых обменов, небольшие доработки',
              comment: 'до 5 ч. работы специалиста',
              sum: '2 500',
              cur: 'руб./час'
            })
          .col-lg-3.offset-lg-1
            +tariff-item__nofrom({
              name: 'Существенная доработка типовой интеграции',
              comment: 'от 10 ч. работы специалиста',
              sum: '2 400',
              cur: 'руб./мес'
            })
          .col-lg-3.offset-lg-1
            +tariff-item__nofrom({
              name: 'Сложная интеграция со сторонними сервисами',
              comment: 'от 20 ч. работы специалиста',
              sum: '2 200',
              cur: 'руб./мес'
            })
    
    section.section-middle
      .container
        .row
          .col-lg-11.offset-lg-1
            .subtitle.subtitle_mb
              | Что делать, если нужны услуги по интеграции 1С?    
            p.
              Наша компания больше 10-ти лет занимается сложной интеграцией 1С, когда у специалистов заказчика не хватает компетенций или опыта, чтобы связать 
              1С с другой учетной системой, а также настроить нетиповой обмен между базами данных, например отраслевая база данных, разработанная под 
              специфику деятельности компании, и 1С бухгалтерия 3.0. Работы такого плана всегда реализуются по ТЗ. За счет наличия в штате компании 
              профессионалов по разным ИТ-направлениям, а не только узко ориентированных программистов 1С, клиент получает в нашем лице команду 
              специалистов для проведения работ по интеграции нужных ему систем.
    
    include ../_components/project-block
      
    include ../_components/clients-block

    section.section-middle
      .container
        .row
          .col-lg-3.offset-lg-1
            img(src='../img/1c-img.png' alt='', title='').one-img
            .steps-title Как мы проводим интеграцию c 1С
          .col-lg-7.offset-lg-1
            .steps-block
              +step-item({
                img:'step-img-1.png',
                subtitle:'Постановка задачи, составление ТЗ',
                text:'Любая задача решается по сформулированному техническому \n' +
                'заданию. Как правило, мы помогаем с составлением ТЗ \n' +
                'и привлекаем заказчика только для опроса и формулирования \n' +
                'требований. Либо мы можем составить ТЗ совместно со \n' +
                'специалистами по интегрируемым продуктам со стороны клиента.'
              })
              +step-item({
                img: 'step-img-2.png',
                subtitle: 'Согласование сроков и этапов работ',
                text: 'Далее, на основе подготовленного технического задания, \n' +
                'разбиваем работу на этапы и оцениваем временные затраты \n' +
                'по каждому пункту. За счет такой оценки мы можем озвучить \n' +
                'клиенту корректные сроки реализации задачи и план \n' +
                'проведения оплат.'
              })
              +step-item({
                img: 'step-img-3.png',
                subtitle: 'Поэтапная интеграция',
                text: 'На развернутых тестовых системах производится поэтапная \n' +
                'реализация работ. Каждый этап утверждается и принимается \n' +
                'заказчиком.'
              })
              +step-item({
                img: 'step-img-4.png',
                subtitle: 'Тестирование работ',
                text: 'Перед завершающим переносом разработанной интеграции \n' +
                'на рабочий функционал происходит ее тестирование \n' +
                'на предоставленных демо-примерах.'
              })
              +step-item({
                img: 'step-img-5.png',
                subtitle: 'Запуск на рабочем функционале',
                text: 'Совместно с заказчиком определяется наиболее удобный период \n' +
                'для запуска, подготавливаются краткие инструкции, и происходит \n' +
                'запуск разработанных интеграций в работу.'
              })
              +step-item({
                img: 'step-img-6.png',
                subtitle: 'Сопровождение работы интеграции',
                text: 'Чтобы выявить возможные неучтенные моменты, мы поддерживаем \n' +
                'работоспособность системы на начальном этапе. Клиент \n' +
                'самостоятельно определяет сроки сопровождения работы \n' +
                'интеграций.'
              })
    section.section-middle
      .container        
        .row
          .col-lg-1
            .text-transform.text-transform_docs документы
          .col-lg-4
            img(src='../img/result-img.png' alt='', title='').result-img
          .col-lg-7
            .subtitle.subtitle_mb
              | Договор на проведение работ
            p.text-medium
              | Любые работы по 1С можно условно разделить на несколько этапов, поэтому 
              | с заказчиком как правило заключаются три договора. Первый – на проведение 
              | предпроектного обследования и формирование краткого техзадания 
              | на будущий проект. Второй – это договор на проект, со всеми закрепленными 
              | в него этапами внедрения, интеграций, переносов данных, обучения и запуска. 
              | Третий – после запуска системы в работу, определяется необходимый объем 
              | часов на ежемесячную поддержку/доработку системы, сроки реагирования 
              | на заявку, перечень не критичных доработок, которые будут постепенно 
              | внедряться в рамках действия договора на поддержку.


    include ../_components/feedback-block
