extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service-button__price({
        img: 'bg-header-img_apps.jpg',
        title: 'Комплексное абонентское \n' +
        'обслуживание компьютеров',
        desc: 'Хотите, чтоб ваш бизнес работал непрерывно и без сбоев? \n' +
        'Передайте свою ИТ-инфраструктуру на абонентское обслуживание компьютеров для B2B, \n' +
        'и получайте безлимитную техническую поддержку через Хелпдеск. '
      }

      )


  main
    section.section-middle
      .container
        .row.row-metod
          .col-lg-1
            .text-transform.text-transform_disposition диспозиция
          .col-lg-5
            +type__pic-block({
              img:'step-img-16.png',
              subtitle: 'Что такое абонентское \n' +
              'обслуживание компьютеров',
              desc: 'Абонентское компьютерное обслуживание юридических лиц \n' +
              'заключается в передаче вопросов администрирования \n' +
              'ИТ-инфраструктуры, техническому обслуживанию компьютеров \n' +
              'внешнему исполнителю по абонентскому договору. При этом \n' +
              'заказчик освобождается от решения вопросов защищенности, \n' +
              'непрерывности и контроля ИТ-системы. А исполнитель наоборот, \n' +
              'отвечает за все упомянутое.'
            })
          .col-lg-5.offset-lg-1
            +type__pic-block({
              img: 'step-img-31.png',
              subtitle: 'С кем мы работаем\n' +
              'и география деятельности',
              desc: 'Мы предоставляем комплексное обслуживание компьютеров \n' +
              'в Санкт-Петербурге для небольших и средних компаний — \n' +
              'производств, складов, оптовых поставщиков. Сотрудничаем \n' +
              'с фирмами в СПб и Ленобласти с 1-2 офисами по городу.\n' +
              'Готовы выехать на аудит либо предоставлять удаленное \n' +
              'ИТ-обслуживание территориально-распределенными сетями \n' +
              'магазинов, птек, клиник.'
            })

    section.section-middle
      .container.container-relative
        .row.row-helpdesk
          .col-lg-1
            .text-transform.text-transform_app приложение

          .col-lg-4
            .iphone-img__wrap
              img(src='../img/iphone.png' alt='', title='').iphone-img
          .col-lg-7
            .iphone-block
              .subtitle
                | Полная информация о здоровье ИТ-инфраструктуры
                | предприятия в <a href="#">вашем cмартфоне!</a>
              .iphone-block--desc
                | Мы первыми из аутсорсеров разработали уникальный инструмент  мониторинга 
                | всех ИТ-сервисов — мобильное приложение ITBOX.  Контролируйте свою 
                | ИТ-инфраструктуру из любой точки мира,  отправляйте заявки в приоритетном 
                | порядке удобным для вас  способом, первыми узнавайте о свежих кейсах 
                | и инновациях  в сфере ИТ-технологий и внедряйте их в своей компании.  
                | Будьте на шаг впереди конкурентов!
              +button('Узнайте больше')

    section.section-middle.guarant-block
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_guarant.text-ultragreen гарантии
          .col-lg-9
            .green-block__title
              | Мы заявляем о качестве своих услуг, обеспечивая его предоставлением
              | ряда гарантийных обязательств для наших клиентов
        .row
          .col-lg-3.offset-lg-1
            +guarant-item({
              img: 'guarant-img-1.png',
              decs: 'Возврат оплаты первого месяца \n' +
              'работы, если вас не устроило \n' +
              'качество услуги.'
            })
          .col-lg-3
            +guarant-item({
              img: 'guarant-img-2.png',
              decs:'Полная конфиденциальность \n' +
              'получаемой нами информации \n' +
              'на договорной основе'
            })
          .col-lg-3
            +guarant-item({
              img: 'guarant-img-3.png',
              decs: 'Время реакции на оставленную \n' +
              'вами заявку регламентировано \n' +
              'и не превысит 15 минут'
            })
          .col-lg-2
            +guarant-item({
              img: 'guarant-img-4.png',
              decs: 'Сохранность данных \n' +
              'и бэкапы критичной для\n' +
              'бизнеса информации'
            })
    
    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_job работы
          .col-lg-11
            .subtitle.subtitle_mb
              | Что входит в ежемесячное компьютерное обслуживание?
            .blue-block
              +blue-item('Клиентская система HelpDesk (работает с понедельника по пятницу с 9-00 до 19-00)')
              +blue-item('Система преактивного мониторинга серверов (работает круглосуточно)')
              +blue-item('Ежемесячные профилактические работы')
                
    include ../_components/project-block

    section.section-middle.concept-block
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_approach.text-ultragreen.price наш подход
          .col-lg-11
            .concept-title
              | Компьютерное обслуживание организаций происходит по принципу «3К»:
        .row
          .col-lg-3.offset-lg-1
            +concept-item({
              num: '01.',
              name: 'Комплекс',
              decs_1: 'Возьмем в «одни руки» вашу \n' +
              'ИТ-инфраструктуру, настройку \n' +
              'учета в «1С», корпоративный \n' +
              'веб-сайт или портал «Битрикс24».',
              decs_2: 'Для любой ИТ-задачи у нас есть \n' +
              'готовое решение, которое мы умеем \n' +
              'грамотно реализовать.',
              decs_3: 'Мы накопили и ведем базу знаний \n' +
              'по ИТ-инцидентам, поэтому нам не \n' +
              'нужно «изобретать колесо» \n' +
              'за ваш счет.'
            })
          .col-lg-3.offset-lg-1
            +concept-item({
              num: '02.',
              name: 'Качество',
              decs_1: 'Задачи ваших сотрудников решаются \n' +
              'быстро. От 15 минут до 4-х часов — \n' +
              'выбираете вы.',
              decs_2:'Финансово подкрепляем качество \n' +
              'своей работы и конфиденциальность \n' +
              'в договоре SLA.',
              decs_3:'Собственная Служба Качества \n' +
              'инспектирует работу и доводит услуги \n' +
              'до совершенства.'
            })
          .col-lg-3.offset-lg-1
            +concept-item({
              num: '03.',
              name: 'Команда',
              decs_1: 'На рынке ИТ мы уже более 15 лет. \n' +
              'Завтра мы будем по-прежнему \n' +
              'стабильно работать — как и ваша \n' +
              'ИТ-инфраструктура.',
              decs_2:'Стабильная команда \n' +
              'сертифицированных сотрудников: \n' +
              'системные инженеры, технический \n' +
              'директор, ИТ-архитектор.',
              decs_3:'Для подтверждения компетенций \n' +
              'проводим аттестацию инженеров \n' +
              'ежеквартально.'
            })

    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_cost стоимость
          .col-lg-11
            .subtitle.subtitle_mb
              | Тарифы на абонентское обслуживание компьютеров организаций
            p.
              Стоимость услуг компьютерного обслуживания зависит от количества компьютеров и серверов. Мы предлагаем обслуживание сервера, почты, 
              видеонаблюдения, настраиваем бэкапы – все это повлияет на ежемесячные платежи.
            
            table.table
              tbody.tbody
                tr.tr-top
                  th.th.th1(rowspan='2') ИТ-сервис
                  th.th.th2(colspan='3') Стоимость по тарифу за единицу техники, рублей в месяц
                tr.tr-top
                  th.th.th3 Удаленный
                  th.th.th3 Стандарт
                  th.th.th3 Оптимум
                tr.tr
                  td.td Компьютеры
                  td.td До 700
                  td.td До 1 000
                  td.td До 1 300
                tr.tr
                  td.td Принтеры, МФУ
                  td.td До 420
                  td.td До 600
                  td.td До 780
                tr.tr
                  td.td Серверы
                  td.td До 1 890
                  td.td До 2 700
                  td.td До 3 510
                tr.tr
                  td.td Каждый последующий офис (склад) по городу
                  td.td 700
                  td.td 1 000
                  td.td 1 300
            
            
    
            p.
              Абонентское обслуживание компьютерной техники в выходные дни обговаривается отдельно как разовые работы по соответствующим тарифам.
            p.mb-5
              | Также вы можете указать уровень SLA, который повлияет на скорость решения заявок и частоту выездов инженера к вам в офис. Базовый уровень SLA 
              | предполагает наличие таких параметров, как:
            .result-block.block-column3
              +result-item('Удаленная поддержка;')
              +result-item('Мониторинг работы ИТ-систем;')
              +result-item('Плановые профработы 1 раз в мес.;')
              +result-item('Выезды инженера — до 2-х в мес.;')
              +result-item('Время реакции на заявки до 2 часов;')
    section.section-middle
      .container
        .row
          .col-lg-11.offset-lg-1
            .subtitle.subtitle_mb
              | Услуга экспресс ИТ-аудита 
            p.mb-5
              | Итоговая стоимость обслуживания компьютеров определяется после проведения бесплатного экспресс-аудита ИТ-инфраструктуры вашей компании 
              | инженером IT-отдела (время проведения: 2-3 часа). В течение 5 рабочих дней вы получите:
            .result-block.block-column3
              +result-item('Анализ узких мест ИТ-инфраструктуры')
              +result-item('Рекомендации по повышению надёжности ИТ;')
              +result-item('Решения по снижению \n' +
              'затрат на IT с финансовым \n' +
              'расчетом.')

    include ../_components/feedback-block
