extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service({
        img: 'bg-header-img_services_1с_vnedr.jpg',
        title: 'Ищете быстрый хостинг \n' +
        'для Битрикс 24?',
        desc: 'Проанализировав задачи и специфику бизнеса, мы предлагаем \n' +
        'производительный хостинг, который подстраивается именно \n' +
        'под ваши задачи!'

      }

      )


  main
    .row-wrap
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_metod методика
          .col-lg-7
            +step-item({
              img: 'step-img-30.png',
              subtitle: 'Подготовка технического задания',
              text: 'Если для небольшого портала будет достаточно минимальных \n' +
              'ресурсов, то для бесперебойной работы индивидуально \n' +
              'настроенной CRM-системы необходима отдельная виртуальная \n' +
              'машина, а также поддержка команды профессионалов.\n'
            })

            +step-item({
              text: 'Мы предлагаем индивидуальные решения для каждого клиента, \n' +
              'которому требуется помощь в интеграции, настройке \n' +
              'и управлении Bitrix24. Хостинг – не единственная наша услуга, \n' +
              'опытная команда ИТ-специалистов гарантирует надежные \n' +
              'решения для вашего бизнеса!\n'
            })

          .col-lg-3.offset-lg-1
            .subtitle.subtitle_mb
              | Стартуйте с нами!
            .mb-5
              p.
                Мы подберем оптимальный вариант 
                для вашей компании! Если вы только 
                стартуете, хостинг для вас будет 
                дешевым и быстрым!
              +button('Заказать')



    .plus-block.row-wrap
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_feedback.text-ultragreen плюсы
          .col-lg-4
            .plus__left
              .plus-title Преимущества нашего 
                .span-br хостинга для 1С Битрикс

              .slider-plus-wrap.slider__wrap
                .dotted-plus-slider__block-desc
                .slider-plus
                  +slider-plus__item

          .col-lg-6.offset-lg-1
            .plus-item
              .plus-item__title Собственная сборка VM Bitrix
              .plus-item__decs
                | Компания Битрикс разработала универсальною сборку 
                | виртуальной машины для CMS Bitrix. Мы оптимизируем 
                | и кастомизируем ее конкретно под ваш WEB-проект.


    .row-wrap
      .container
        .row.block-wrap
          .col-lg-1
            .text-transform.text-transform_metod стоимость
          .col-lg-3
            .subtitle.subtitle_mb
              | Тарифы на хостинг для 1С Битрикс
          .col-lg-7.offset-lg-1
            p.text-medium
              | Мы принципиально не используем регламентированную тарифную сетку, 
              | которая ограничила бы ваши возможности. Стоимость услуги формируется 
              | индивидуально исходя из потребностей клиента.
        .row.block-wrap
          .col-lg-3.offset-lg-1
            +price-item({
              name: 'Минимальная конфигурация платформы:',
              comment: '2 ядра, 4GB RAM, 30GB OS + Data Ultra SSD ',
              from: 'от',
              sum: '950',
              cur: 'руб./мес'
            })
          .col-lg-3.offset-lg-1
            +price-item({
              name: 'Платформа среднего проекта:',
              comment: '4 ядра, 8GB RAM, 30GB OS/ 50GB Data/ 100GB Backup ',
              from: 'от',
              sum: '3 700',
              cur: 'руб./мес'
            })
          .col-lg-3.offset-lg-1
            .green-block
              .green-block__title Приятные бонусы
              +green-block__item('Бесплатный экспресс-аудит')
              +green-block__item('Бесплатный тестовый период на 14 дней')

        .row.block-wrap.align-items-end
          .col-lg-7.offset-lg-1
            .subtitle.subtitle_mb
              | Узнайте стоимость хостинга для вашего проекта!
            p.text-medium
              | Мы подберем для вас оптимальный вариант конфигурации платформы, с учетом 
              | специфики вашего бизнеса и планируемого бюджета.
          .col-lg-3.offset-lg-1
            .subtitle-small Прямой номер эксперта (9:00-23:00):
            a(href="tel:+7 965 022 73 40").tel-red +7 965 022 73 40

        .row
          .col-lg-3.offset-lg-1
            img(src='../img/cert-img1.jpg' alt='', title='').cert-img
          .col-lg-3.offset-lg-1
            img(src='../img/cert-img2.jpg' alt='', title='').cert-img
          .col-lg-3.offset-lg-1
            .subtitle.subtitle_mb
              | Сертификаты 1С Битрикс 
            .mb-5
              img(src='../img/cert-red.png' alt='', title='').cert-right-img
            p.
              Помимо партнерских сертификатов, 
              обязательную аттестацию имеют все 
              специалисты, обслуживающие ваш 
              хостинг.
            p.mb-5
              | Рабочая группа каждого проекта 
              | включает системных инженеров 
              | и сертифицированных разработчиков 
              | CMS 1С-Битрикс и Битрикс24.

    .row-wrap
      .container
        .row.block-wrap
          .col-lg-1
            .text-transform.text-transform_metod информация
          .col-lg-11
            .subtitle.subtitle_mb
              | Хостинг 1 С Битрикс в вопросах и ответах
            +blue-item('Требования CMS Битрикс к хостингу')
            +blue-item('Варианты оплаты услуги')
            +blue-item('Тарифные планы')

    include ../_components/feedback-block
