extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service({
        img: 'bg-header-img_services_1с_nastr.jpg',
        title: 'Вам нужна поддержка\n' +
        'или доработка программ 1С?',
        desc: 'Мы настроим систему под ваши бизнес-процессы и обеспечим её стабильную \n' +
        'работу и обновления. От 7 000 руб./мес. Консультация бесплатно!'

      }

      )


  main
    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_disposition диспозиция
          .col-lg-7
            +when-block({
              img: 'step-img-7.png',
              desc: 'Системы учета на базе программ «1С» на сегодняшний момент используются \n' +
              'практически в каждой компании. Зачастую, на предприятии может\n' +
              'использоваться несколько различных по специфике учета баз данных 1С \n' +
              '(бухгалтерские, кадровые, управленческие, складские и т.д.).'
            })

            +when-block({
              img: 'step-img-11.png',
              desc: 'Продукты фирмы «1С» часто требуют обновления, а иногда и небольших \n' +
              'настроек под специфику учета или консультаций по типовому функционалу. \n' +
              'Хорошо, когда в штате компании есть специалист, который может оперативно \n' +
              'помочь с проведением подобных работ. В случае, если такого специалиста \n' +
              'нет, то компании выгодно иметь надежный тыл в виде абонементного \n' +
              'ежемесячного обслуживания.'
            })

            +when-block({
              img: 'step-img-12.png',
              desc: 'Большая часть работ производится нами за счет удаленного доступа к базам \n' +
              'данных 1С наших клиентов. Но в рамках абонентского обслуживания возможны \n' +
              'и выезды специалистов 1С на площадки клиентов, например, для настройки \n' +
              'торгового оборудования или внедрения сложных блоков учета.'
            })
          .col-lg-3.offset-lg-1
            +disp-right('Неважно, какая у вас задача по \n' +
            'настройке 1C, мы сможем дать \n' +
            'экспертную оценку о необходимых \n' +
            'переменах в структуре учета.')


    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_approach.price наш подход
          .col-lg-11
            .subtitle.subtitle_mb
              | Почему именно мы?    
            .result-block.block-column2
              +result-item('В рамках небольшой абонентской платы мы \n' +
              'обеспечиваем оперативный отклик на срочные \n' +
              'заявки, поступающие от наших клиентов, знаем \n' +
              'их инфраструктуру и сложившиеся процессы в 1С.')
              +result-item('Дежурные специалисты обладают многолетним \n' +
              'опытом администрирования и настройки систем \n' +
              'учета на базе 1С и имеют в своем багаже знаний \n' +
              'массу различных проектов и интеграций с 1С.')
              +result-item('За счет внедренной в нашей компании системы \n' +
              'хелпдеска, поступающие заявки распределяются \n' +
              'автоматически по закрепленным за клиентами \n' +
              'дежурным специалистам.')

    section.tariff-block
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_tarif.text-ultragreen тарифы
          .col-lg-11
            .feedback__left
              .tarif-title Стоимость сопровождения 1С в месяц
        .row
          .col-lg-3.offset-lg-1
            +tariff-item__nofrom({
              name: '«Малый бизнес»',
              comment: 'до 3 ч. работы специалиста',
              sum: '7 000',
              cur: 'руб./мес'
            })
          .col-lg-3.offset-lg-1
            +tariff-item__nofrom({
              name: '«Средний бизнес»',
              comment: 'до 5 ч. работы специалиста',
              sum: '11 000',
              cur: 'руб./мес'
            })
          .col-lg-3.offset-lg-1
            +tariff-item__nofrom({
              name: '«Крупный бизнес»',
              comment: 'до 10 ч. работы специалиста',
              sum: '20 000',
              cur: 'руб./мес'
            })


    include ../_components/project-block
      
    include ../_components/clients-block


    section.section-middle
      .container
        .row
          .col-lg-3.offset-lg-1
            img(src='../img/1c-img.png' alt='', title='').one-img
            .steps-title Как мы настраиваем 1С
          .col-lg-7.offset-lg-1
            .steps-block
              +step-item({
                img:'step-img-13.png',
                subtitle:'Заявка и консультация',
                text:'Вы оставляете заявку и с вами связывается наш менеджер \n' +
                'для консультации и уточнения подробностей техподдержки \n' +
                'и сопровождения 1С.'
              })
              +step-item({
                img: 'step-img-14.png',
                subtitle: 'Аудит состояния 1С',
                text: 'Мы производим аудит текущего состояния: перечень и релизы \n' +
                'используемых в работе конфигураций 1С, требуется ли поддержка \n' +
                '1С бухгалтерии, 1с торговли, 1с зарплаты, обменов с различными \n' +
                'внешними системами (например, с сайтом или Битрикс24) и т.д.'
              })
              +step-item({
                img: 'step-img-1.png',
                subtitle: 'Подбор подходящего тарифа',
                text: 'На основе полученных данных согласовываем с клиентом \n' +
                'оптимальный тарифный план или проект по приведению текущей \n' +
                'системы учета в состояние возможности абонентской поддержки \n' +
                'продуктов 1С.'
              })
              +step-item({
                img: 'step-img-15.png',
                subtitle: 'Договор на работы',
                text: 'Подписываем договор на сопровождение, включающий в себя: \n' +
                'сроки отклика на поступающие от клиента запросы, каналы \n' +
                'подачи заявок, пункт о неразглашении конфиденциальных данных.'
              })

    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_docs документы
          .col-lg-4
            img(src='../img/result-img.png' alt='', title='').result-img
          .col-lg-7
            .subtitle.subtitle_mb
              | Договор на проведение работ
            p.text-medium
              | Любые работы по 1С можно условно разделить на несколько этапов, поэтому 
              | с заказчиком как правило заключаются три договора. Первый – на проведение 
              | предпроектного обследования и формирование краткого техзадания 
              | на будущий проект. Второй – это договор на проект, со всеми закрепленными 
              | в него этапами внедрения, интеграций, переносов данных, обучения и запуска. 
              | Третий – после запуска системы в работу, определяется необходимый объем 
              | часов на ежемесячную поддержку/доработку системы, сроки реагирования 
              | на заявку, перечень не критичных доработок, которые будут постепенно 
              | внедряться в рамках действия договора на поддержку.


    include ../_components/feedback-block
