extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service({
        img: 'bg-header-img_services_1с_vnedr.jpg',
        title: 'Нуждаетесь в грамотном \n' +
        'ведении учета?',
        desc: 'Мы предлагаем комплексное внедрение 1С: от анализа предприятия до настройки \n' +
        'основных бизнес-процессов в системе.'

      }

      )


  main
    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_disposition диспозиция
          .col-lg-7
            +when-block({
              img: 'step-img-19.png',
              desc: 'Ваша компания планомерно развивается, но учет в ней складываются хаотично?\n' +
              'Хотите разобраться в сложившихся бизнес-процессах и настроить связную \n' +
              'и продуманную систему контроля? Комплексное внедрение 1С в данном случае – \n' +
              'наиболее оптимальный вариант'
            })

            +when-block({
              img: 'step-img-20.png',
              desc: 'Бизнес только зарождается и необходимо выстроить все процессы \n' +
              'структурировано и логично: начиная от выбора основной конфигурации 1С \n' +
              'и заканчивая интеграцией с другими сервисами и продуктами? \n' +
              'Мы предоставляем услуги внедрения 1C не только крупным компаниям, \n' +
              'но и стартапам!'
            })

            +when-block({
              img: 'step-img-21.png',
              desc: 'Вы уже когда-то задавались вопросом построения учёта на предприятии, \n' +
              'но выбранные ранее системы 1С практически не внедрены, хоть идеологически \n' +
              'и подходят для вашей деятельности? В таком случае мы предлагаем услугу \n' +
              '«Перевнедрение 1С».'
            })
          .col-lg-3.offset-lg-1
            +disp-right('Неважно, какая у вас задача по настройке 1C, мы сможем дать экспертную оценку о необходимых переменах в структуре учета.')



    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_decision решения
          .col-lg-11
            .row
              .col-lg-12
                .subtitle.subtitle_mb
                  | Области внедрения 1С — базовые составляющие управленческого учета:  
                .result-block.mb-5
                  .row
                    .col-lg-5
                      +result-item('Складской и производственный учет')
                      +result-item('Планирование и управление продажами')
                      +result-item('Кадровый учет и расчет заработной платы')
                    .col-lg-5.offset-lg-1
                      +result-item('Учет товарных запасов, снабжения и закупок')
                      +result-item('Финансовый учет и бюджетирование,')
                      +result-item('CRM-система и контроль работы отдела продаж')
                p.
                  Большинство из указанных разделов в той или иной мере отражены в типовых конфигурациях 1С. Выбор наиболее удачной для внедрения конфигурации 1С 
                  является важным моментом и зависит от специфики вашей деятельности.


    section.tariff-block
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_tarif.text-ultragreen тарифы
          .col-lg-11
            .feedback__left
              .tarif-title Стоимость работ по внедрению 1С
        .row
          .col-lg-3.offset-lg-1
            +tariff-item({
              name: 'Техническое задание на внедрение 1С',
              comment: 'от 10 ч. работы специалиста',
              from: 'от',
              sum: '24 000',
              cur: 'руб.'
            })
          .col-lg-3.offset-lg-1
            +tariff-item({
              name: 'Внедрение типовых продуктов 1С:УНФ',
              comment: 'от 25 ч. работы специалиста',
              from: 'от',
              sum: '48 000',
              cur: 'руб.'
            })
          .col-lg-3.offset-lg-1
            +tariff-item({
              name: 'Внедрение типовых продуктов 1С:УТ',
              comment: 'от 30 ч. работы специалиста',
              from: 'от',
              sum: '48 000',
              cur: 'руб.'
            })

    section.section-middle
      .container
        .row
          .col-lg-11.offset-lg-1
            .subtitle.subtitle_mb
              | Есть же масса компаний, где учет страдает, но прибыли растут?  
            p.
              Да, действительно, есть нишевые направления бизнеса, где ввиду непрекращающегося потока клиентов и прибыли не так важны расходы, аналитика 
              затрат, складские запасы и т.д. Но, статистика говорит о том, что доля таких направлений на рынке ничтожна мала, а конкуренция в основных отраслях 
              заставляет владельцев бизнеса затачивать внутренние процессы компании и вести детальный учет по всем фронтам своей деятельности.
            p.
              Именно такой подход дает компании возможность не только оставаться на плаву, но и быть оперативнее своих конкурентов за счет принятия быстрых, 
              основанных на анализе, решений.



    include ../_components/project-block

    include ../_components/clients-block

    section.section-middle
      .container
        .row
          .col-lg-3.offset-lg-1
            img(src='../img/1c-img.png' alt='', title='').one-img
            .steps-title Как мы внедряем 1С
          .col-lg-7.offset-lg-1
            .steps-block
              +step-item({
                img: 'step-img-7.png',
                subtitle: 'Удаленный анализ компании',
                text: 'Запрос всей возможной информации о текущем положении дел \n' +
                'для предоставления рамочной оценки возможного проекта по \n' +
                'изменению структуры учета заказчика. На основе такого краткого \n' +
                'анализа клиент получает более структурированное понимание \n' +
                'сложившейся у него ситуации в учёте, чтобы принять решение, \n' +
                'как двигаться дальше для достижения поставленных целей.'
              })
              +step-item({
                img: 'step-img-9.png',
                subtitle: 'Проведение предпроектного обследования',
                text: 'Один из самых важных этапов работы: определяются основные \n' +
                'цели и задачи заказчика. В результате такого обследования \n' +
                'клиент получает этапы и сроки будущего внедрения с привязкой \n' +
                'к целям работ, а также бюджет мероприятия. В случае сложного \n' +
                'внедрения на существенные доработки типовой системы \n' +
                'составляется техническое задание.'
              })
              +step-item({
                img: 'step-img-10.png',
                subtitle: 'Поэтапная реализация работ по внедрению системы учета',
                text: 'Мы всегда стараемся выделить важные для заказчика «узлы» \n' +
                'бизнес- процессов в компании, без реализации которых будущий \n' +
                'организм не заживет. Все некритичные доработки, не влияющие \n' +
                'на исполнение рабочих процессов, переносим на этап доработки \n' +
                'функционала (после внедрения всей системы в работу).'
              })
              +step-item({
                img: 'step-img-22.png',
                subtitle: 'Сращивание текущей ИС с проектируемой',
                text: 'Этап переноса учетных данных из старых систем, чтобы переход\n' +
                'на новый функционал ведения учета произошел максимально \n' +
                'плавно.'
              })
              +step-item({
                img: 'step-img-11.png',
                subtitle: 'Обучение будущих пользователей учетной системы',
                text: 'Выделение ролей пользователей и проведение обучения по их \n' +
                'основным обязанностям при работе с учетной системой. \n' +
                'Подготовка кратких инструкций по блокам учета и ролям \n' +
                'пользователей.'
              })
              +step-item({
                img: 'step-img-23.png',
                subtitle: 'Запуск новой системы в работу',
                text: '«Боевая» эксплуатация новой модели учета, доработка \n' +
                'интеграций с другими системами или базами ведения \n' +
                'регламентного учета.'
              })
              +step-item({
                img: 'step-img-6.png',
                subtitle: 'Поддержка и доработка некритичного функционала',
                text: 'Работа с клиентом переводится в режим ежемесячной поддержки \n' +
                'рабочей эксплуатации системы. Согласовывается объем и график \n' +
                'необходимого сопровождения.'
              })

    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_docs документы
          .col-lg-4
            img(src='../img/result-img.png' alt='', title='').result-img
          .col-lg-7
            .subtitle.subtitle_mb
              | Договор на проведение работ
            p.text-medium
              | Любые работы по 1С можно условно разделить на несколько этапов, поэтому 
              | с заказчиком как правило заключаются три договора. Первый – на проведение 
              | предпроектного обследования и формирование краткого техзадания 
              | на будущий проект. Второй – это договор на проект, со всеми закрепленными 
              | в него этапами внедрения, интеграций, переносов данных, обучения и запуска. 
              | Третий – после запуска системы в работу, определяется необходимый объем 
              | часов на ежемесячную поддержку/доработку системы, сроки реагирования 
              | на заявку, перечень не критичных доработок, которые будут постепенно 
              | внедряться в рамках действия договора на поддержку.


    include ../_components/feedback-block
