extends ../templates/template-service
block content
  .header-banner__wrap.slider__wrap
    include ../_components/header
    .header-banner
      +header-banner__item-service({
        img: 'bg-header-img_services_1с_integr.jpg',
        title: 'Настройка \n' +
        'корпоративной почты',
        desc: 'Поможем настроить бесперебойную и надежную работу электронной почты. С эффективной \n' +
        'защитой от спама, с учетом планируемой плотности почтового траффика и требований \n' +
        'к безопасности пересылаемой информации.'

      }

      )


  main
    section.section-middle
      .container
        .row.head-wrap_small
          .col-lg-11.offset-lg-1
            p.text-medium
              | Мы предлагаем услуги по созданию и подключению корпоративной почты, настройке и сопровождению почтовых решений, 
              | подходящих для любого типа компании. Все они безопасны, легко внедряемы и зависят только от потребностей и возможностей 
              | вашей организации.
    section.section-middle
      .container
        .row
          .col-lg-1
            .text-transform.text-transform_decision Решения
          .col-lg-11
            .subtitle.subtitle_mb
              | Варианты настройки корпоративной почты
            p.
              Конечно, установка корпоративной почты того или иного вида зависит от конкретных целей и задач, стоящих перед компанией. 
              Исходя из нашего опыта, предлагаем следующие варианты:
            .row.mb-lg-5
              .col-lg-3
                .corpmail-img__wrap
                  img(src='../img/icon-corpmail1.png' alt='', title='').corpmail-img
                .corpmail-price-subtitle.mb-lg-4 Стоимость:
                .corpmail-price
                  .tariff-cur
                    .span-ultragreen от
                  .tariff-sum.price
                    .span-green 950
                  .tariff-cur
                    .span-ultragreen руб./мес
                .text-ultrasmall.pr-lg-5
                  | Стоимость подключения 
                  | и настройки корпоративной 
                  | почты во многом будет 
                  | зависеть от конфигурации, 
                  | утвержденной в техническом 
                  | задании
              .col-lg-9
                .corpmail-subtitle.subtitle_mb Небольшим предприятиям / рабочим группам проекта / стартапам
                .result-block
                  +result-item('Вы только начинаете или ведете временный проект;')
                  +result-item('Имеете небольшое количество почтовых ящиков;')
                  +result-item('Не пересылаете объемные вложения.')
                p.text-medium
                  | Вам подойдет бесплатная корпоративная почта на почтовых серверах Yandex или Mail (Google 
                  | и Microsoft Exchange Online теперь платные сервисы).
                .row.mb-lg-5
                  .col-lg-6
                    .corpmail-price-subtitle.mb-lg-3 Результат
                    ul.corpmail-list
                      li.corpmail-item Корпоративная почта вида pochta@company.ru;
                      li.corpmail-item Любое количество учетных записей;
                      li.corpmail-item Скорость инициализации почтового сервера.
                  .col-lg-6
                    .corpmail-price-subtitle.mb-lg-3 Требования для внедрения
                    ul.corpmail-list
                      li.corpmail-item Доменное имя;
                      li.corpmail-item Список планируемых адресов и групп.
                .row.mb-lg-5
                  .col-lg-12
                    .corpmail-price-subtitle.mb-lg-3 Недостатки решения
                    ul.corpmail-list
                      li.corpmail-item «Общественный» SaaS (ПО как услуга), т.е. надо быть готовым, к «торможениям» с получением и отправлением почты, периодической рассинхронизации протоколов, отсутствием гибкости в настройках;
                      li.corpmail-item Вопросы со скоростью работы почты, невозможностью прочитать письмо — не получат ответа (поскольку не посмотреть даже логи). Полностью управлять ситуацией не удастся.
            .row
              .col-lg-3.pr-lg-5
                .corpmail-img__wrap
                  img(src='../img/icon-corpmail2.png' alt='', title='').corpmail-img
                .corpmail-price-subtitle.mb-lg-4 Справка:
                a(href="javascript:void(0);").link Что выбрать — почта Zimbra или MS Exchange?
              .col-lg-9
                .corpmail-subtitle.subtitle_mb Среднему бизнесу
                p.text-medium
                  | Для подключения корпоративной почты компаниям от 20-30 почтовых ящиков с плотным 
                  | трафиком деловой переписки и высокой скоростью доставки адресатам мы предлагаем 
                  | почтовые сервера на основе ПО Zimbra или MS Exchange.
                .row
                  .col-lg-6
                    .corpmail-price-subtitle.mb-lg-3 Результат
                    ul.corpmail-list
                      li.corpmail-item Высокая доступность сервера и скорость доставки сообщений;
                      li.corpmail-item Возможность выбора платформы антивирусной проверки сообщений и тонкая настройка интеллектуального спам-фильтра;
                      li.corpmail-item Поддержка массовой корпоративной рассылки с аналитикой;
                      li.corpmail-item Настройка резервного копирования с учетом требований клиента по приоритетам.
                  .col-lg-6
                    .corpmail-price-subtitle.mb-lg-3 Требования для внедрения
                    ul.corpmail-list
                      li.corpmail-item Доменное имя;
                      li.corpmail-item Техническое задание (обычно наши системные инженеры составляют его на основе пожеланий и требований Заказчика);
                      li.corpmail-item Вычислительные мощности;
                      li.corpmail-item Близость к магистральным каналам Интернета (это требование выполняется при размещении центра коммуникации компании (почта, телефония) в ЦОДе с уровнем надежности Tier 3.

                                            
    section.section-middle
      .container
        .row
          .col-lg-11.offset-lg-1
            table.table
              tbody.tbody
                tr.tr-top
                  th.th.th1(rowspan='2') Статья затрат
                  th.th.th2(colspan='2') Стоимость на 25 почтовых ящиков
                tr.tr-top
                  th.th.th3 Zimbra
                  th.th.th3 MS Exchange
                tr.tr
                  td.td Вычислительные мощности
                  td.td от 1800 руб. в месяц (2 ядра/ 4Гб ОЗУ/ 20Гб Диск+ объем почтовых ящиков)
                  td.td от 3400 руб. в месяц (4 ядра / 8Гб ОЗУ/ 100Гб Диск + объем почтовых ящиков)
                tr.tr
                  td.td Настройка почтового сервера
                  td.td от 40 000 руб.
                  td.td от 20 000 руб.
                tr.tr
                  td.td Лицензирование
                  td.td бесплатно
                  td.td 230 руб. в месяц за 1 почтовый ящик (учетную запись)
          
        .row
          .col-lg-8.offset-lg-1
            .alarm__wrap
              img(src='../img/icon-alarm.png' alt='', title='').icon-alarm
              p.text-medium Если вам интересна настройка рабочей почты на телефоне или планшете, обратите внимание услугу <a href="#">Мобильный мир</a>.

    include ../_components/feedback-block
