section.section-clients
  .container
    .row
      .col-lg-9.offset-lg-1
        .subtitle.subtitle_mb.pr-lg-5
          | Среди наших клиентов ведущие компании Петербурга, с большей 
          | частью из которых <a href="#">мы работаем на протяжении нескольких лет</a>
      .col-lg-2
        .container-arrows

  .container.container-relative
    .row
      .col-lg-1
        .text-transform.text-transform_clients клиенты

      .col-lg-11
        .slider-clients
          +slider-clients__item({ img: 'logo-clients-1.png',})
          +slider-clients__item({ img: 'logo-clients-2.png',})
          +slider-clients__item({ img: 'logo-clients-3.png',})
          +slider-clients__item({ img: 'logo-clients-3.png',})
          +slider-clients__item({ img: 'logo-clients-3.png',})
