section.section-feedback
  .container
    .row
      .col-lg-1
        .text-transform.text-transform_feedback.text-ultragreen feedback
      .col-lg-4
        .feedback__left
          .feedback--title Обсудим 
            .span-br вашу задачу?
          .form-photo__desc-contacts
            .form-photo__desc-time Прямой номер эксперта (9.00–23.00):
            a(href="tel:+7 965 022 73 40").form-photo__desc-tel +7 965 022 73 40 
      .col-lg-7
        form.feedback-form
          .row.feedback-form__block
            .col-lg-6
              +input('Ваше ФИО', 'input-star input-man')
            .col-lg-6
              +input('Контактный телефон', 'input-star input-phone', 'phone')
            .col-lg-6
              +input('Email', 'input-star input-email')
            .col-lg-6
              +input('Название компании', 'input-case')
            .col-lg-12
              +textarea('Опишите задачи или проблемы вашей ит-инфраструктуры', 'input-star input-send')
          .row
            .col-lg-12
              .button-wrap.d-flex.justify-content-between.align-items-lg-center
                .attach-block
                  a(href="javascript:void(0);").attach-link Прикрепить файл

                +button-white('Отправить заявку')
                        
        
