footer.footer-wrap
  .container
    .row
      .col-5
        .footer-left
          .footer-logo
          a(href="javascript:void(0);").politics Политика
            .span-br конфеденциальности
      .col-2
        .footer-menu--title НАШИ УСЛУГИ
        ul.footer-menu
          li.footer-item
            a(href="javascript:void(0);").footer-link Аутсорсинг
          li.footer-item
            a(href="javascript:void(0);").footer-link 1С
          li.footer-item
            a(href="javascript:void(0);").footer-link Битрикс 24 
          li.footer-item
            a(href="javascript:void(0);").footer-link WEB-решения
          li.footer-item
            a(href="javascript:void(0);").footer-link Облако
          li.footer-item
            a(href="javascript:void(0);").footer-link Безопасность
          li.footer-item
            a(href="javascript:void(0);").footer-link Wi-Fi
      .col-2
        .footer-menu--title информация
        ul.footer-menu
          li.footer-item
            a(href="javascript:void(0);").footer-link Компания
          li.footer-item
            a(href="javascript:void(0);").footer-link Проекты
          li.footer-item
            a(href="javascript:void(0);").footer-link Блог
          li.footer-item
            a(href="javascript:void(0);").footer-link Глоссарий
          li.footer-item
            a(href="javascript:void(0);").footer-link Контакты

      .col-3
        .footer-right
          a(href="tel:+7 812 363 17 87").tel-contact +7 812 363 17 87
          +button-tr('Отправить заявку')
          .desc-contact
            | Санкт-Петербург, ул. Учительская, д. 23, 
            | Бизнес-центр «Атолл», оф. 220
          a(href="mailto:info@stekspb.ru").mail-contact info@stekspb.ru 




