.header-wrap
  .header-wrap--inner
    .site-menu
      .site-menu__inner--wrap
        .logo-menu
        .site-menu__inner
          .container
            .site-menu__container
              #menu1.tabs__block.active(data-thumb="menu1")
                .container
                  .row
                    .col-4
                      .site-menu--title Аутсорсинг
                        .span-br ИТ-инфраструктуры
                      .site-menu-links
                        .site-menu-links__item
                          img(src='../img/icon-resolve.png' alt='', title='').site-menu-links__icon
                          a(href="javascript:void(0);").site-menu-links--link отраслевые решения
                        .site-menu-links__item
                          img(src='../img/icon-calc.png' alt='', title='').site-menu-links__icon
                          a(href="javascript:void(0);").site-menu-links--link Калькулятор ИТ
                        .site-menu-links__item
                          img(src='../img/icon-mail.png' alt='', title='').site-menu-links__icon
                          a(href="javascript:void(0);").site-menu-links--link заявка в helpdesk 
                    .col-8
                      .site-menu__nav
                        .row
                          .col-7
                            each val in ["Аудит ИТ-инфраструктуры","ИТ менеджмент","Комплексное абонентское обслуживание компьютеров","Обслуживание серверов","Клиентская система Helpdesk","Настройка или интеграция IP-телефонии с Б24/CRM"]
                              .site-menu__nav-item
                                a(href="javascript:void(0);").site-menu__nav-link=val
                          .col-5
                            each val in ["Интеграция/миграция почты","Оптимизация 1С","PostgreSQL для 1С","Мобильное приложение ITBOX"]
                              .site-menu__nav-item
                                a(href="javascript:void(0);").site-menu__nav-link=val



              #menu2.tabs__block(data-thumb="menu2")
                .container
                  .menu-wrapper__header
                  .menu-wrapper
                    p.
                      Контент2
              #menu3.tabs__block(data-thumb="menu3")
                .container
                  .menu-wrapper__header
                  .menu-wrapper
                    p.
                      Контент3
              #menu4.tabs__block(data-thumb="menu4")
                .container
                  .menu-wrapper__header
                  .menu-wrapper
                    p.
                      Контент4
              #menu5.tabs__block(data-thumb="menu5")
                .container
                  .menu-wrapper__header
                  .menu-wrapper
                    p.
                      Контент5
              #menu6.tabs__block(data-thumb="menu6")
                .container
                  .menu-wrapper__header
                  .menu-wrapper
                    p.
                      Контент6
              #menu7.tabs__block(data-thumb="menu7")
                .container
                  .menu-wrapper__header
                  .menu-wrapper
                    p.
                      Контент7

    header.header
      .container.header-container
        .site-menu__close
        .header-container__inner
          .header-left
            a(href="main.html").header-logo
          .header-right
            ul.menu
              li.menu__item.tabs-item(data-thumb="menu1")
                a(href="javascript:void(0);").menu__item-link Аутсорсинг
              li.menu__item.tabs-item(data-thumb="menu2")
                a(href="javascript:void(0);").menu__item-link 1С
              li.menu__item.tabs-item(data-thumb="menu3")
                a(href="javascript:void(0);").menu__item-link Битрикс 24
              li.menu__item.tabs-item(data-thumb="menu4")
                a(href="javascript:void(0);").menu__item-link WEB-решения
              li.menu__item.tabs-item(data-thumb="menu5")
                a(href="javascript:void(0);").menu__item-link Облако
              li.menu__item.tabs-item(data-thumb="menu6")
                a(href="javascript:void(0);").menu__item-link Безопасность
              li.menu__item.tabs-item(data-thumb="menu7")
                a(href="javascript:void(0);").menu__item-link Wi-Fi
      
      
                                                

