header.header-top__wrap
  .container
    .row
      .col-12
        .header-top
          .header-top__left
            .header-menu
              ul.header-menu_list
                li.header-menu__item.active
                  a(href="javascript:void(0);").header-menu__link Компания
                li.header-menu__item
                  a(href="javascript:void(0);").header-menu__link Проекты 
                li.header-menu__item
                  a(href="javascript:void(0);").header-menu__link Клиенты 
                li.header-menu__item
                  a(href="javascript:void(0);").header-menu__link Отрасли 
                li.header-menu__item
                  a(href="javascript:void(0);").header-menu__link Контакты 
                //li.nav-menu__search
                //  .header__control-box
                //    form.header__search
                //      .header__search-open
                //      .header__search-input
                //        input(type='search', placeholder='Введите запрос...')
                //      button.header__search-find(href='#') Найти
                //      .header__search-cancell
                //        | Отмена
                //

                li.header-menu__item
                  form.header__search
                    .header__search-open
                    .header__search-input
                      input(type='search', placeholder='Введите запрос...')
                    button.header__search-find(href='#') Найти
                    .header__search-cancell
                      | Отмена


          .header-top__right
            a(href="tel:+7 812 363 17 87").header-tel +7 812 363 17 87
            a(href="javascript:void(0);").header-call Перезвонить Вам?
            +button('Отправить заявку')

              
            
          
            
     
      
        
      
    
    
