mixin button(title)
  a(href="javascript:void(0);").button.button-red=title
  
mixin button-red__banner(title)
  a(href="javascript:void(0);").button.button-red__banner=title

mixin button-white(title)
  a(href="javascript:void(0);").button.button-white=title


mixin button-tr(title)
  a(href="javascript:void(0);").button.button-tr=title



mixin product-item(data)
  .col-lg-3
    a(href="javascript:void(0);").product-item
      .product-item__img-wrap
        img(src=`../img/${data.img}` alt='', title='').product-item__img
      .product-item__desc=data.text
      .product-item__data 04 февраля 2019




mixin header-slider__item
  .header-slider__item(style="background-image:url('../img/bg-header-img.jpg');")
    .container
      .header-slider__item-inner
        .row
          .col-6
            .header-slider__title Бизнес как система
            .header-slider__desc
              | Линейка наших услуг сформирована исходя из потребностей 
              | современной компании в ИТ-сервисах, приведенных к единым 
              | стандартам обслуживания.
          .col-3.offset-lg-1
            .header-slider__right
              img(src='../img/calc.png' alt='', title='').header-slider__right-img
              .header-slider__subtitle
                | Контролируйте
                | затраты на ИТ
              .header-slider__text
                | Экономьте до 70%




mixin header-banner__item-service(data)
  .header-banner__item(style=`background-image:url('../img/${data.img}');`)
    .container
      .header-banner__item-inner
        .row
          .col-lg-9
            .breadcrumb__list
              a(href="javascript:void(0);").breadcrumb__link.home Главная
              a(href="javascript:void(0);").breadcrumb__link Аутсорсинг
              span.breadcrumb__link Комплексное абонентское обслуживание 
            .header-slider__title=data.title
        .row
          .col-lg-12  
            .header-slider__desc=data.desc


mixin header-banner__item-service-button(data, num)
  .header-banner__item(style=`background-image:url('../img/${data.img}');`)
    if(num)
      .banner-num 528
    .container
      .header-banner__item-inner
        .row
          .col-lg-9
            .breadcrumb__list
              a(href="javascript:void(0);").breadcrumb__link.home Главная
              a(href="javascript:void(0);").breadcrumb__link Аутсорсинг
              span.breadcrumb__link Комплексное абонентское обслуживание компьютеров
            .header-slider__title=data.title
            .header-slider__desc.desc-banner__pr=data.desc
          .col-lg-3
            .header-banner__right
              +button-red__banner('Отправить запрос')
              
mixin header-banner__item-service-button__price(data, num)
  .header-banner__item(style=`background-image:url('../img/${data.img}');`)
    if(num)
      .banner-num 528
    .container
      .header-banner__item-inner
        .row
          .col-lg-10
            .breadcrumb__list
              a(href="javascript:void(0);").breadcrumb__link.home Главная
              a(href="javascript:void(0);").breadcrumb__link Аутсорсинг
              span.breadcrumb__link Комплексное абонентское обслуживание компьютеров
            .header-slider__title=data.title
            .header-slider__desc=data.desc
          .col-lg-2
            .header-banner__right
              +button('Узнайте цены')              

mixin slider-clients__item(data)
  .header-banner__item(style=`background-image:url('../img/${data.img}');`)
    .container
      .header-banner__item-inner
        .row
          .col-lg-8
            .header-slider__title=data.title
            .header-slider__desc=data.desc
          .col-3
            .header-banner__right
              +button-white('Отправить запрос')
  //.slider-clients__item
  //  .slider-clients__img-wrap
  //    .slider-clients__img(style=`background-image:url('../img/${data.img}');`)
  //  .slider-clients__desc
  //    | Российско-финская корпорация, 
  //    | предоставляющая услуги аренды 
  //    | и обслуживания спецодежды 
  //    | и вестибюльных ковров
  //  .slider-clients__info Сотрудничаем с 2005 года 


mixin slider-advant__item
  .slider-advant__item
    .advant-num 80
      span.span +
    .advant-desc
      | заявок ежедневно
      | обрабатывается нашими
      | специалистами


mixin sidebar-nav__block(title, arr)
  .sidebar-nav__block
    .sidebar-nav--title=title
    ul.sidebar-nav__list
      each val in arr
        li.sidebar-nav__item
          a(href="javascript:void(0);").sidebar-nav--link=val


mixin submenu(arr, dataID)
  .submenu(data-menu=dataID)
    ul.submenu__list
      each val in arr
        li.submenu__item
          a(href="javascript:void(0);").submenu--link=val



mixin slider-resolve__item(desc)
  .slider-resolve__item
    .slider-resolve__img(style="background-image:url('../img/slider-resolve-img.png');")
    .slider-resolve__desc=desc


mixin slider-clients__item(data)
  .slider-clients__item
    .slider-clients__img-wrap
      .slider-clients__img(style=`background-image:url('../img/${data.img}');`)
    .slider-clients__desc.pr-lg-5
      | Российско-финская корпорация, 
      | предоставляющая услуги аренды 
      | и обслуживания спецодежды 
      | и вестибюльных ковров
    .slider-clients__info Сотрудничаем с 2005 года 

mixin when-block(data)
  .when-block
    img(src=`../img/${data.img}` alt='', title='').when-icon
    p.text-small=data.desc
      

mixin type-block(data)
  .type-block
    .type-title=data.title
    p.type-desc=data.desc
    
mixin type__pic-block(data)
  .type-block
    .type-top
      .type-img__wrap
        img(src=`../img/${data.img}` alt='', title='').type-img
      .type-subtitle=data.subtitle
    p.type-desc=data.desc

mixin service-block(data)
  .service-block
    img(src=`../img/${data.img}` alt='', title='').service-icon
    .service-title=data.title
    .service-decs=data.decs

mixin input(place, starClass, classPhone)
  div(class="input-wrap " + starClass)
    .input-title=place 
      
    input(type='text' placeholder=place class=classPhone).input


mixin textarea(place, starClass)
  div(class="input-wrap " + starClass)
    textarea(type='text' placeholder=place).textarea

    
mixin result-item(desc)
  .result-item
    .icon-check
    .result-text=desc
      
mixin list-item__yellow(desc)
  .list-item
    .icon-check__yellow
    .list-item__text=desc

mixin metod-item(data)
  .metod-item
    .metod-img__wrap
      img(src=`../img/${data.img}` alt='', title='').metod-img
      .metod-img__num=data.num
    .type-title=data.title
    p.text-medium=data.desc
    
mixin disp-item(data)
  .disp-item
    .disp-img__wrap
      img(src=`../img/${data.img}` alt='', title='').disp-img
      .disp-img__num=data.num
    .type-title=data.title
    p.text-small=data.desc
    

      
mixin privilege-item(data)
  .privilege-item
    .privilege__num=data.num
    .text-medium=data.text

mixin feedback-item(data)
  .feedback-item
    .client-img__wrap
      img(src=`../img/${data.img}` alt='', title='').feedback-img
    .client-name=data.name
    .client-decs=data.decs
    .client-quote=data.quote
    a(href="javascript:void(0);").feedback-original Оригинал отзыва

mixin tariff-item(data)
  .tariff-item
    .tariff-name=data.name
    .tariff-comment=data.comment
    .tariff-price
      .tariff-cur=data.from
      .tariff-sum.price=data.sum
      .tariff-cur=data.cur 
        
mixin tariff-item__nofrom(data)
  .tariff-item
    .tariff-name=data.name
    .tariff-comment=data.comment
    .tariff-price
      .tariff-sum.price=data.sum
      .tariff-cur=data.cur

mixin price-item(data)
  .tariff-item
    .tariff-name=data.name
    .tariff-comment=data.comment
    .tariff-price
      .tariff-cur
        .span-ultragreen=data.from
      .tariff-sum.price
        .span-green=data.sum
      .tariff-cur
        .span-ultragreen=data.cur

mixin step-item(data)
  .step-item
    .step-img__wrap
      img(src=`../img/${data.img}` alt='', title='').step-img
    .step-decs
      .step-subtitle=data.subtitle
      .step-text=data.text
        
mixin blue-item(desc)
  .blue-item
    .blue-icon
    .blue-text=desc  
      
mixin blue-list(data)
  .blue-list
    .blue-count=data.count
    .blue-text=data.text 
      
mixin slider-plus__item
  .slider-plus__item
    .plus-count 02
      span.span / 07

mixin green-block__item(decs)
  .green-block__item
    .icon-white
    .green-block__text=decs

mixin guarant-item(data)
  .guarant-item
    img(src=`../img/${data.img}` alt='', title='').guarant-img
    .guarant-decs=data.decs
      
mixin team-item(data)
  .team-item
    img(src=`../img/${data.img}` alt='', title='').team-img
    .team-decs.text-medium=data.decs

mixin concept-item(data)
  .concept-item
    .concept-num__wrap
      .concept-num=data.num 
      .icon-check-yellow
    .concept-name=data.name
    .concept-decs.text-small=data.decs_1
    .concept-decs.text-small=data.decs_2
    .concept-decs.text-small=data.decs_3

mixin rate-item(data)
  .rate-item
    .rate-img__wrap
      img(src=`../img/${data.img}` alt='', title='').rate-img
    .rate-info
      .type-subtitle=data.subtitle
      .rate-decs
        .text-medium.span_gray от
          span.rate-span=data.sum1
        .text-medium.span_gray до
          span.rate-span=data.sum2
        .text-medium.span_gray руб.
      .rate-decs
        .text-medium.span_gray до
          span.rate-span=data.day
        .text-medium.span_gray рабочих дней

mixin profit-block(decs)
  section.section-middle.profit-block
    .container
      .row
        .col-lg-1
          .text-transform.text-transform_benefit.text-ultragreen.price ваша выгода
        .col-lg-2
          img(src='../img/icon-profit.png' alt='', title='').profit-img
        .col-lg-5
          .profit-title Ключевой фактор, обеспечивающий успешное <span class="span_yellow">внедрение портала Битрикс24</span>
          p.text-medium=decs
        .col-lg-3.offset-lg-1
          .profit-subtitle Задайте вопросы напрямую руководителю проектов Б24 (9.00–23.00):
          a(href="tel:+7 965 022 73 40").tel-profit +7 965 022 73 40
          .button.button-white-black Перезвонить Вам?

            
mixin service24__item(data)
  .service24__item
    .service24__num=data.num
    .text-medium=data.decs
                
mixin cost-item(data)
  .cost-item
    .cost-top
      .cost-img__wrap
        img(src=`../img/${data.img}` alt='', title='').rate-img
      .cost-info
        .subtitle=data.subtitle
        .cost-decs
          .text-medium.span_gray от
          span.cost-span=data.sum
          .text-medium.span_gray руб.
    .cost-middle
      .icon-check
      .type-subtitle Что входит в затраты: 
    ul.cost-bottom
      li.cost-text=data.text_1
      li.cost-text=data.text_2
      li.cost-text=data.text_3
      li.cost-text=data.text_4
      li.cost-text=data.text_5
        

mixin disp-right(decs)
  .disp-right
    .subtitle.subtitle_mb
      | Мы ценим время наших
      | клиентов! 
    p.text-small.mb-lg-5=decs
    .subtitle-small Прямой номер эксперта (9:00-23:00):
    a(href="tel:+7 965 022 73 40").tel-red +7 965 022 73 40
