section.section-projects
  .container
    .row
      .col-lg-11.offset-lg-1
        .row.head-wrap
          .col-lg-9
            .subtitle.pr-lg-4
              | Проектный отдел, крутой и мотивирующий тезис про специалистов
              | и компетенцию, ну и ссылка <a href="#">на полный список проектов</a>
          .col-lg-3
            .button-wrap.justify-content-lg-end
              +button('Заявка на проект')
  .container.container-relative
    .num-bg 528
    .row
      .col-lg-1
        .text-transform.text-transform_project проекты
      +product-item({
        img: 'img-content1.png',
        text: 'Комплексная оптимизация\n' +
                'интернет-магазина: интеграция \n' +
                'с CRM, 1С и телефонией'
      })
      .col-lg-1
      +product-item({
        img: 'img-content2.png',
        text: 'Промо-решение: \n' +
                'динамическая карта дождя \n' +
                'Санкт-Петербурга'
      })
      .col-lg-1
      +product-item({
        img: 'img-content3.png',
        text: 'Комплексная оптимизация\n' +
                'интернет-магазина: интеграция \n' +
                'с CRM, 1С и телефонией'
      })

