.sidebar
  .sidebar-left
    .sidebar-title__wrap
      .humb
      .sidebar-title Меню
    .sidebar-block
      .social
        .social-item
          a(href="javascript:void(0);").social-link.social-link_vk
        .social-item
          a(href="javascript:void(0);").social-link.social-link_in
      .sidebar-copy
        img(src='../img/icon-copy.png' alt='', title='').sidebar-copy--img
        .sidebar-copy__text ООО «СТЕК»  2020

.sidebar-menu
  .sidebar-menu__level-1
    .sidebar-menu__inner-nano.nano
      .sidebar-menu__inner--left.nano-content
        a(href="main.html").header-logo
        ul.sidebar-menu__list
          li.sidebar-menu__item(data-menu='1')
            a(href="javascript:void(0);").sidebar-menu__link Компания

          li.sidebar-menu__item(data-menu='2')
            a(href="javascript:void(0);").sidebar-menu__link Проекты
          li.sidebar-menu__item(data-menu='3')
            a(href="javascript:void(0);").sidebar-menu__link Блог
          li.sidebar-menu__item(data-menu='4')
            a(href="javascript:void(0);").sidebar-menu__link Глоссарий
          li.sidebar-menu__item(data-menu='5')
            a(href="javascript:void(0);").sidebar-menu__link Контакты


        .sidebar-search__wrap
          input(type='search' placeholder='Поиск').sidebar-search
          a(href="javascript:void(0);").sidebar-search--icon

        .sidebar-contact__block
          a(href="tel:+7 812 363 17 87").sidebar-tel +7 812 363 17 87
          a(href="javascript:void(0);").call-link Перезвонить Вам?
          +button('Отправить заявку')
        a(href="javascript:void(0);").conf Политика конфиденциальности
  .sidebar-menu__level-2
    .sidebar-menu__inner-nano.nano
      .sidebar-menu__inner--right.nano-content
        .sidebar-nav__block--wrap
          +sidebar-nav__block('Аутсорсинг', ['Аудит ИТ-инфраструктуры', "ИТ менеджмент", "Комплексное абонентское обслуживание компьютеров", "Обслуживание серверов", "Клиентская система Helpdesk", "Настройка или интеграция IP-телефонии с Б24/CRM", "Интеграция/миграция почты", "Оптимизация 1С", "PostgreSQL для 1С", "Мобильное приложение ITBOX", "Калькулятор ИТ"])
          +sidebar-nav__block('1C', ["Внедрение 1С", "Настройка конфигурации 1С", "Поддержка программ 1С", "Интеграция 1С с другими приложениями", "Разработка баз данных в 1С"])
          +sidebar-nav__block('Битрикс 24', ["Начать работу", "Все возможности", "Коробка Битрикс24", "Система управления", "Интеграция Битрикс24"])

        .sidebar-nav__block--wrap
          +sidebar-nav__block('WEB-решения', ["Технический аудит сайта", "Разработка сайтов", "Разработка мобильных приложений", "Разработка B2B-порталов", "WEB/APP/B2B комлекс", "Интеграция интернет-магазина с 1С"])
          +sidebar-nav__block('Облако', ["Частное облако для бизнеса", "Аренда сервера для 1С", "Хостинг высоконагруженных систем", "Резервное копирование в облако"])
          +sidebar-nav__block('Безопасность', ["Аудит безопасности", "Тест на проникновение (пентест)", "Контроль за сотрудниками", "Восстановление после вирусов"])
          +sidebar-nav__block('Wi-Fi', ["Загородный дом: WiFi/ Видеонаблюдение / Охрана", "Wi-Fi для офиса", "Wi-Fi для мероприятия", "WiFi для склада"])

  .submenu__block
    +submenu([
      'Структура',
      'Стандарты качества',
      'Сотрудники',
      'Карьера',
      'Партнерство',
      'Наши клиенты',
      'Вендоры',
      'Сертификаты',
      'English speaking support'
    ],
      '1'
    )
    +submenu([
      'Структура',
      'Стандарты качества',
      'Сотрудники',
      'Карьера',
      'Партнерство',
      'Наши клиенты',
      'Вендоры',
      'Сертификаты',
      'English speaking support'
    ],
      '2'
    )
    +submenu([
      'Структура',
      'Стандарты качества',
      'Сотрудники',
      'Карьера',
      'Партнерство',
      'Наши клиенты',
      'Вендоры',
      'Сертификаты',
      'English speaking support'
    ],
      '3'
    )
    +submenu([
      'Структура',
      'Стандарты качества',
      'Сотрудники',
      'Карьера',
      'Партнерство',
      'Наши клиенты',
      'Вендоры',
      'Сертификаты',
      'English speaking support'
    ],
      '4'
    )
    +submenu([
      'Структура',
      'Стандарты качества',
      'Сотрудники',
      'Карьера',
      'Партнерство',
      'Наши клиенты',
      'Вендоры',
      'Сертификаты',
      'English speaking support'
    ],
      '5'
    )
  
